<template>
  <div>
    <!-- Before Clik Account Show Module  -->
    <v-btn
      @click="
        (accountShow = !accountShow),
          $nuxt.$emit('eventName', { cart: false }),
          $nuxt.$emit('eventSearchOff', { searchOff: false }),
          $nuxt.$emit('eventToggleShow', { togle: !toggleShow })
      "
      icon
      class="header-toggle-account"
      style="z-index: 12; top: 20px"
    >
      <img
        v-if="$route.path == '/'"
        src="~assets/img/accout-normal.png"
        width="25px"
        alt=""
      />
      <img v-else src="~assets/img/accout-border-fff.png" width="25px" alt="" />
    </v-btn>
    <v-col v-show="accountShow" class="header-account-module">
      <div style="margin-top: 40px; width: 100%">
        <h5 style="font-weight: 200; text-align: right">My Account</h5>
      </div>
      <v-divider style="background: #7789c5"></v-divider>
      <v-col style="padding: 0; display: flex; justify-content: center">
        <v-col style="padding: 10px 25% 0 25%">
          <v-col
            style="
              display: flex;
              justify-content: center;
              background: #fff;
              border-radius: 10px;
            "
          >
            <img src="~assets/img/accout-normal.png" width="120px" alt="" />
          </v-col>
        </v-col>
      </v-col>
      <Login />
    </v-col>
    <!-- Before Clik Account Show Module  -->
  </div>
</template>
<script>
import Login from "@/components/login";

export default {
  components: {
    Login,
  },
  data() {
    return {
      accountShow: false,
      sendData: true,
      toggleShow: false,
    };
  },
  created() {
    this.$nuxt.$on("offCart", ($event) => this.checkoffaccount($event));
    this.$nuxt.$on("eventAccoutOff", ($event) => this.checkoffaccount($event));
  },
  methods: {
    checkoffaccount(e) {
      if (!e.account) {
        this.accountShow = false;
      }
    },
  },
};
</script>
<style>
.header-account-module {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(195, 213, 245, 0.8);
  width: 360px;
  height: 530px;
}
</style>