<template>
  <div>
    <!-- Before Clik Cart Show Module  -->
    <v-btn
      @click="
        (cartShow = !cartShow),
          $nuxt.$emit('offCart', { account: false }),
          $nuxt.$emit('eventSearchOff', { searchOff: false }),
          $nuxt.$emit('eventToggleShow', { togle: !toggleShow })
      "
      icon
      class="header-toggle-cart"
    >
      <span v-if="cartdata.length >= 1">
        <v-badge color="red" overlap :content="cartdata.length">
          <img
            v-if="$route.path == '/'"
            src="~assets/img/bag-border-7789c5.png"
            width="25px"
            alt=""
          />
          <img
            v-else
            src="~assets/img/bag-border-fff.png"
            width="25px"
            alt=""
          />
        </v-badge>
      </span>
      <span v-else>
        <img
          v-if="$route.path == '/'"
          src="~assets/img/bag-border-7789c5.png"
          width="25px"
          alt=""
        />
        <img v-else src="~assets/img/bag-border-fff.png" width="25px" alt="" />
      </span>
    </v-btn>

    <v-col v-show="cartShow" class="header-cart-module">
      <div style="margin-top: 40px; width: 100%">
        <h5 style="font-weight: 200; text-align: right">Shipping Bag</h5>
      </div>
      <v-divider style="background: #7789c5"></v-divider>
      <v-col class="header-cart-for-scrollbar">
        <v-row v-for="(item, i) in cartdata" :key="i" style="">
          <v-col cols="5">
            <nuxt-link :to="`/product/${item.code_name}`">
              <img
                style="width: 100%; border-radius: 10px"
                :src="`/api/v1/product/picture-product/${item.image}`" /></nuxt-link
          ></v-col>
          <v-col cols="7">
            <h3 v-if="item.name.length > 12" style="color: #7789c5">
              {{ item.name.slice(0, 12) }}...
            </h3>
            <h3 v-else style="color: #7789c5">{{ item.name }}</h3>
            <p v-if="item.description.length > 30" style="font-size: 0.8em">
              {{ item.description.slice(0, 30) }}...
            </p>
            <p v-else style="font-size: 0.8em">
              {{ item.description }}
            </p>
            <span v-if="item.price_other_product">
              <h4
                v-if="item.discount_promotion"
                style="margin-top: -15px; font-style: italic; color: #ff5065"
              >
                {{
                  item.price_other_product -
                  (item.price_other_product * item.discount_promotion) / 100
                }}.-
              </h4>
              <h4
                v-else-if="item.discount_other_product"
                style="margin-top: -15px; font-style: italic; color: #ff5065"
              >
                {{ item.price_other_product - item.discount_other_product }}.-
              </h4>
              <h4
                v-else
                style="margin-top: -15px; font-style: italic; color: #ff5065"
              >
                {{ item.price_other_product }}.-
              </h4>
            </span>
            <span v-else>
              <h4
                v-if="item.discount_promotion"
                style="margin-top: -15px; font-style: italic; color: #ff5065"
              >
                {{
                  item.price - (item.price * item.discount_promotion) / 100
                }}.-
              </h4>
              <h4
                v-else-if="item.discount"
                style="margin-top: -15px; font-style: italic; color: #ff5065"
              >
                {{ item.price - item.discount }}.-
              </h4>
              <h4
                v-else
                style="margin-top: -15px; font-style: italic; color: #ff5065"
              >
                {{ item.price }}.-
              </h4>
            </span>
            <v-col v-if="item.colorAndSize.length >= 1" cols="12" class="pa-0">
              <v-row>
                <v-col cols="6" v-if="item.colorAndSize[0].color != 0">
                  <span
                    v-if="item.colorAndSize[0].color != 0"
                    style="color: rgba(0, 0, 0, 0.6); font-size: 14px"
                  >
                    {{ item.colorAndSize[0].color }}</span
                  >
                </v-col>
                <v-col cols="6" v-if="item.colorAndSize[0].size != 0">
                  <span
                    style="color: rgba(0, 0, 0, 0.6); font-size: 14px"
                    v-if="item.colorAndSize[0].size != 0"
                  >
                    {{ item.colorAndSize[0].size }}</span
                  >
                </v-col>
              </v-row>
            </v-col>
            <span
              ><span
                ><v-icon
                  @click="plusCart(item)"
                  color="#FF5065"
                  class="mdi-17px"
                  >mdi-plus</v-icon
                ><span
                  style="font-size: 16px; font-style: italic; color: #ff5065"
                  >{{ item.quantity }}</span
                ><span
                  ><v-icon
                    @click="minusCart(item)"
                    color="#FF5065"
                    class="mdi-17px"
                    >mdi-minus</v-icon
                  ></span
                ></span
              >
            </span>
          </v-col>
        </v-row>
      </v-col>
      <v-divider color="#7789C5" class="ml-4 mr-4"></v-divider>
      <v-col>
        <v-btn to="/checkout" id="btn-checkout" elevation="0">Checkout</v-btn>
      </v-col>
    </v-col>
    <!-- Before Clik Cart Show Module  -->
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      cartShow: false,
      toggleShow: false,
    };
  },
  watch: {
    cartdata: function (val) {
      // console.log(val);
      this.summary();
    },
  },
  computed: {
    ...mapGetters({ cartdata: "cart/cartdata" }),
  },
  mounted() {
    // this.summary();
  },
  created() {
    this.$nuxt.$on("eventName", ($event) => this.checkoffcart($event));
    this.$nuxt.$on("eventCartOff", ($event) => this.checkoffcart($event));
  },
  methods: {
    ...mapActions({
      updownQuantity: "cart/updownQuantity",
      deleteCart: "cart/deleteCart",
    }),
    async plusCart(data) {
      const cart = { id: data.cart_id, quantity: data.quantity + 1 };
      const res = await this.updownQuantity(cart);
      // console.log(res);
    },
    async minusCart(data) {
      if (data.quantity <= 1) {
        const res = await this.deleteCart(data);
      } else {
        const cart = { id: data.cart_id, quantity: data.quantity - 1 };
        const res = await this.updownQuantity(cart);
      }
    },
    checkoffcart(e) {
      if (!e.cart) {
        this.cartShow = false;
      }
    },
    summary() {
      let sum = 0;
      for (let i = 0; i < this.cartdata.length; i++) {
        if (this.cartdata[i].price_other_product) {
          if (this.cartdata[i].discount_promotion) {
            sum +=
              (this.cartdata[i].price_other_product -
                (this.cartdata[i].price_other_product *
                  this.cartdata[i].discount_promotion) /
                  1000) *
              this.cartdata[i].quantity;
          } else if (this.cartdata[i].discount_other_product) {
            sum +=
              (this.cartdata[i].price_other_product -
                this.cartdata[i].discount_other_product) *
              this.cartdata[i].quantity;
          } else {
            sum +=
              this.cartdata[i].price_other_product * this.cartdata[i].quantity;
          }
        } else {
          if (this.cartdata[i].discount_promotion) {
            sum +=
              (this.cartdata[i].price -
                (this.cartdata[i].price * this.cartdata[i].discount_promotion) /
                  100) *
              this.cartdata[i].quantity;
          } else if (this.cartdata[i].discount) {
            sum +=
              (this.cartdata[i].price - this.cartdata[i].discount) *
              this.cartdata[i].quantity;
          } else {
            sum += this.cartdata[i].price * this.cartdata[i].quantity;
          }
        }
      }

      this.productInCart = sum;
    },
  },
};
</script>
<style>
#btn-checkout {
  border-radius: 0;
  float: right;
  height: 30px;
  text-transform: capitalize;
  background: #7789c5;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.header-toggle-cart {
  z-index: 12;
  top: 20px;
  position: relative;
}
.header-cart-for-scrollbar {
  margin-top: 10px;
  padding: 0;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.header-cart-for-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 50px;
}
.header-cart-for-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
.header-cart-for-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(119, 137, 197);
  border-radius: 5px;
}
.header-cart-module {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(195, 213, 245, 0.8);
  width: 360px;
  height: 450px;
}
.header-logo {
  position: absolute;
  left: 45%;
  width: 100px;
}
@media screen and (max-width: 500px) {
  .header-logo {
    left: 40%;
    width: 60px;
    margin-top: 10px;
  }
}
</style>