<template>
  <div>
    <div
      v-show="togleOn"
      @click="
        (togleOn = false),
          $nuxt.$emit('eventToggleOff', { togleOff: false }),
          $nuxt.$emit('eventSearchOff', { searchOff: false })
          $nuxt.$emit('eventCartOff', { cartOff: false })
          $nuxt.$emit('eventAccoutOff', { accoutOff: false })
      "
      style="
        position: absolute;
        left: 0;
        top: 0;
        background: transparent;
        width: 100%;
        height: 100%;
        z-index: 5;
      "
    ></div>
    <!-- {{ $route.path }} -->
    <v-col style="padding: 0; position: absolute">
      <v-container style="position: relative">
        <!-- Starts Header -->
        <v-col
          cols="12"
          class="pt-0"
          style="display: flex; align-items: center"
        >
          <v-row>
            <Toggle />
            <!--Start Image Logo -->
            <div>
              <img
                v-if="$route.path == '/'"
                class="header-logo"
                src="~assets/img/logo-normal.png"
                alt=""
              />
              <img
                v-else
                class="header-logo"
                src="~assets/img/logo-border-fff.png"
                alt=""
              />
            </div>
            <!--End Image Logo -->
            <!-- Column Right -->
            <v-col
              cols="6"
              class="pa-0 header-column-right"
              style="padding-right: 0; display: flex; align-items: center"
            >
              <!-- Search Icon -->
              <Search />
              <!-- Account Icon -->
              <Account />
              <!-- Account Icon -->
              <!-- Cart Icon -->
              <Cart />
              <!-- Cart Icon -->

              <!-- Heart Icon -->
              <v-btn icon class="header-toggle-heart">
                <img
                  v-if="$route.path == '/'"
                  src="~assets/img/icon-heart.png"
                  width="25px"
                  alt=""
                />
                <img
                  v-else
                  src="~assets/img/heart-fff.png"
                  width="25px"
                  alt=""
                />
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
        <!-- End Header -->
        <v-divider
          class="header-divider"
          v-if="$route.path == '/'"
          style="
            background: #7789c5;

            width: 1200px;
          "
        ></v-divider>
        <v-divider
          class="header-divider"
          v-else
          style="background: #fff; width: 1200px"
        ></v-divider>
        <Menu />
      </v-container>
    </v-col>
  </div>
</template>
<script>
import Toggle from "@/components/header-module/toggle";
import Search from "@/components/header-module/search";
import Menu from "@/components/header-module/menu_slide";
import Cart from "@/components/header-module/cart";
import Account from "@/components/header-module/account";
export default {
  components: {
    Toggle,
    Cart,
    Menu,
    Account,
    Search,
  },
  data() {
    return {
      togleOn: false,
    };
  },
  created() {
    this.$nuxt.$on("eventToggleShow", ($event) => this.checkToggleOn($event));
  },
  methods: {
    checkToggleOn(e) {
      if (e.togle) {
        this.togleOn = true;
      } else {
        this.togleOn = false;
      }
    },
  },
};
</script>
<style>
.header-toggle-heart {
  /* position: absolute; */
  top: 20px;
  z-index: 12;
}
.header-divider {
  position: absolute;
  left: 0;
  z-index: 9;
  top: 70px;
}
.header-column-right {
  display: flex;
  justify-content: flex-end;
}
.header-search {
}
.header-logo {
  position: absolute;
  left: 45%;
  width: 100px;
  z-index: 20;
}
@media screen and (max-width: 500px) {
  .header-logo {
    left: 40%;
    width: 60px;
    margin-top: 10px;
    z-index: 8;
  }
  .header-divider {
    position: absolute;
    left: 0;
    z-index: 7;
    top: 60px;
  }
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
  }
}
</style>