<template>
  <v-col
    class="header-menu-slide"
    cols="12"
    style="
      left: 0;
      top: 95px;
      position: absolute;
      width: 100%;
      height: 100px;
      z-index: 9;
      padding: 0;
    "
  >
    <div style="position: relative">
      <v-slide-group :show-arrows="false">
        <!-- <template v-slot:next>
          <v-icon  color="#ff91c4" style="z-index: 16; top: 0" large
            >mdi-chevron-right</v-icon
          >
        </template>
        <template v-slot:prev>
          <v-icon color="#ff91c4" style="z-index: 16" large
            >mdi-chevron-left</v-icon
          >
        </template> -->

        <v-row>
          <v-col cols="6">
            <v-slide-item>
              <v-btn
                to="/best_seller"
                v-if="
                  $route.matched[0].path == '/product/:product' ||
                  $route.matched[0].path == '/category/:name?' ||
                  $route.matched[0].path == '/review/:name?' ||
                  $route.matched[0].path == '/searching/:search?' ||
                  $route.matched[0].path == '/login' ||
                  $route.matched[0].path == '/seoulgoodspick' ||
                  $route.matched[0].path == '/best_seller' ||
                  $route.matched[0].path == '/review' ||
                  $route.matched[0].path == '/review/:name' ||
                  $route.matched[0].path == '/review/main/:name?' ||
                  $route.matched[0].path == '/review/write_review'
                "
                color="#fff"
                rounded
                text
                style="font-size: 12px"
              >
                Best Seller
              </v-btn>
              <v-btn
                v-else
                to="/best_seller"
                color="#7789c5"
                rounded
                text
                style="font-size: 12px"
              >
                Best Seller
              </v-btn>
            </v-slide-item>
            <v-slide-item>
              <v-btn
                v-if="
                  $route.matched[0].path == '/product/:product' ||
                  $route.matched[0].path == '/category/:name?' ||
                  $route.matched[0].path == '/review/:name?' ||
                  $route.matched[0].path == '/searching/:search?' ||
                  $route.matched[0].path == '/login' ||
                  $route.matched[0].path == '/seoulgoodspick' ||
                  $route.matched[0].path == '/best_seller' ||
                  $route.matched[0].path == '/review' ||
                  $route.matched[0].path == '/review/:name' ||
                  $route.matched[0].path == '/review/main/:name?' ||
                  $route.matched[0].path == '/review/write_review'
                "
                @click="sub_brands = false"
                to="/newarrival-all"
                class="mx-2"
                color="#fff"
                rounded
                text
                style="font-size: 12px"
              >
                New Arrival
              </v-btn>
              <v-btn
                v-else
                @click="sub_brands = false"
                to="/newarrival-all"
                class="mx-2"
                color="#7789c5"
                rounded
                text
                style="font-size: 12px"
              >
                New Arrival
              </v-btn>
            </v-slide-item>
            <v-slide-item>
              <v-btn
                v-if="
                  $route.matched[0].path == '/product/:product' ||
                  $route.matched[0].path == '/category/:name?' ||
                  $route.matched[0].path == '/review/:name?' ||
                  $route.matched[0].path == '/searching/:search?' ||
                  $route.matched[0].path == '/login' ||
                  $route.matched[0].path == '/seoulgoodspick' ||
                  $route.matched[0].path == '/best_seller' ||
                  $route.matched[0].path == '/review' ||
                  $route.matched[0].path == '/review/:name' ||
                  $route.matched[0].path == '/review/main/:name?' ||
                  $route.matched[0].path == '/review/write_review'
                "
                to="/promotion"
                class="mx-2"
                color="#fff"
                rounded
                text
                style="font-size: 12px"
              >
                Promotion
              </v-btn>
              <v-btn
                v-else
                to="/promotion"
                class="mx-2"
                color="#7789c5"
                rounded
                text
                style="font-size: 12px"
              >
                Promotion
              </v-btn>
            </v-slide-item>
            <v-slide-item>
              <v-btn
                v-if="
                  $route.matched[0].path == '/product/:product' ||
                  $route.matched[0].path == '/category/:name?' ||
                  $route.matched[0].path == '/review/:name?' ||
                  $route.matched[0].path == '/searching/:search?' ||
                  $route.matched[0].path == '/login' ||
                  $route.matched[0].path == '/seoulgoodspick' ||
                  $route.matched[0].path == '/best_seller' ||
                  $route.matched[0].path == '/review' ||
                  $route.matched[0].path == '/review/:name' ||
                  $route.matched[0].path == '/review/main/:name?' ||
                  $route.matched[0].path == '/review/write_review'
                "
                @click="
                  (activeBtnMenu = !activeBtnMenu), (sub_brands = !sub_brands)
                "
                :class="`header-menu-brand ${activeBtnMenu ? 'active' : ''}`"
                class="mx-2"
                color="#fff"
                rounded
                text
                style="font-size: 12px"
              >
                Brands
              </v-btn>
              <v-btn
                v-else
                @click="
                  (activeBtnMenu = !activeBtnMenu), (sub_brands = !sub_brands)
                "
                :class="`header-menu-brand ${activeBtnMenu ? 'active' : ''}`"
                class="mx-2"
                color="#7789c5"
                rounded
                text
                style="font-size: 12px"
              >
                Brands
              </v-btn>
            </v-slide-item>
          </v-col>
          <v-col cols="6" style="display: flex; justify-content: center">
            <v-slide-item>
              <v-btn
                v-if="
                  $route.matched[0].path == '/product/:product' ||
                  $route.matched[0].path == '/category/:name?' ||
                  $route.matched[0].path == '/review/:name?' ||
                  $route.matched[0].path == '/searching/:search?' ||
                  $route.matched[0].path == '/login' ||
                  $route.matched[0].path == '/seoulgoodspick' ||
                  $route.matched[0].path == '/best_seller' ||
                  $route.matched[0].path == '/review' ||
                  $route.matched[0].path == '/review/:name' ||
                  $route.matched[0].path == '/review/main/:name?' ||
                  $route.matched[0].path == '/review/write_review'
                "
                to="/seoulgoodspick"
                class="mx-2"
                color="#fff"
                rounded
                text
                style="font-size: 12px"
              >
                Seoulgood's Pick
              </v-btn>
              <v-btn
                v-else
                to="/seoulgoodspick"
                class="mx-2"
                color="#7789c5"
                rounded
                text
                style="font-size: 12px"
              >
                Seoulgood's Pick
              </v-btn>
            </v-slide-item>
            <v-slide-item>
              <v-btn
                v-if="
                  $route.matched[0].path == '/product/:product' ||
                  $route.matched[0].path == '/category/:name?' ||
                  $route.matched[0].path == '/review/:name?' ||
                  $route.matched[0].path == '/searching/:search?' ||
                  $route.matched[0].path == '/login' ||
                  $route.matched[0].path == '/seoulgoodspick' ||
                  $route.matched[0].path == '/best_seller' ||
                  $route.matched[0].path == '/review' ||
                  $route.matched[0].path == '/review/:name' ||
                  $route.matched[0].path == '/review/main/:name?' ||
                  $route.matched[0].path == '/review/write_review'
                "
                to="/review"
                class="mx-2"
                color="#fff"
                rounded
                text
                style="font-size: 12px"
              >
                Review
              </v-btn>
              <v-btn
                v-else
                to="/review"
                class="mx-2"
                color="#7789c5"
                rounded
                text
                style="font-size: 12px"
              >
                Review
              </v-btn>
            </v-slide-item>
            <v-slide-item>
              <v-btn
                v-if="
                  $route.matched[0].path == '/product/:product' ||
                  $route.matched[0].path == '/category/:name?' ||
                  $route.matched[0].path == '/review/:name?' ||
                  $route.matched[0].path == '/searching/:search?' ||
                  $route.matched[0].path == '/login' ||
                  $route.matched[0].path == '/seoulgoodspick' ||
                  $route.matched[0].path == '/best_seller' ||
                  $route.matched[0].path == '/review' ||
                  $route.matched[0].path == '/review/:name' ||
                  $route.matched[0].path == '/review/main/:name?' ||
                  $route.matched[0].path == '/review/write_review'
                "
                class="mx-2"
                color="#fff"
                rounded
                text
                style="font-size: 12px"
              >
                Store
              </v-btn>
              <v-btn
                v-else
                class="mx-2"
                color="#7789c5"
                rounded
                text
                style="font-size: 12px"
              >
                Store
              </v-btn>
            </v-slide-item>
            <v-slide-item>
              <v-btn
                v-if="
                  $route.matched[0].path == '/product/:product' ||
                  $route.matched[0].path == '/category/:name?' ||
                  $route.matched[0].path == '/review/:name?' ||
                  $route.matched[0].path == '/searching/:search?' ||
                  $route.matched[0].path == '/login' ||
                  $route.matched[0].path == '/seoulgoodspick' ||
                  $route.matched[0].path == '/best_seller' ||
                  $route.matched[0].path == '/review' ||
                  $route.matched[0].path == '/review/:name' ||
                  $route.matched[0].path == '/review/main/:name?' ||
                  $route.matched[0].path == '/review/write_review'
                "
                class="mx-2"
                color="#fff"
                rounded
                text
                style="font-size: 12px"
              >
                About
              </v-btn>
              <v-btn
                v-else
                class="mx-2"
                color="#7789c5"
                rounded
                text
                style="font-size: 12px"
              >
                About
              </v-btn>
            </v-slide-item>
          </v-col>
        </v-row>
      </v-slide-group>
      <v-col
        v-if="
          $route.matched[0].path == '/product/:product' ||
          $route.matched[0].path == '/category/:name?' ||
          $route.matched[0].path == '/review/:name?' ||
          $route.matched[0].path == '/searching/:search?' ||
          $route.matched[0].path == '/login' ||
          $route.matched[0].path == '/seoulgoodspick' ||
          $route.matched[0].path == '/best_seller' ||
          $route.matched[0].path == '/review' ||
          $route.matched[0].path == '/review/:name' ||
          $route.matched[0].path == '/review/main/:name?' ||
          $route.matched[0].path == '/review/write_review'
        "
        v-show="sub_brands"
        class="header-sub-menu-slide"
        style="background: rgb(195, 213, 245)"
      >
        <v-slide-group show-arrows style="margin-top: -10px">
          <template v-slot:next>
            <v-icon color="#ff91c4" style="z-index: 11; top: 0" large
              >mdi-chevron-right</v-icon
            >
          </template>
          <template v-slot:prev>
            <v-icon color="#ff91c4" style="z-index: 11" large
              >mdi-chevron-left</v-icon
            >
          </template>
          <v-slide-item v-for="(item, i) in brandHeader" :key="i">
            <v-btn
              @click="(sub_brands = false), (activeBtnMenu = false)"
              :to="`/brand/${item.code_name}`"
              color="#fff"
              rounded
              text
              style="font-size: 12px"
            >
              {{ item.name }}
            </v-btn>
          </v-slide-item>
        </v-slide-group>
      </v-col>
      <v-col v-else v-show="sub_brands" class="header-sub-menu-slide">
        <v-slide-group show-arrows style="margin-top: -10px">
          <template v-slot:next>
            <v-icon color="#ff91c4" style="z-index: 11; top: 0" large
              >mdi-chevron-right</v-icon
            >
          </template>
          <template v-slot:prev>
            <v-icon color="#ff91c4" style="z-index: 11" large
              >mdi-chevron-left</v-icon
            >
          </template>
          <v-slide-item v-for="(item, i) in brandHeader" :key="i">
            <v-btn
              @click="(sub_brands = false), (activeBtnMenu = false)"
              :to="`/brand/${item.code_name}`"
              color="#fff"
              rounded
              text
              style="font-size: 12px"
            >
              {{ item.name }}
            </v-btn>
          </v-slide-item>
        </v-slide-group>
      </v-col>
    </div>
  </v-col>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      sub_brands: false,
      activeBtnMenu: false,
      brandHeader: [],
    };
  },
  mounted() {
    this.getBrand();
  },
  methods: {
    ...mapActions({
      selectBrand: "navigation/brand/selectBrand",
    }),
    async getBrand() {
      const res = await this.selectBrand();
      console.log(this.$route.matched[0].path);
      this.brandHeader = res;
    },
    checkPageForButton() {
      if (this.$route.params != "/brand") {
        this.activeBtnMenu = "";
      }
    },
  },
};
</script>
<style>
.header-sub-menu-slide {
  position: absolute;
  border-radius: 30px;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 9;
  background: #7789c5;
}
.header-sub-menu-slide .v-btn--active .v-btn__content {
  color: #ff91c4;
}
.header-menu-slide .v-btn__content {
  font-family: "DBHelvethaicaMonXBd";
  font-size: 24px;
  font-weight: 400;
  text-transform: none;
}
.header-menu-slide .v-btn--active .v-btn__content {
  color: #ff91c4;
}
/* .header-menu-brand {
  color: #7789c5 !important;
} */
.header-menu-brand.active {
  color: #ff91c4 !important;
  text-decoration: underline;
}
.header-menu-slide .v-slide-group__next,
.header-menu-slide .v-slide-group__prev {
  top: -6px;
}
.header-menu-slide .v-slide-group__prev {
  left: -40px;
}
.header-menu-slide .v-slide-group__next {
  justify-content: flex-end;
}
.header-menu-slide .v-slide-group {
  height: 80px;
}
@media screen and (max-width: 540px) {
  .header-menu-slide .v-slide-group {
    height: 75px;
  }
}
</style>