<template>
  <div class="header-search">
    <v-btn
      @click="
        searchOn(),
          (searchShow = !searchShow),
          $nuxt.$emit('eventToggleShow', { togle: !toggleShow }),
          $nuxt.$emit('offCart', { account: false }),
          $nuxt.$emit('eventName', { cart: false })
      "
      icon
      class="header-toggle-search"
    >
      <img
        v-show="!searchShow"
        v-if="$route.path == '/'"
        src="~assets/img/search-7789c5.png"
        width="25px"
        alt=""
      />
      <img
        v-show="!searchShow"
        v-else
        src="~assets/img/search-fff.png"
        width="25px"
        alt=""
      />
      <v-icon v-show="searchShow" color="red" large>mdi-close</v-icon>
      <!-- <img
        v-show="searchShow"
        src="~assets/img/cross-fff.png"
        width="25px"
        alt=""
      /> -->
    </v-btn>
    <v-col v-show="searchShow" class="header-search-module">
      <div style="position: absolute; top: -15px">
        <v-text-field
          v-if="
            $route.matched[0].path == '/product/:product' ||
            $route.matched[0].path == '/category/:name?' ||
            $route.matched[0].path == '/review/:name?'
          "
          @click:append="searchPage()"
          @keypress.enter="searchPage()"
          append-icon="mdi-send"
          class="input-search-while"
          v-model="header_search"
        >
        </v-text-field>
        <v-text-field
          v-else
          @click:append="searchPage()"
          @keypress.enter="searchPage()"
          append-icon="mdi-send"
          class="input-search-color-purple"
          v-model="header_search"
        ></v-text-field>
      </div>
      <div style="margin-top: 40px; width: 100%">
        <h5 style="font-weight: 200; text-align: right">Search</h5>
      </div>
      <v-divider style="background: #7789c5"></v-divider>
      <v-col v-if="header_search" class="pa-0 header-search-for-scrollbar">
        <span v-if="header_search">
          <v-row v-for="(item, i) in filteredProduct" :key="i" class="mt-1">
            <v-col @click="(searchShow = false), (header_search = '')" cols="5">
              <nuxt-link :to="`/product/${item.code_name}`">
                <img
                  :src="`/api/v1/product/picture-product/${item.image}`"
                  style="width: 100%; border-radius: 10px; height: 100px"
              /></nuxt-link>
            </v-col>
            <v-col cols="7" class="pl-0 header-search-detail">
              <h3 style="color: #7789c5">{{ item.name.slice(0, 18) }}</h3>
              <span style="color: #7789c5">{{
                item.description.slice(0, 20)
              }}</span>
              <h3 v-if="item.discount >= 1" style="position: relative">
                {{
                  Intl.NumberFormat("th-TH", {
                    currency: "THB",
                  }).format(item.price - item.discount)
                }}.-
                <span class="line-price-sale" style="">{{
                  Intl.NumberFormat("th-TH", {
                    currency: "THB",
                  }).format(item.price)
                }}</span>
              </h3>
              <h3 v-else style="position: relative">
                {{
                  Intl.NumberFormat("th-TH", {
                    currency: "THB",
                  }).format(item.price)
                }}.-
              </h3>
            </v-col>
          </v-row>
        </span>
      </v-col>
      <v-col
        v-if="header_search"
        class="header-search-view-more"
        cols="12"
        style="
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: flex-end;
        "
      >
        <v-btn @click="searchPage()" text>View More>>>></v-btn>
      </v-col>
    </v-col>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      toggleShow: false,
      header_search: "",
      product_for_search: [],
      searchShow: false,
    };
  },
  computed: {
    filteredProduct: function () {
      return this.product_for_search.filter((product) => {
        return product.name
          .toLowerCase()
          .match(this.header_search.toLowerCase());
      });
    },
  },
  created() {
    this.$nuxt.$on("eventSearchOff", ($event) => this.checkSearchOff($event));
  },
  methods: {
    ...mapActions({
      searchProduct: "navigation/searchProduct",
    }),
    checkSearchOff(e) {
      if (!e.searchOff) {
        this.searchShow = false;
      }
    },
    searchPage() {
      if (this.header_search) {
        this.$router.push(`/searching/${this.header_search}`);
        this.searchShow = false;
      }
    },
    async searchOn() {
      if (!this.searchShow) {
        const res = await this.searchProduct();
        this.product_for_search = res;
        // console.log(this.product_for_search);
      }
    },
  },
};
</script>
<style>
.header-search-view-more .v-btn__content {
  text-transform: none;
  color: #fff;
  font-size: 24px;
  font-family: "DBHelvethaicaMonXBd";
}
.header-search-for-scrollbar {
  margin-top: 10px;
  padding: 0;
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.header-search-for-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 50px;
}
.header-search-for-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
.header-search-for-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(119, 137, 197);
  border-radius: 5px;
}
.header-search-detail .line-price-sale {
  position: absolute;
  top: -5px;
  font-size: 10px;
  color: rgba(10, 10, 10, 0.5);
}
.header-search-detail .line-price-sale::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ff5065;
  position: absolute;
  transform: rotate(-20deg);
  top: 6px;
  left: 0;
}
.input-search-while .v-input__slot {
  max-width: 80% !important;
}
.input-search-while .v-input__control .v-input__slot:before {
  border-color: #fff !important;
}
.input-search-color-purple .v-input__slot {
  max-width: 80% !important;
}
.header-search-module input {
  text-align: center;
}
.header-search-module {
  position: absolute;
  right: 0;
  top: 20px;
  width: 350px;
  height: 400px;
  background: rgba(195, 213, 245, 0.8);
  z-index: 10;
}
.header-toggle-search {
  position: absolute;
  top: 20px;
  margin-left: -35px;
  z-index: 12;
}
</style>