<template>
  <v-col cols="6" style="padding-left: 0">
    <v-btn
      @click="
        (toggleShow = !toggleShow),
          $nuxt.$emit('eventToggleShow', { togle: toggleShow })
      "
      icon
      class="header-toggle"
      style="position: absolute; left: 0; z-index: 12; top: 20px"
    >
      <img
        v-show="!toggleShow"
        v-if="$route.path == '/'"
        src="~assets/img/toggle.png"
        width="25px"
        alt=""
      />
      <img
        v-show="!toggleShow"
        v-else
        src="~assets/img/toggle-new-fff.png"
        width="25px"
        alt=""
      />
      <img
        v-show="toggleShow"
        src="~assets/img/cross-fff.png"
        width="25px"
        alt=""
      />
    </v-btn>
    <v-col
      v-if="
        $route.matched[0].path == '/product/:product' ||
        $route.matched[0].path == '/category/:name?' ||
        $route.matched[0].path == '/review/:name?' ||
        $route.matched[0].path == '/searching/:search?' ||
        $route.matched[0].path == '/login' ||
        $route.matched[0].path == '/seoulgoodspick' ||
        $route.matched[0].path == '/best_seller' ||
        $route.matched[0].path == '/review' ||
        $route.matched[0].path == '/review/:name'
      "
      v-show="toggleShow"
      class="header-toggle-module active"
    >
      <v-col style="margin-top: 20px">
        <v-row>
          <v-col cols="12" style="padding: 0">
            <v-list flat style="background: transparent">
              <v-list-item @click="toggleShow = false" to="/">
                <v-list-item-content>
                  <v-list-item-title color="#fff">Home</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-col>
          <v-col cols="12" style="padding: 0">
            <v-row>
              <v-col cols="6">
                <v-list flat style="background: transparent">
                  <v-list-item
                    @click="toggleShow = false"
                    to="/category/all-product"
                  >
                    <v-list-item-content>
                      <v-list-item-title>Category</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-col>
              <v-col cols="6" style="margin-top: 25px">
                <v-row>
                  <v-col
                    v-for="(item, i) in category"
                    :key="i"
                    cols="12"
                    style="padding: 0"
                  >
                    <v-list-item
                      @click="toggleShow = false"
                      :to="`/category/${item.code_name}`"
                    >
                      <v-list-item-content>
                        <v-list-item-title>{{ item.name }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-col>
    <v-col v-else v-show="toggleShow" class="header-toggle-module">
      <v-col style="margin-top: 20px">
        <v-row>
          <v-col cols="12" style="padding: 0">
            <v-list flat style="background: transparent">
              <v-list-item @click="toggleShow = false" to="/">
                <v-list-item-content>
                  <v-list-item-title color="#fff">Home</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-col>
          <v-col cols="12" style="padding: 0">
            <v-row>
              <v-col cols="6">
                <v-list flat style="background: transparent">
                  <v-list-item
                    @click="toggleShow = false"
                    to="/category/all-product"
                  >
                    <v-list-item-content>
                      <v-list-item-title>Category</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-col>
              <v-col cols="6" style="margin-top: 25px">
                <v-row>
                  <v-col
                    v-for="(item, i) in category"
                    :key="i"
                    cols="12"
                    style="padding: 0"
                  >
                    <v-list-item
                      @click="toggleShow = false"
                      :to="`/category/${item.code_name}`"
                    >
                      <v-list-item-content>
                        <v-list-item-title>{{ item.name }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-col>
  </v-col>
</template>
<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      toggleShow: false,
      category: [],
      togleOff: false,
    };
  },
  computed: {},
  mounted() {
    this.getCategoryMain();
  },
  created() {
    this.$nuxt.$on("eventToggleOff", ($event) => this.checkToggleOff($event));
  },
  methods: {
    ...mapActions({
      selectCategoryMain: "navigation/category/getCategory",
    }),
    checkToggleOff(e) {
      if (!e.togleOff) {
        this.toggleShow = false;
      }
    },
    async getCategoryMain() {
      const res = await this.selectCategoryMain();
      this.category = res;
    },
  },
};
</script>
<style>
.header-toggle-module {
  position: absolute;
  left: 0;
  top: 20px;
  width: 350px;
  /* height: 400px; */
  background: #7789c5d9;
  z-index: 10;
}
.header-toggle-module.active {
  background: #919fca;
}
.header-toggle-module .v-list-item {
  color: #fff;
}
.header-toggle-module .v-list-item__title {
  font-family: "Roboto-Light";
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.header-toggle-module .v-list-item--active .v-list-item__title {
  color: #ffbadb;
}
</style>