<template>
  <div>
    <v-snackbar
      :timeout="timeout"
      v-model="snackbarAddItemToCart"
      color="rgba(0,0,0,0.5)"
      centered
      style="margin-top: 100px"
    >
      <v-col
        cols="12"
        style="display: flex; justify-content: center; align-items: center"
      >
        <v-icon class="mdi-48px" color="success">mdi-check-circle</v-icon>
      </v-col>
      <h5 style="color: #fff; font-weight: 400; text-align: center">
        {{ textalert }}
      </h5>
    </v-snackbar>
    <v-snackbar
      :timeout="timeout"
      v-model="snackbarAddItemError"
      color="rgba(0,0,0,0.5)"
      centered
      style="margin-top: 100px"
    >
      <v-col
        cols="12"
        style="display: flex; justify-content: center; align-items: center"
      >
        <v-icon class="mdi-48px" color="red">mdi-close-circle</v-icon>
      </v-col>
      <h5 style="color: #fff; font-weight: 400; text-align: center">
        {{ textalert }}
      </h5>
    </v-snackbar>
    <v-col
      class="pl-0 pr-0 pb-12"
      style="
        min-height: 100vh;
        background: rgb(195, 213, 245);
        display: flex;
        justify-content: center;
      "
    >
      <v-container style="margin-top: 100px">
        <div>
          <h1 class="promotion-text">Promotion <span>'Summer'</span></h1>
        </div>
        <v-divider
          style="margin-top: 20px; border-color: #7789c5 !important"
        ></v-divider>
        <h2 class="seoulgood-price-range-text">Price Range</h2>
        <v-row>
          <v-col cols="12" lg="4" sm="5">
            <v-col cols="12" class="pt-0 pb-0 price-range">
              <v-range-slider
                v-model="range"
                @change="checkRangePrice()"
                color="#7789c5"
                max="20000"
                min="0"
              ></v-range-slider>
              <v-row
                style="width: 100%; margin-top: -20px; margin-bottom: 10px"
              >
                <v-col cols="6" class="pt-0"
                  ><span class="search-min-price">{{ range[0] }} ฿</span></v-col
                >
                <v-col cols="6" class="pt-0 pr-0"
                  ><span class="search-max-price" style="float: right"
                    >{{ range[1] }} ฿</span
                  ></v-col
                >
              </v-row>
            </v-col>
            <v-col
              cols="12"
              class="pa-0"
              style="
                background: #ff91c4;
                border: 1px solid #cecece;
                border-bottom: none;
              "
            >
              <div
                style="display: flex; justify-content: center; margin: -20px 0"
              >
                <span id="first-name-header">Category</span>
              </div>
            </v-col>
            <v-col
              class="pa-3 mb-4"
              style="
                background: #fbfcff;
                border: 1px solid #cecece;
                border-top: none;
              "
            >
              <v-col>
                <nuxtLink :to="`/category/all-product`">
                  <h3
                    v-if="$route.params.name == allProduct"
                    style="color: #ff91c4"
                  >
                    All Product
                  </h3>
                  <h3 v-else style="color: #7789c5">All Product</h3>
                </nuxtLink>
                <h3 v-for="(item, i) in category" :key="i">
                  <nuxtLink
                    :to="`/category/${item.code_name}`"
                    :style="{ color: item.active }"
                  >
                    {{ item.name }}
                  </nuxtLink>
                </h3>
              </v-col>
            </v-col>
          </v-col>
          <v-col
            cols="12"
            lg="8"
            sm="7"
            class="pa-2"
          >
            <v-row style="margin:-2px !important;">
              <v-col cols="12" class="pb-0 pb-0 pt-0 pl-2 pr-2 mb-4">
                <img
                  class="banner_promotion_pc"
                  v-if="dataPromotion.banner_pc"
                  :src="`/api/v1/promotion-banner-pc/${dataPromotion.banner_pc}`"
                  width="100%"
                  style="border: 1px solid #7789c5"
                  :alt="`${dataPromotion.name}`"
                />
                <img
                  class="banner_promotion_mobile"
                  v-if="dataPromotion.banner_mobile"
                  :src="`/api/v1/promotion-banner-mobile/${dataPromotion.banner_mobile}`"
                  width="100%"
                  style="border: 1px solid #7789c5"
                  :alt="`${dataPromotion.name}`"
                />
              </v-col>
              <v-col
                v-for="(item, i) in dataProduct"
                :key="i"
                cols="6"
                sm="6"
                lg="3"
                class="pa-1"
              >
                <v-col
                  class="pa-0"
                  style="
                    border: 1px solid #7789c5;
                    border-bottom: none;
                    position: relative;
                  "
                >
                  <nuxtLink :to="`/product/${item.code_name}`">
                    <img
                      v-if="item.imageProductOther.image"
                      :src="`/api/v1/product-other/${item.imageProductOther.image}`"
                      style="width: 100%; height: 100%; position: relative"
                      alt=""
                    />
                    <img
                      v-else
                      :src="`/api/v1/product/picture-product/${item.image}`"
                      style="width: 100%; height: 100%; position: relative"
                      alt=""
                    />
                    <!-- <img
                      v-if="item.newarrival_status"
                      style="position: absolute; top: 0; left: 0; width: 70px"
                      src="~assets/img/new/new-arrivals-tag.png"
                    /> -->
                    <span
                      v-if="item.discount_promotion"
                      style="
                        position: absolute;
                        top: 10px;
                        color: #fff;
                        font-weight: 600;
                        font-size: 14px;
                        font-style: italic;
                        left: -6px;
                        background: #ff3b74;
                        padding: 3px 5px;
                        border-radius: 0 20px 20px 0;
                        box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
                      "
                      >SALE {{ item.discount_promotion }}%</span
                    >
                    <!-- <span
                      v-else-if="item.discount_promotion"
                      style="
                        position: absolute;
                        top: 10px;
                        color: #fff;
                        font-weight: 600;
                        font-size: 14px;
                        font-style: italic;
                        left: -6px;
                        background: #ff3b74;
                        padding: 3px 5px;
                        border-radius: 0 20px 20px 0;
                        box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
                      "
                      >SALE {{ item.discount_promotion }}%</span
                    > -->
                  </nuxtLink>
                  <span
                    v-if="item.message"
                    style="
                      font-size: 16px;
                      color: #fff;
                      margin-left: 3px;
                      position: absolute;
                      right: 0;
                      top: 5px;
                      background: red;
                      padding: 1px 3px 1px 2px;
                    "
                  >
                    {{ item.message }}</span
                  >
                </v-col>
                <v-col class="footer-product">
                  <h4
                    v-if="item.name.length >= 12"
                    style="font-size: 24px; position: relative"
                  >
                    {{ item.name.slice(0, 12) + "..." }}
                    <!-- <span
                      v-if="item.newarrival_status"
                      style="
                        font-size: 14px;
                        font-style: italic;
                        background: rgba(255, 145, 196, 0.8);
                        padding: 1px 3px 1px 3px;
                        color: #fff;
                        font-weight: 400;
                      "
                      >NEW</span
                    > -->
                  </h4>
                  <h4 v-else style="font-size: 24px; position: relative">
                    {{ item.name }}
                  </h4>
                  <span
                    v-if="item.description.length >= 20"
                    class="description-product"
                    >{{ item.description.slice(0, 20) + "..." }}</span
                  >
                  <span v-else class="description-product">{{
                    item.description
                  }}</span>
                  <v-row class="row-category">
                    <v-col
                      v-if="item.color != 0"
                      cols="6"
                      id="categorySelectColor"
                    >
                      <div class="select">
                        <select
                          v-model="item.chooseColor"
                          @change="pickedColor(item)"
                        >
                          <option value="0">#เลือกสีสินค้า</option>
                          <option
                            v-for="(color, i) in item.color"
                            :key="i"
                            :value="color"
                          >
                            {{ color }}
                          </option>
                        </select>
                      </div>
                    </v-col>
                    <v-col
                      v-if="item.size != 0"
                      cols="6"
                      id="categorySelectColor"
                      style="margin-left: -7px"
                    >
                      <div class="select">
                        <select
                          v-model="item.chooseSize"
                          @change="pickedColor(item)"
                        >
                          <option value="0">#เลือกไซส์สินค้า</option>
                          <option
                            v-for="(size, i) in item.size"
                            :key="i"
                            :value="size"
                          >
                            {{ size }}
                          </option>
                        </select>
                      </div>
                    </v-col>
                  </v-row>
                  <v-row style="margin-top: -10px; margin-bottom: 0">
                    <v-col
                      v-if="item.priceOther"
                      cols="8"
                      class="pa-1 pl-3 pt-3 price-absolute"
                    >
                      <span style="position: relative">
                        <strong v-if="item.discount_promotion"
                          >{{
                            item.priceOther -
                            (item.priceOther * item.discount_promotion) /
                              100
                          }}.-</strong
                        >
                        <strong v-else>{{ item.priceOther }}.-</strong>
                        <span class="price-sale" style="position: absolute">
                          <span
                            class="line-price-category-sale"
                            style="color: rgba(0, 0, 0, 0.5)"
                            v-if="item.discount_promotion >= 1"
                            >{{ parseInt(item.priceOther) }}.-</span
                          ></span
                        >
                      </span>
                    </v-col>
                    <v-col
                      v-else
                      cols="8"
                      class="pa-1 pl-3 pt-3 price-absolute"
                    >
                      <span style="position: relative">
                        <strong v-if="item.discount_promotion"
                          >{{
                            item.price -
                            (item.price * item.discount_promotion) / 100
                          }}.-</strong
                        >
                        <strong v-else>{{ item.price }}.-</strong>
                        <span class="price-sale" style="position: absolute">
                          <span
                            class="line-price-category-sale"
                            style="color: rgba(0, 0, 0, 0.5)"
                            v-if="item.discount_promotion >= 1"
                            >{{ parseInt(item.price) }}.-</span
                          ></span
                        >
                      </span>
                    </v-col>
                    <v-col
                      cols="4"
                      class="pa-0 d-flex justify-end align-center"
                    >
                      <v-btn
                        @click="pickedFavorite(item)"
                        icon
                        id="hert-favorite-category"
                        style="position: absolute; right: 28px; bottom: 0"
                      >
                        <img
                          v-if="item.statusFavorite"
                          width="20px"
                          src="~assets/img/pink-heart.png"
                          alt=""
                        />

                        <img
                          v-else
                          width="20px"
                          src="~assets/img/icon-heart.png"
                          alt=""
                        />
                      </v-btn>
                      <v-btn
                        :disabled="item.activeAddtoCart"
                        @click="addItemToCart(item)"
                        icon
                        id="hert-favorite-category"
                        style="position: absolute; right: 0; bottom: 0"
                        ><img
                          style="width: 20px"
                          src="~assets/img/icon-cart.png"
                          alt=""
                      /></v-btn>
                    </v-col>
                  </v-row>
                </v-col>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-col>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      category: [],
      allProduct: "all-product",
      dataProduct: [],
      timeout: 1000,
      textalert: "",
      snackbarAddItemToCart: false,
      range: [0, 20000],
      snackbarAddItemError: false,
      dataForReset: [],
      valueSelectSort: 0,
      dataPromotion: {},
    };
  },
  mounted() {
    this.getCategoryMain();
    this.getDataPromotion();
    this.getProductByCodeName();
  },
  methods: {
    ...mapActions({
      getPromotionSingle: "promotion/getPromotionSingle",
      getProductPromotion: "promotion/getProductPromotion",
      selectCategoryMain: "navigation/category/getCategory",
      //   getProductSeoulgoodsPikc: "seoulgoodspick/getProductSeoulgoodsPikc",
      addItemNewarrivalToCart: "cart/addItemNewarrivalToCart",
      dataProductOther: "product/dataProductOther",
      favoriteProduct: "cart/favoriteProduct",
      favoriteProductPicked: "cart/favoriteProductPicked",
    }),
    async getDataPromotion() {
      const code_name = { code_name: this.$route.params.name };
      this.dataPromotion = await this.getPromotionSingle(code_name.code_name);
      //   console.log(this.dataPromotion);
    },
    async sortOrder() {
      if (this.valueSelectSort == 1) {
        const beforSort = this.dataProduct.sort((a, b) => {
          return new Date(b.created_at) - new Date(a.created_at);
        });
        this.dataProduct = beforSort;
      } else if (this.valueSelectSort == 2) {
        const beforSort = this.dataProduct.sort((a, b) => {
          return a.price - b.price;
        });
      } else if (this.valueSelectSort == 3) {
        const beforSort = this.dataProduct.sort((a, b) => {
          return b.price - a.price;
        });
      }
    },
    async pickedFavorite(item) {
      if (this.$auth.loggedIn) {
        // console.log(item);
        const data = {
          customer_id: this.$auth.user.data.id,
          product_id: item.id,
        };
        const res = await this.favoriteProduct(data);
        if (res.success) {
          this.getProductByCodeName();
        }
      } else {
        this.$router.push("/login");
      }
    },
    async getCategoryMain() {
      const res = await this.selectCategoryMain();
      res.map((addColor) => {
        if (this.$route.params.name == addColor.code_name) {
          addColor.active = "#ff91c4";
        } else {
          addColor.active = "#7789c5";
        }
      });
      this.category = res;
    },
    async pickedColor(data) {
      //Keep data in dataForSend
      if (data.chooseColor != 0) {
        if (data.chooseColor) {
          data.dataForSend.color = data.chooseColor;
          data.dataForSend.product_id = data.product_id;
        }
      } else {
        data.dataForSend.color = 0;
        data.priceOther = null;
        data.discountOther = null;
        data.discount_promotion = null;
        data.activeAddtoCart = false;
        data.message = null;
        data.imageProductOther = {};
      }
      if (data.chooseSize != 0) {
        if (data.chooseSize) {
          data.dataForSend.size = data.chooseSize;
          data.dataForSend.product_id = data.product_id;
        }
      } else {
        data.dataForSend.size = 0;
        data.priceOther = null;
        data.discountOther = null;
        data.discount_promotion = null;
        data.activeAddtoCart = false;
        data.message = null;
        data.imageProductOther = {};
      }
      if (data.dataForSend.color && data.dataForSend.size) {
        data.dataForSend.twin = true;
      }
      /////////////////////////////
      if (data.dataForSend.color) {
        if (data.size[0] != 0) {
          if (data.dataForSend.twin) {
            const res = await this.dataProductOther(data.dataForSend);
            // console.log(res, "11");
            if (res.success) {
              data.priceOther = res.data.price;
              data.discountOther = res.data.discount;
              data.activeAddtoCart = false;
              data.message = null;
              data.imageProductOther = res.image[0];
              if (res.data.discount_promotion) {
                data.discount_promotion =
                  res.data.discount_promotion;
              }
            } else {
              if (res.data) {
                data.priceOther = res.data.price;
                data.discountOther = res.data.discount;
                data.imageProductOther = [];
                data.message = res.msg;
                data.activeAddtoCart = true;
              } else {
                data.imageProductOther = [];
                data.message = res.msg;
                data.activeAddtoCart = true;
              }
            }
          }
        } else {
          const res = await this.dataProductOther(data.dataForSend);
          // console.log(res, "22");
          if (res.success) {
            data.priceOther = res.data.price;
            data.discountOther = res.data.discount;
            data.activeAddtoCart = false;
            data.message = null;
            data.imageProductOther = res.image[0];
            if (res.data.discount_promotion) {
              data.discount_promotion = res.data.discount_promotion;
            }
          } else {
            if (res.data) {
              data.priceOther = res.data.price;
              data.discountOther = res.data.discount;
              data.imageProductOther = [];
              data.message = res.msg;
              data.activeAddtoCart = true;
            } else {
              data.imageProductOther = [];
              data.message = res.msg;
              data.activeAddtoCart = true;
            }
          }
        }
      } else if (data.dataForSend.size) {
        if (data.color[0] != 0) {
          // console.log(this.optionColor);
        } else {
          const res = await this.dataProductOther(data.dataForSend);
          // console.log(res, "33");
          if (res.success) {
            data.priceOther = res.data.price;
            data.discountOther = res.data.discount;
            data.activeAddtoCart = false;
            data.message = null;
            data.imageProductOther = res.image[0];
            if (res.data.discount_promotion) {
              data.discount_promotion = res.data.discount_promotion;
            }
          } else {
            if (res.data) {
              data.priceOther = res.data.price;
              data.discountOther = res.data.discount;
              data.imageProductOther = [];
              data.message = res.msg;
              data.activeAddtoCart = true;
            } else {
              data.imageProductOther = [];
              data.message = res.msg;
              data.activeAddtoCart = true;
            }
          }
        }
      }
    },
    async addItemToCart(item) {
      if (this.$auth.loggedIn) {
        if (item.product_other_id) {
          if (item.color == 0) {
            if (item.chooseSize == 0) {
              this.snackbarAddItemError = true;
              this.textalert = "กรุณาเลือกไซส์สินค้าก่อน";
            } else {
              const data = {
                customer_id: this.$auth.user.data.id,
                product_id: item.product_id,
                size: item.chooseSize,
                quantity: 1,
              };
              const res = await this.addItemNewarrivalToCart(data);
              if (res.success) {
                this.snackbarAddItemToCart = true;
                this.textalert = res.message;
              } else {
                this.snackbarAddItemError = true;
                this.textalert = res.message;
              }
            }
          } else if (item.color.length >= 1) {
            if (item.chooseColor == 0) {
              this.snackbarAddItemError = true;
              this.textalert = "กรุณาเลือกสีสินค้าก่อน";
            } else {
              if (item.size != 0) {
                if (item.chooseSize == 0) {
                  this.snackbarAddItemError = true;
                  this.textalert = "กรุณาเลือกไซส์สินค้าก่อน";
                } else {
                  const data = {
                    customer_id: this.$auth.user.data.id,
                    product_id: item.product_id,
                    color: item.chooseColor,
                    size: item.chooseSize,
                    quantity: 1,
                  };
                  const res = await this.addItemNewarrivalToCart(data);
                  if (res.success) {
                    this.snackbarAddItemToCart = true;
                    this.textalert = res.message;
                  } else {
                    this.snackbarAddItemError = true;
                    this.textalert = res.message;
                  }
                }
              } else {
                const data = {
                  customer_id: this.$auth.user.data.id,
                  product_id: item.product_id,
                  color: item.chooseColor,
                  quantity: 1,
                };
                const res = await this.addItemNewarrivalToCart(data);
                if (res.success) {
                  this.snackbarAddItemToCart = true;
                  this.textalert = res.message;
                } else {
                  this.snackbarAddItemError = true;
                  this.textalert = res.message;
                }
              }
            }
          }
        } else {
          const data = {
            customer_id: this.$auth.user.data.id,
            product_id: item.product_id,
            quantity: 1,
          };
          const res = await this.addItemNewarrivalToCart(data);
          if (res.success) {
            this.snackbarAddItemToCart = true;
            this.textalert = res.message;
          } else {
            this.snackbarAddItemError = true;
            this.textalert = res.message;
          }
        }
      } else {
        this.$router.push("/login");
      }
    },
    async getProductByCodeName() {
      const res = await this.getProductPromotion({
        code_name: this.$route.params.name,
      });
      // console.log(res);
      const favorite = await this.favoriteProductPicked();
      if (res.success) {
        res.data.map((edit) => {
          if (this.$auth.loggedIn) {
            for (let a = 0; a < favorite.length; a++) {
              if (edit.id == favorite[a].product_id) {
                edit.statusFavorite = true;
              }
            }
          }
          edit.dataForSend = {
            color: null,
            size: null,
            twin: false,
            product_id: 0,
          };
          edit.activeAddtoCart = false;
          edit.priceOther = null;
          edit.discountOther = null;
          edit.imageProductOther = {};
          edit.message = null;
          edit.chooseColor = 0;
          edit.chooseSize = 0;
          edit.colorAndSize = [];
          edit.color = [];
          edit.size = [];
          edit.sizeTest = [];
          edit.product_other_id = null;
          for (let i = 0; i < edit.pdo.length; i++) {
            if (edit.product_id == edit.pdo[i].product_id) {
              edit.product_other_id = edit.pdo[i].id;
              if (edit.pdo[i].color) {
                if (edit.color.length >= 1) {
                  for (let x = 0; x < edit.color.length; x++) {
                    if (edit.color[x] == edit.pdo[i].color) {
                    } else {
                      let found = edit.color.indexOf(edit.pdo[i].color);
                      edit.color.splice(found, found);
                      edit.color.push(edit.pdo[i].color);
                    }
                  }
                } else {
                  edit.color.push(edit.pdo[i].color);
                }
              }
            }
          }
          for (let i = 0; i < edit.pdo.length; i++) {
            if (edit.product_id == edit.pdo[i].product_id) {
              if (edit.pdo[i].size) {
                if (edit.sizeTest.length >= 1) {
                  if (edit.sizeTest != edit.pdo[i].size) {
                    let found = edit.sizeTest.indexOf(edit.pdo[i].size);
                    edit.sizeTest.splice(found, found);
                    edit.sizeTest.push(edit.pdo[i].size);
                  } else {
                  }
                } else {
                  edit.sizeTest.push(edit.pdo[i].size);
                }
              }
            }
          }
          edit.size = [...new Set(edit.sizeTest)];
        });
        this.dataProduct = res.data;
        this.dataForReset = res.data;
        // console.log(this.dataProduct);
      }
    },
    async checkRangePrice() {
      const beforeRangePrice = this.dataForReset.filter((product) => {
        return product.price >= this.range[0] && product.price <= this.range[1];
      });
      this.dataProduct = beforeRangePrice;
      if (this.valueSelectSort == 1) {
        this.dataProduct = beforeRangePrice.sort((a, b) => {
          return new Date(b.created_at) - new Date(a.created_at);
        });
      } else if (this.valueSelectSort == 2) {
        this.dataProduct = beforeRangePrice.sort((a, b) => {
          return a.price - b.price;
        });
      } else if (this.valueSelectSort == 3) {
        this.dataProduct = beforeRangePrice.sort((a, b) => {
          return b.price - a.price;
        });
      }
    },
  },
};
</script>

<style>
.seoulgood-price-range-text {
  color: #ffffcc;
  font-size: 60px;
  margin: -10px 0 -20px 0;
  font-family: "DBHelvethaicaMonXBd";
  font-style: italic;
}
.promotion-text {
  margin-left: 10px;
  font-size: 80px;
  color: #7789c5;
  font-style: italic;
  font-weight: 600;
  font-family: "DM Serif Display", serif;
}
.promotion-text span {
  font-style: italic;
  color: #ffffcc;
  font-family: "DM Serif Display", serif;
}
.product-column {
  margin-top: -20px !important;
}
.banner_promotion_pc {
  display: block;
}
.banner_promotion_mobile {
  display: none;
}
@media screen and (max-width: 550px) {
  .banner_promotion_pc {
    display: none;
  }
  .banner_promotion_mobile {
    display: block;
  }
  .promotion-text {
    font-size: 40px;
  }
  .product-column {
    margin-top: 0px !important;
  }
}
</style>