<template>
  <div>
    <v-col
      class="pl-0 pr-0 pb-12"
      style="
        min-height: 100vh;
        background: rgb(195, 213, 245);
        display: flex;
        justify-content: center;
      "
    >
      <v-container style="margin-top: 100px">
        <div>
          <h1 class="promotion-text">Promotion</h1>
        </div>
        <v-col cols="6" class="pt-0 pb-0">
          <span v-if="promotionHaving" class="search-total">Total {{promotionHaving.length}} Items</span>
          <span v-else class="search-total">Total 0 Items</span>
        </v-col>
        <v-divider
          style="margin-top: 20px; border-color: #7789c5 !important"
        ></v-divider>
        <v-col class="pa-0 pt-6">
          <v-row>
            <v-col
              v-for="(item, i) in promotionHaving"
              :key="i"
              class="pa-2"
              cols="12"
              lg="4"
              sm="4"
            >
              <nuxt-Link :to="`/promotion/${item.code_name}`">
                <img
                  :src="`/api/v1/promotion-image/${item.image}`"
                  width="100%"
                  style="
                    border: 1px solid #7789c5;
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
                  "
                  alt=""
                />
              </nuxt-Link>
            </v-col>
          </v-row>
        </v-col>
      </v-container>
    </v-col>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      promotionHaving: [],
    };
  },
  mounted() {
    this.usePromotion();
  },
  methods: {
    ...mapActions({
      getPromotion: "promotion/getPromotion",
    }),
    async usePromotion() {
      this.promotionHaving = await this.getPromotion();
      // console.log(this.promotionHaving);
    },
  },
};
</script>
<style>
.promotion-text {
  margin-left: 10px;
  font-size: 80px;
  color: #7789c5;
  font-style: italic;
  font-weight: 600;
  font-family: "DM Serif Display", serif;
}
@media screen and (max-width: 550px) {
  .promotion-text {
    font-size: 40px;
  }
}
</style>