<template>
  <div>
    <v-col id="head-product"></v-col>
    <v-col style="background: #7789c5; padding: 0; padding-top: 120px">
      <v-snackbar
        :timeout="timeout"
        v-model="snackbarAddItemToCart"
        color="rgba(0,0,0,0.5)"
        centered
        style="margin-top: 100px"
      >
        <v-col
          cols="12"
          style="display: flex; justify-content: center; align-items: center"
        >
          <v-icon class="mdi-48px" color="success">mdi-check-circle</v-icon>
        </v-col>
        <h5 style="color: #fff; font-weight: 400; text-align: center">
          {{ textalert }}
        </h5>
      </v-snackbar>
      <v-container>
        <v-col id="brand-direct">
          <nuxtLink
            v-if="productData.name_brand"
            class="all-brand"
            :to="`/brand/all-product`"
            >Brand</nuxtLink
          >
          <v-icon v-if="productData.name_brand">mdi-chevron-left</v-icon>
          <nuxtLink
            v-if="productData.name_brand"
            class="brand-single"
            :to="`/brand/${productData.name_brand.code_name}`"
            >{{ productData.name_brand.name }}</nuxtLink
          >
          <v-icon v-if="productData.category">mdi-chevron-left</v-icon>
          <nuxt-link
            v-if="productData.category"
            class="brand-single"
            :to="`/category/${productData.category.code_name}`"
            >{{ productData.category.nameCategory }}</nuxt-link
          >
          <v-icon v-if="productData.res">mdi-chevron-left</v-icon>
          <span v-if="productData.res" class="brand-product">{{
            productData.res.name
          }}</span>
        </v-col>
        <v-col class="pa-0 mb-8">
          <v-row id="row-brand">
            <v-col cols="12" lg="6" class="pa-0">
              <v-carousel
                id="carousel-product"
                :show-arrows="false"
                hide-delimiter-background
                height="auto"
                delimiter-icon="mdi-circle-outline"
              >
                <span
                  v-if="
                    imageProductOther.length >= 1 || imageProductOther.image
                  "
                >
                  <v-carousel-item
                    v-for="(item, i) in imageProductOther"
                    :key="i"
                  >
                    <img
                      :src="`/api/v1/product-other/${item.image}`"
                      width="100%"
                      style="max-height: 100%"
                      alt=""
                    />
                  </v-carousel-item>
                  <span
                    style="
                      font-size: 16px;
                      color: #fff;
                      margin-left: 3px;
                      position: absolute;
                      right: 0;
                      top: 15px;
                      background: red;
                      padding: 1px 3px 1px 2px;
                    "
                    v-if="message"
                    >( {{ message }} )</span
                  >
                </span>
                <span v-else>
                  <v-carousel-item
                    v-for="(item, i) in imageMainProduct"
                    :key="i"
                  >
                    <img
                      :src="`/api/v1/product/picture-product/${item.image}`"
                      width="100%"
                      style="max-height: 100%"
                      alt=""
                    />
                  </v-carousel-item>
                  <span
                    style="
                      font-size: 16px;
                      color: #fff;
                      margin-left: 3px;
                      position: absolute;
                      right: 0;
                      top: 15px;
                      background: red;
                      padding: 1px 3px 1px 2px;
                    "
                    v-if="message"
                    >( {{ message }} )</span
                  >
                </span>
                <span
                  v-if="productOtherData.discount_promotion"
                  style="
                    position: absolute;
                    top: 40px;
                    color: #fff;
                    font-weight: 600;
                    font-size: 16px;
                    font-style: italic;
                    left: 0;
                    background: #ff3b74;
                    padding: 3px 5px;
                    border-radius: 0 20px 20px 0;
                    z-index: 7;
                    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
                  "
                  >SALE {{ productOtherData.discount_promotion }}%</span
                >
                <span
                  v-else-if="productData.promotion_product >= 1"
                  style="
                    position: absolute;
                    top: 40px;
                    color: #fff;
                    font-weight: 600;
                    font-size: 16px;
                    font-style: italic;
                    left: 0;
                    background: #ff3b74;
                    padding: 3px 5px;
                    border-radius: 0 20px 20px 0;
                    z-index: 4;
                    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
                  "
                  >SALE {{ productData.promotion_product.discount }}%</span
                >
              </v-carousel>
            </v-col>
            <v-col id="detail-product" cols="12" lg="6" class="pa-0">
              <v-col class="scope-padding pb-0">
                <h2 class="brand-page" v-if="productData.name_brand">
                  {{ productData.name_brand.name }}
                </h2>
                <h1 class="nameproduct-page" v-if="productData.res">
                  <span v-if="productData.res.name.length < 26" class="less">
                    {{ productData.res.name }}
                  </span>
                  <span v-else class="lot">
                    {{ productData.res.name }}
                  </span>
                </h1>
                <v-col cols="12" class="pb-0" v-if="optionColor">
                  <v-col v-if="optionColor.length >= 1" class="pl-0 pt-0">
                    <h4
                      style="font-size: 16px; font-weight: 400; color: #7789c5"
                    >
                      ตัวเลือกสินค้า
                    </h4>
                  </v-col>
                  <v-row>
                    <span
                      v-for="(item, n) in optionColor"
                      :key="n"
                      style="position: relative"
                    >
                      <span
                        v-if="item.active"
                        style="
                          position: absolute;
                          right: 0;
                          top: -12px;
                          z-index: 5;
                        "
                      >
                        <v-icon small color="red"
                          >mdi-checkbox-marked-circle</v-icon
                        >
                      </span>
                      <v-btn
                        v-if="item.color != 0 && item.active"
                        class="ml-1 mr-1 mt-1"
                        style="border-radius: 3px; border: 1px solid red"
                        small
                        elevation="0"
                        @click="pickedColor(item)"
                      >
                        <h4 style="color: red">{{ item.color }}</h4>
                      </v-btn>
                      <v-btn
                        v-if="item.color != 0 && !item.active"
                        class="ml-1 mr-1 mt-1"
                        style="
                          border-radius: 3px;
                          border: 1px solid rgba(0, 0, 0, 0.09);
                        "
                        small
                        elevation="0"
                        @click="pickedColor(item)"
                      >
                        <h4 style="color: #000">{{ item.color }}</h4>
                      </v-btn>
                    </span>
                  </v-row>
                </v-col>
                <v-col cols="12" class="pl-0 pr-0 pb-0 mt-2">
                  <h4
                    v-if="optionSize.length >= 1"
                    style="
                      font-size: 16px;
                      font-weight: 400;
                      color: #7789c5;
                      margin-left: 12px;
                    "
                  >
                    ตัวเลือกสินค้า
                  </h4>
                  <span
                    v-for="(item, i) in optionSize"
                    :key="i"
                    style="position: relative"
                  >
                    <span
                      v-if="item.active"
                      style="
                        position: absolute;
                        right: 0;
                        top: -12px;
                        z-index: 5;
                      "
                    >
                      <v-icon small color="red"
                        >mdi-checkbox-marked-circle</v-icon
                      >
                    </span>
                    <v-btn
                      v-if="item.active"
                      class="ml-1 mr-1 mt-1"
                      small
                      style="border-radius: 3px; border: 1px solid red"
                      elevation="0"
                      @click="pickedColor(item)"
                      ><h4 style="color: red">{{ item.size }}</h4>
                    </v-btn>
                    <v-btn
                      v-if="!item.active"
                      class="ml-1 mr-1 mt-1"
                      small
                      style="
                        border-radius: 3px;
                        border: 1px solid rgba(0, 0, 0, 0.09);
                      "
                      elevation="0"
                      @click="pickedColor(item)"
                      ><h4 style="color: #000">{{ item.size }}</h4>
                    </v-btn>
                  </span>
                </v-col>
                <v-row style="width: 100%" class="mt-4">
                  <v-col
                    v-if="productOtherData.discount_promotion"
                    class="pa-0"
                    cols="6"
                  >
                    <span style="position: relative">
                      <span v-if="productOtherData.price">
                        <span
                          class="price"
                          v-if="productOtherData.discount_promotion >= 1"
                        >
                          {{
                            Intl.NumberFormat("th-TH", {
                              currency: "THB",
                            }).format(
                              productOtherData.price -
                                (productOtherData.price *
                                  productOtherData.discount_promotion) /
                                  100
                            )
                          }}.-
                        </span>
                        <span class="price" v-else
                          >{{ productOtherData.price }}.-</span
                        >
                        <span
                          class="price-sale"
                          v-if="productOtherData.discount_promotion"
                          ><span
                            class="line-price-sale"
                            v-if="productOtherData.discount_promotion >= 1"
                            >{{
                              Intl.NumberFormat("th-TH", {
                                currency: "THB",
                              }).format(productOtherData.price)
                            }}.-</span
                          ></span
                        >
                      </span>
                      <span v-else>
                        <span v-if="productData.res">
                          <span
                            class="price"
                            v-if="productData.promotion_product.discount >= 1"
                          >
                            {{
                              Intl.NumberFormat("th-TH", {
                                currency: "THB",
                              }).format(
                                productData.res.price -
                                  (productData.res.price *
                                    productData.promotion_product.discount) /
                                    100
                              )
                            }}.-
                          </span>
                          <span class="price" v-else
                            >{{ productData.res.price }}.-</span
                          >
                        </span>
                        <span class="price-sale" v-if="productData.res"
                          ><span
                            class="line-price-sale"
                            v-if="productData.promotion_product.discount >= 1"
                            >{{
                              Intl.NumberFormat("th-TH", {
                                currency: "THB",
                              }).format(productData.res.price)
                            }}.-</span
                          ></span
                        >
                      </span>
                    </span>
                  </v-col>
                  <v-col
                    v-else-if="productData.promotion_product"
                    class="pa-0"
                    cols="6"
                  >
                    <span style="position: relative">
                      <span v-if="productOtherData.price">
                        <span
                          class="price"
                          v-if="productData.promotion_product.discount >= 1"
                        >
                          {{
                            Intl.NumberFormat("th-TH", {
                              currency: "THB",
                            }).format(
                              productOtherData.price -
                                (productOtherData.price *
                                  productData.promotion_product.discount) /
                                  100
                            )
                          }}.-
                        </span>
                        <span class="price" v-else
                          >{{ productOtherData.price }}.-</span
                        >
                        <span
                          class="price-sale"
                          v-if="productData.promotion_product.discount"
                          ><span
                            class="line-price-sale"
                            v-if="productData.promotion_product.discount >= 1"
                            >{{
                              Intl.NumberFormat("th-TH", {
                                currency: "THB",
                              }).format(productOtherData.price)
                            }}.-</span
                          ></span
                        >
                      </span>
                      <span v-else>
                        <span v-if="productData.res">
                          <span
                            class="price"
                            v-if="productData.promotion_product.discount >= 1"
                          >
                            {{
                              Intl.NumberFormat("th-TH", {
                                currency: "THB",
                              }).format(
                                productData.res.price -
                                  (productData.res.price *
                                    productData.promotion_product.discount) /
                                    100
                              )
                            }}.-
                          </span>
                          <span class="price" v-else
                            >{{ productData.res.price }}.-</span
                          >
                        </span>
                        <span class="price-sale" v-if="productData.res"
                          ><span
                            class="line-price-sale"
                            v-if="productData.promotion_product.discount >= 1"
                            >{{
                              Intl.NumberFormat("th-TH", {
                                currency: "THB",
                              }).format(productData.res.price)
                            }}.-</span
                          ></span
                        >
                      </span>
                    </span>
                  </v-col>
                  <v-col v-else class="pa-0" cols="6">
                    <span style="position: relative">
                      <span v-if="productOtherData.price">
                        <span
                          class="price"
                          v-if="productOtherData.discount >= 1"
                        >
                          {{
                            Intl.NumberFormat("th-TH", {
                              currency: "THB",
                            }).format(
                              productOtherData.price - productOtherData.discount
                            )
                          }}.-
                        </span>
                        <span class="price" v-else
                          >{{ productOtherData.price }}.-</span
                        >
                        <span
                          class="price-sale"
                          v-if="productOtherData.discount"
                          ><span
                            class="line-price-sale"
                            v-if="productOtherData.discount >= 1"
                            >{{
                              Intl.NumberFormat("th-TH", {
                                currency: "THB",
                              }).format(productOtherData.price)
                            }}.-</span
                          ></span
                        >
                      </span>
                      <span v-else>
                        <span v-if="productData.res">
                          <span
                            class="price"
                            v-if="productData.res.discount >= 1"
                          >
                            {{
                              Intl.NumberFormat("th-TH", {
                                currency: "THB",
                              }).format(
                                productData.res.price - productData.res.discount
                              )
                            }}.-
                          </span>
                          <span class="price" v-else
                            >{{ productData.res.price }}.-</span
                          >
                        </span>
                        <span class="price-sale" v-if="productData.res"
                          ><span
                            class="line-price-sale"
                            v-if="productData.res.discount >= 1"
                            >{{
                              Intl.NumberFormat("th-TH", {
                                currency: "THB",
                              }).format(productData.res.price)
                            }}.-</span
                          ></span
                        >
                      </span>
                    </span>
                  </v-col>
                  <v-col class="pa-0 quantity" cols="6">
                    <v-btn icon @click="valueProduct++">
                      <v-icon color="#FF5065">mdi-plus</v-icon></v-btn
                    >
                    <input
                      type="text"
                      v-model="valueProduct"
                      style="margin: 0 10px; text-align: center"
                    />
                    <v-btn icon @click="minus()">
                      <v-icon color="#FF5065">mdi-minus</v-icon></v-btn
                    >
                  </v-col>
                </v-row>
                <v-row
                  style="width: 100%"
                  class="mt-2 pa-0"
                  id="btn-product-add-and-cart"
                >
                  <v-col cols="2" class="pa-0 mt-2">
                    <v-btn
                      @click="pickedFavorite()"
                      icon
                      style="position: relative"
                    >
                      <img
                        v-if="favorite_product"
                        style="width: 40px"
                        src="~assets/img/pink-heart.png"
                        alt=""
                      />

                      <img
                        v-else
                        style="width: 40px"
                        src="~assets/img/icon-heart.png"
                        alt=""
                      />
                    </v-btn>
                  </v-col>

                  <v-col id="button-product" cols="10" class="pa-0">
                    <v-btn
                      :disabled="disableAddToCart"
                      @click="addItemToCart()"
                      class="btn-add-cart mr-2 mt-2"
                      >Add to Bag
                      <img
                        class="ml-2"
                        src="~assets/img/bag-border-fff.png"
                        width="30px"
                        alt=""
                      />
                    </v-btn>
                    <v-btn
                      :disabled="disableAddToCart"
                      class="btn-go-cart mt-2"
                      @click="addItemToCartAndGoCheckout()"
                      >Go to Cart<img
                        class="ml-2"
                        src="~assets/img/icon-cart-border-fff.png"
                        width="30px"
                        alt=""
                    /></v-btn>
                  </v-col>
                </v-row>
                <v-row style="width: 100%" class="mt-4 pa-0">
                  <v-col id="infomation-product" cols="12" class="pa-0">
                    <h6 class="mt-2" v-if="productData.detail">
                      รายละเอียดสินค้า: {{ productData.detail.description }}
                    </h6>
                  </v-col>
                </v-row>
              </v-col>
              <v-col class="pa-0">
                <v-col class="mt-10">
                  <v-row style="width: 100%">
                    <v-col
                      cols="6"
                      id="description-product"
                      @click="
                        (activeDescription = !activeDescription),
                          (activeReview = !activeReview)
                      "
                      :class="`${activeDescription ? 'active' : 'notactive'}`"
                    >
                      <h5>รายละเอียด</h5>
                    </v-col>
                    <v-divider id="divider-product" color="#ffb6d8"></v-divider>
                    <v-col
                      cols="6"
                      id="description-product"
                      @click="
                        (activeReview = !activeReview),
                          (activeDescription = !activeDescription)
                      "
                      :class="`${activeReview ? 'active' : 'notactive'}`"
                      style="right: 0"
                    >
                      <h5>Review</h5>
                    </v-col>
                  </v-row>
                </v-col>
              </v-col>
            </v-col>
          </v-row>
        </v-col>
        <v-row v-show="activeDescription" id="row-description" class="mt-11">
          <v-col
            v-for="(detail, b) in productData.product_description_image"
            :key="b"
            cols="12"
            lg="6"
            class="pa-0"
            id="image-description-1"
          >
            <img
              :src="`/api/v1/product_description_image/${detail.image}`"
              width="100%"
              alt=""
            />
          </v-col>
        </v-row>
        <v-col v-show="activeReview" class="pa-0 mt-11">
          <v-slide-group show-arrows id="review-product">
            <template v-slot:prev>
              <v-btn id="btn-review-prev"
                ><v-icon>mdi-chevron-left</v-icon>PREV</v-btn
              >
            </template>
            <template v-slot:next>
              <v-btn id="btn-review-next"
                >NEXT <v-icon>mdi-chevron-right</v-icon></v-btn
              >
            </template>
            <v-slide-item v-for="(item, i) in items" :key="i" :show-arrows="false" class="mr-2 ml-2">
              <v-card class="card-review-product" style="">
                <img src="~assets/img/review.png" width="100%" alt="" />
                <h2 class="into">REVIEW</h2>
                <v-col cols="12" class="pa-4">
                  <p>สวยสุดในสามโลก งามดีที่ตรงนี้จัดไปเลยสิบอัน</p>
                </v-col>
                <v-col cols="12" class="pa-4">
                  <v-row>
                    <v-col id="rating-review-product" cols="6" class="pa-0">
                      <v-rating
                        v-model="rating"
                        background-color="orange lighten-3"
                        color="orange"
                        readonly
                      ></v-rating>
                    </v-col>
                    <v-col id="date-review-product" class="pa-0">
                      <span>2021.07.09</span>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col>
                  <span
                    style="
                      background: #c3d5f5;
                      padding: 10px 6px 12px 6px;
                      border-radius: 50%;
                    "
                  >
                    <v-icon color="#ffffff" style="font-size: 36px"
                      >mdi mdi-account-outline</v-icon
                    > </span
                  ><span
                    style="margin-left: 5px; font-size: 24px; color: #7789c5"
                    >XXXXXXXXXXXX</span
                  >
                </v-col>
                <v-card-text> </v-card-text>
              </v-card>
            </v-slide-item>
          </v-slide-group>
        </v-col>
        <!-- ///// -->
        <MayAlsoLike />
      </v-container>
    </v-col>
  </div>
</template>

<script>
import MayAlsoLike from "@/components/product/mayAlsoLike";
import { mapActions } from "vuex";

export default {
  components: {
    MayAlsoLike,
  },

  data() {
    return {
      dataForSend: { color: null, size: null, twin: false, product_id: 0 },
      title: "",
      active: false,
      chooseColor: "",
      colorChang: "#000 !important",
      timeout: 1000,
      textalert: "",
      color: [],
      code_color: [],
      optionColor: [],
      optionSize: [],
      size: [],
      snackbarAddItemToCart: false,
      valueProduct: 1,
      rating: 4,
      activeReview: false,
      activeDescription: true,
      items: [
        {
          src: require("@/assets/img/des1.png"),
        },
        {
          src: "https://online.karmarts.com/media/catalog/product/cache/2/image/767x767/9df78eab33525d08d6e5fb8d27136e95/c/a/cathy_doll_brigh_up_day_cream_spf15_x50_pure_white_and_bright_up_sleeping_mask_1.jpg",
        },
        {
          src: "https://online.karmarts.com/media/catalog/product/cache/2/image/767x767/9df78eab33525d08d6e5fb8d27136e95/c/a/cathy_doll_brigh_up_day_cream_spf15_x50_pure_white_and_bright_up_sleeping_mask_1.jpg",
        },
        {
          src: "https://online.karmarts.com/media/catalog/product/cache/2/image/767x767/9df78eab33525d08d6e5fb8d27136e95/c/a/cathy_doll_brigh_up_day_cream_spf15_x50_pure_white_and_bright_up_sleeping_mask_1.jpg",
        },
      ],
      disableAddToCart: false,
      productData: [],
      productOtherData: [],
      message: null,
      imageProductOther: [],
      favorite_product: null,
      imageMainProduct: [],
    };
  },
  head() {
    return {
      titleTemplate: `%s ${this.$route.params.product}`,
      // meta: [
      //   {
      //     hid: productData.seo.meta_title || "seoulgood",
      //     name: productData.seo.meta_title || "seoulgood",
      //     content: productData.seo.meta_description ||"seoulgood สายได้ สไตล์เกาหลี",
      //   },
      // ],
    };
  },
  mounted() {
    this.getProductById();
  },

  methods: {
    ...mapActions({
      showProduct: "product/showProduct",
      dataProductOther: "product/dataProductOther",
      addItemNewarrivalToCart: "cart/addItemNewarrivalToCart",
      favoriteProduct: "cart/favoriteProduct",
    }),
    async pickedFavorite() {
      if (this.$auth.loggedIn) {
        const data = {
          customer_id: this.$auth.user.data.id,
          product_id: this.productData.res.id,
        };
        const res = await this.favoriteProduct(data);
        if (res.success) {
          this.favorite_product = !this.favorite_product;
        }
      } else {
        this.$router.push("/login");
      }
    },
    async pickedColor(data) {
      //Keep data in dataForSend
      if (data.color) {
        this.dataForSend.color = data.color;
        this.dataForSend.product_id = this.productData.res.id;
      }
      if (data.size) {
        this.dataForSend.size = data.size;
        this.dataForSend.product_id = this.productData.res.id;
      }
      if (this.dataForSend.color && this.dataForSend.size) {
        this.dataForSend.twin = true;
      }
      /////////////////////////////

      if (this.dataForSend.color) {
        for (let i = 0; i < this.optionColor.length; i++) {
          if (this.dataForSend.color == this.optionColor[i].color) {
            this.optionColor[i].active = true;
          } else {
            this.optionColor[i].active = false;
          }
        }
        if (this.optionSize.length >= 1) {
          if (this.dataForSend.size) {
            for (let i = 0; i < this.optionSize.length; i++) {
              if (this.dataForSend.size == this.optionSize[i].size) {
                this.optionSize[i].active = true;
              } else {
                this.optionSize[i].active = false;
              }
            }
          }
          if (this.dataForSend.twin) {
            const res = await this.dataProductOther(this.dataForSend);
            if (res.success) {
              this.productOtherData = res.data;
              this.disableAddToCart = false;
              this.message = null;
              this.imageProductOther = res.image;
            } else {
              this.productOtherData = [];
              this.imageProductOther = [];
              this.message = res.msg;
              this.disableAddToCart = true;
            }
          }
        } else {
          const res = await this.dataProductOther(this.dataForSend);
          // console.log(res.data);
          if (res.success) {
            this.productOtherData = res.data;
            this.disableAddToCart = false;
            this.message = null;
            this.imageProductOther = res.image;
          } else {
            this.productOtherData = [];
            this.imageProductOther = [];
            this.message = res.msg;
            this.disableAddToCart = true;
          }
        }
      } else if (this.dataForSend.size) {
        for (let i = 0; i < this.optionSize.length; i++) {
          if (this.dataForSend.size == this.optionSize[i].size) {
            this.optionSize[i].active = true;
          } else {
            this.optionSize[i].active = false;
          }
        }
        if (this.optionColor[0].color != 0) {
          // console.log(this.optionColor);
        } else {
          const res = await this.dataProductOther(this.dataForSend);
          if (res.success) {
            this.productOtherData = res.data;
            this.disableAddToCart = false;
            this.message = null;
            this.imageProductOther = res.image;
          } else {
            this.productOtherData = [];
            this.imageProductOther = [];
            this.message = res.msg;
            this.disableAddToCart = true;
          }
        }
      }

      //เลือกสินค้าเฉพาะสี
    },
    async getProductById() {
      if (this.$auth.loggedIn) {
        const data = {
          id: this.$route.params.product,
          customer_id: this.$auth.user.data.id,
        };
        const res = await this.showProduct(data);
        this.imageMainProduct = res.image;
        if (res.product_other) {
          let color = [];
          let size = [];
          let code_color = [];
          for (let i = 0; i < res.product_other.length; i++) {
            color.push(res.product_other[i].color);
          }
          for (let i = 0; i < res.product_other.length; i++) {
            code_color.push(res.product_other[i].code_color);
          }
          this.color = [...new Set(color)];
          this.code_color = [...new Set(code_color)];
          for (let i = 0; i < this.color.length; i++) {
            this.optionColor.push({
              color: this.color[i],
              code_color: this.code_color[i],
              active: false,
              chooseColor: false,
            });
          }
          for (let i = 0; i < res.product_other.length; i++) {
            if (res.product_other[i].size != 0) {
              size.push(res.product_other[i].size);
            }
          }
          this.size = [...new Set(size)];
          for (let i = 0; i < this.size.length; i++) {
            this.optionSize.push({
              size: this.size[i],
              active: false,
              chooseSize: false,
            });
          }
        }
        this.productData = res;
        // console.log(res.favorite);
        if (res.favorite) {
          this.favorite_product = true;
        } else {
          this.favorite_product = false;
        }
      } else {
        const data = { id: this.$route.params.product };
        const res = await this.showProduct(data);
        this.imageMainProduct = res.image;
        if (res.product_other) {
          let color = [];
          let size = [];
          let code_color = [];
          for (let i = 0; i < res.product_other.length; i++) {
            color.push(res.product_other[i].color);
          }
          for (let i = 0; i < res.product_other.length; i++) {
            code_color.push(res.product_other[i].code_color);
          }
          this.color = [...new Set(color)];
          this.code_color = [...new Set(code_color)];
          for (let i = 0; i < this.color.length; i++) {
            this.optionColor.push({
              color: this.color[i],
              code_color: this.code_color[i],
              active: false,
              chooseColor: false,
            });
          }
          for (let i = 0; i < res.product_other.length; i++) {
            if (res.product_other[i].size != 0) {
              size.push(res.product_other[i].size);
            }
          }
          this.size = [...new Set(size)];
          for (let i = 0; i < this.size.length; i++) {
            this.optionSize.push({
              size: this.size[i],
              active: false,
              chooseSize: false,
            });
          }
        }

        this.productData = res;
        // console.log(res);
      }

      // console.log(this.productData.seo );
    },
    async addItemToCartAndGoCheckout() {
      const data = {
        customer_id: this.$auth.user.data.id,
        product_id: this.productData.res.id,
        quantity: this.valueProduct,
      };
      const res = await this.addItemNewarrivalToCart(data);
      if (res.success) {
        this.snackbarAddItemToCart = true;
        this.textalert = res.message;
        this.$router.push("/checkout");
      }
    },
    async addItemToCart() {
      // console.log(this.productData.res.id);
      if (this.$auth.loggedIn) {
        if (this.productOtherData) {
          const data = {
            customer_id: this.$auth.user.data.id,
            product_id: this.productData.res.id,
            color: this.productOtherData.color,
            size: this.productOtherData.size,
            quantity: this.valueProduct,
          };
          const res = await this.addItemNewarrivalToCart(data);
          if (res.success) {
            this.snackbarAddItemToCart = true;
            this.textalert = res.message;
          }
        } else {
          const data = {
            customer_id: this.$auth.user.data.id,
            product_id: this.productData.res.id,
            quantity: this.valueProduct,
          };
          const res = await this.addItemNewarrivalToCart(data);
          if (res.success) {
            this.snackbarAddItemToCart = true;
            this.textalert = res.message;
          }
        }
      } else {
        this.$router.push("/login");
      }
    },
    minus() {
      this.valueProduct--;
      if (this.valueProduct <= 1) {
        this.valueProduct = 1;
      }
    },
  },
};
</script>
<style>
.select-size .v-select__selection {
  color: #7789c5;
}

/* .color-radio .v-icon{
  color:red;
} */
.brand-page {
  word-wrap: break-word;
  font-size: 3rem !important;
  font-family: "DM Serif Display" !important;
}
.nameproduct-page {
  font-size: 2rem !important;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}
.nameproduct-page .less {
  font-weight: bold;
}
.nameproduct-page .lot {
  font-weight: bold;
  font-size: 20px;
}

#head-product {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90px;
}

#divider-product {
  width: 100%;
  position: absolute;
  bottom: 0;
}
#btn-product-add-and-cart .icon-heart {
  font-size: 50px;
}
#detail-product .scope-padding {
  padding: 60px;
  padding-left: 20px;
}
#date-review-product {
  text-align: right;
}
#date-review-product span {
  margin-right: 10px;
  color: #ff91c4;
}
#rating-review-product .v-rating button {
  padding: 0 !important;
}
#review-product .card-review-product {
  margin-top: 20px;
  width: 360px;
  border: 1px solid rgba(255, 145, 196, 0.8);
}
#review-product .card-review-product .into {
  color: #ffffff;
  background: #ff91c4;
  max-width: 120px;
  text-align: right;
  padding-right: 10px;
  margin-top: 5px;
  font-family: "AvenirBlack" !important;
}
#review-product .card-review-product p {
  font-size: 20px;
}
#review-product .card-review-product img {
  height: 200px;
  max-height: 200px;
}
#review-product #btn-review-prev {
  background: rgba(255, 145, 196, 0.8);
  border-radius: 0;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  padding: 3px 8px 3px 0;
  left: -50px;
}
#review-product #btn-review-next {
  background: rgba(255, 145, 196, 0.8);
  border-radius: 0;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  padding: 3px 0 3px 8px;
  right: -50px;
}
#review-product #btn-review-prev i.v-icon {
  font-size: 48px;
}
#review-product #btn-review-next i.v-icon {
  font-size: 48px;
}
#review-product {
  margin-left: 30px;
  margin-right: 30px;
}
#row-description {
  margin-left: 30px;
  margin-right: 30px;
}
#description-product {
  /* margin-top: 60px; */
  height: 100px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 8;
  bottom: -50px;
}
#description-product.active {
  background: #ffb6d8;
}
#description-product.active h5 {
  font-size: 36px;
}
#description-product h5 {
  font-family: "IBM Plex Sans Thai", sans-serif;
  color: #ffffff;
  font-weight: 400;
  margin: auto;
  font-size: 24px;
  margin-top: 10px;
}
#infomation-product h6 {
  word-wrap: break-word;
  color: #7789c5;
  font-weight: 400;
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  margin: 2px 0 2px 0;
  min-height: 150px;
}
#infomation-product strong {
  margin-left: 2px;
  color: #ffffcc;
  font-weight: normal;
  font-family: "Prompt", sans-serif;
}
#button-product {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}
#button-product .v-btn__content {
  font-family: "AvenirMedium";
  font-size: 16px;
}
#button-product .btn-add-cart {
  font-weight: bold;
  border-radius: 0;
  color: #ffff;
  background: #7789c5;
  text-transform: none;
}
#button-product .btn-go-cart {
  border-radius: 0;
  font-weight: bold;
  color: #ffff;
  background: #7789c5;
  text-transform: none;
}
#detail-product .line-price-sale {
  position: relative;
}
#detail-product .line-price-sale::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ff5065;
  position: absolute;
  transform: rotate(-20deg);
  top: 10px;
  left: -5px;
}
#detail-product {
  background: #c3d5f5;
  position: relative;
}
#detail-product .quantity {
  display: flex;
  justify-content: flex-end;
}
#detail-product .quantity .v-btn__content {
  top: 20px;
}
#detail-product .quantity input {
  max-width: 40px;
  font-size: 2em;
  font-style: italic;
  color: #ff5065;
}
#detail-product .price {
  font-size: 3em;
  font-style: italic;
  color: #ff5065;
}
#detail-product .price-sale {
  position: absolute;
  right: -30px;
  font-style: italic;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
#detail-product .quantity .v-icon {
  font-size: 40px;
  margin-top: -40px;
}
#detail-product .quantity .v-btn {
  margin-top: 20px;
}
#detail-product .scope-padding h2 {
  font-size: 4em;
  color: #ffffff;
}
#detail-product h1 {
  color: #7789c5;
  font-weight: 400;
  margin-top: -10px;
  font-size: 2em;
}
#row-brand {
  margin-left: 30px;
  margin-right: 30px;
}
#brand-direct .all-brand {
  font-size: 3em;
  font-style: italic;
  font-family: "DM Serif Display" !important;
  color: #ffffcc;
}
#brand-direct .brand-single {
  font-family: "Roboto", sans-serif;
  font-size: 1.35em;
  font-weight: bold;
  color: #ffffff;
}
#brand-direct .brand-product {
  color: #ff91c4;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}
#brand-direct .v-icon {
  color: #ffffff;
  font-size: 36px;
  margin-top: -10px;
}
#carousel-product {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: auto;
  height: 100% !important;
}
.v-image .v-responsive .v-carousel__item {
  height: 250px !important;
}
#carousel-product .v-responsive__content {
  margin-bottom: -10px;
}
#row-description img {
  margin-bottom: -7px;
}
@media screen and (max-width: 540px) {
  #head-product {
    height: 70px;
  }
  #row-description img:nth-child(0) {
    margin-top: 20px;
  }
  #row-description img {
    margin-bottom: -7px;
  }
  #divider-product {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  #description-product {
    margin-top: 0;
    height: 70px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 10;
    bottom: -20px;
  }
  #description-product.active {
    background: #ffb6d8;
  }
  #description-product.active h5 {
    font-size: 24px;
  }
  #description-product h5 {
    font-family: "IBM Plex Sans Thai", sans-serif;
    color: #ffffff;
    font-weight: 400;
    margin: auto;
    font-size: 16px;
    margin-top: 10px;
  }
  #review-product.v-slide-group {
    height: 100%;
  }
  #btn-product-add-and-cart .icon-heart {
    font-size: 30px;
  }
  #button-product .v-btn__content {
    font-family: "AvenirMedium";
    font-size: 10px !important;
  }
  #button-product .btn-add-cart {
    border-radius: 0;
    color: #ffff;
    background: #7789c5;
    text-transform: none;
  }
  #button-product .btn-go-cart {
    border-radius: 0;
    color: #ffff;
    background: #7789c5;
    text-transform: none;
  }
  #button-product .btn-add-cart .v-icon {
    margin-left: 5px;
    font-size: 16px;
  }
  #button-product .btn-go-cart .v-icon {
    font-size: 16px;
    margin-left: 5px;
  }
  #row-description {
    margin-left: 0;
    margin-right: 0;
  }
  #review-product {
    margin-left: 0;
    margin-right: 0;
  }
  #detail-product .scope-padding {
    padding: 20px;
  }
  #review-product .card-review-product {
    margin-top: 20px;
    width: 370px;
    border: 1px solid rgba(255, 145, 196, 0.8);
  }
  #review-product #btn-review-prev {
    left: -20px;
    width: 90px;
  }
  #review-product #btn-review-prev .v-btn__content {
    font-size: 16px;
  }
  #review-product #btn-review-next .v-btn__content {
    font-size: 16px;
  }
  #review-product #btn-review-next {
    right: -10px;
    width: 90px;
  }
  #review-product #btn-review-prev i.v-icon {
    font-size: 32px;
  }
  #review-product #btn-review-next i.v-icon {
    font-size: 32px;
  }
  #row-brand {
    margin: 0;
  }
  #text-head {
    font-size: 80px;
    top: 140px;
  }
}
/* 123 */

/* details */
#detail-product .scope-padding h2 {
  font-size: 2em;
  color: #ffffff;
}
.v-carousel__controls {
  bottom: 10px;
}
#carousel-product .mdi::before,
.mdi-set {
  font-size: 16px !important;
  color: #7789c5;
}
.theme--dark.v-btn--active:hover::before,
.theme--dark.v-btn--active::before {
  height: 12px;
  width: 12px;
  margin: 8px;
  background-color: #7789c5;
  opacity: 1;
}
</style>
