<template>
  <div>
    <v-col id="checkout" style="padding-top: 100px">
      <v-container>
        <v-col class="pa-0">
          <v-row>
            <v-col cols="12" lg="8">
              <h2 class="text-start">Checkout</h2>
            </v-col>
            <v-col cols="12" lg="4" class="to-completed">
              <v-col class="pa-0 order-Checkout">
                <v-row>
                  <v-col cols="4" class="column-order-completed"
                    ><span class="active">1</span></v-col
                  >
                  <v-col cols="4" class="column-order-completed"
                    ><span>2</span></v-col
                  >
                  <v-col cols="4" class="column-order-completed-3">
                    <div class="completed-circle">
                      <h5 style="font-size: 12px">Order</h5>
                      <h5 style="font-size: 8px">Completed</h5>
                    </div>
                  </v-col>
                  <hr id="hr-dashed" />
                </v-row>
              </v-col>
            </v-col>
          </v-row>
        </v-col>
        <v-col ref="checkout_product" class="pa-0" id="checkout-product-reward">
          <v-row>
            <v-col cols="12" lg="8">
              <v-row>
                <v-col cols="12" class="head">
                  <v-row id="row-reward">
                    <v-col cols="7" style="display: flex; align-items: center">
                      <h5 style="display: flex; align-items: center">
                        <v-icon color="#fff" class="mr-4 mb-1"
                          >mdi mdi-cart-outline</v-icon
                        >
                        <span style="color: #fff">PRODUCT</span>
                      </h5>
                    </v-col>
                    <!-- <v-col cols="5" class="reward">
                      <div id="reward-right">
                        <h5 id="reward-point" style="color:#fff;">
                          REWARDS
                          <span style="position:relative;margin:0 3px 0 3px;"
                            >349
                            <hr
                          /></span>
                          POINT
                        </h5>
                      </div>
                    </v-col> -->
                  </v-row>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  style="
                    background: #fff;
                    border: 1px solid #7789c5;
                    padding: 40px;
                  "
                >
                  <v-row v-for="(item, i) in cartdata" :key="i" class="mb-4">
                    <v-col
                      cols="4"
                      class="pa-0"
                      style="border: 1px solid #7789c5; position: relative"
                    >
                      <nuxtLink :to="`/product/${item.code_name}`"
                        ><img
                          :src="`/api/v1/product/picture-product/${item.image}`"
                          alt=""
                      /></nuxtLink>
                      <h5 v-if="item.newarrival_status" id="text-new-arrival">
                        NEW
                      </h5>
                    </v-col>
                    <v-col cols="8" id="checkout-product-detail">
                      <v-icon
                        @click="dialogConfirm = true"
                        id="icon-close"
                        style=""
                        color="#7789c5"
                        >mdi-close</v-icon
                      >
                      <v-dialog
                        v-model="dialogConfirm"
                        max-width="350"
                        @keydown.esc="dialogConfirm = false"
                      >
                        <v-card>
                          <v-toolbar dark dense flat>
                            <v-toolbar-title
                              class="text-body-2 font-weight-bold white--text"
                            >
                              คุณต้องการจะลบสินค้านี้ออกจากตะกร้าใช่หรือไม่ ?
                            </v-toolbar-title>
                          </v-toolbar>
                          <v-card-text class="pa-4 black--text"></v-card-text>
                          <v-card-actions class="pt-3">
                            <v-spacer></v-spacer>
                            <v-btn
                              color="primary"
                              text
                              class="body-2 font-weight-bold"
                              >ยกเลิก</v-btn
                            >
                            <v-btn
                              color="red"
                              class="body-2 font-weight-bold"
                              outlined
                              >ลบสินค้า</v-btn
                            >
                          </v-card-actions>
                        </v-card>
                      </v-dialog>

                      <h2>{{ item.name }}</h2>
                      <h3>{{ item.description }}</h3>
                      <span
                        v-for="(colorAndSize, s) in item.colorAndSize"
                        :key="s"
                      >
                        <h4 v-if="colorAndSize.size != 0">
                          ขนาด: {{ colorAndSize.size }}
                        </h4>
                        <h4 v-if="colorAndSize.color != 0">
                          สี: {{ colorAndSize.color }}
                        </h4>
                      </span>
                      <v-row>
                        <v-col id="select-product" cols="8" class="mt-4">
                          <v-row>
                            <!-- <div class="select">
                              <select id="choose-color">
                                <option value="0">Choose</option>
                                <option value="1">Red</option>
                                <option value="2">Green</option>
                              </select>
                            </div> -->

                            <div id="quantity-order" style="">
                              <v-icon
                                @click="minusCart(item)"
                                color="#FF5065"
                                style="
                                  border-right: 1px solid rgba(0, 0, 0, 0.5);
                                "
                                >mdi-minus</v-icon
                              >
                              <input
                                type="text"
                                v-model="item.quantity"
                                disabled
                                style="
                                  width: 30px;
                                  color: #7789c5;
                                  text-align: center;
                                "
                              />
                              <v-icon
                                @click="plusCart(item)"
                                color="#FF5065"
                                style="
                                  border-left: 1px solid rgba(0, 0, 0, 0.5);
                                "
                                >mdi-plus</v-icon
                              >
                            </div>
                          </v-row>
                        </v-col>
                        <v-col cols="4" id="price-and-sale">
                          <v-col>
                            <span v-if="item.price_other_product">
                              <span class="price" v-if="item.discount_promotion"
                                >{{
                                  Intl.NumberFormat("th-TH", {
                                    currency: "THB",
                                  }).format(
                                    (item.price_other_product -
                                      (item.price_other_product *
                                        item.discount_promotion) /
                                        100) *
                                      item.quantity
                                  )
                                }}.-</span
                              >
                              <span
                                class="price"
                                v-else-if="item.discount_other_product"
                                >{{
                                  Intl.NumberFormat("th-TH", {
                                    currency: "THB",
                                  }).format(
                                    (item.price_other_product -
                                      item.discount_other_product) *
                                      item.quantity
                                  )
                                }}.-</span
                              >
                              <span class="price" v-else>{{
                                item.price_other_product
                              }}</span>
                              <span class="price-sale"
                                ><span
                                  v-if="item.discount_promotion >= 1"
                                  class="line-price-sale"
                                  >{{
                                    Intl.NumberFormat("th-TH", {
                                      currency: "THB",
                                    }).format(
                                      item.price_other_product * item.quantity
                                    )
                                  }}.-</span
                                >
                                <span
                                  v-else-if="item.discount_other_product >= 1"
                                  class="line-price-sale"
                                  >{{
                                    Intl.NumberFormat("th-TH", {
                                      currency: "THB",
                                    }).format(
                                      item.price_other_product * item.quantity
                                    )
                                  }}.-</span
                                ></span
                              >
                            </span>
                            <span v-else
                              ><span
                                class="price"
                                v-if="item.discount_promotion"
                                >{{
                                  Intl.NumberFormat("th-TH", {
                                    currency: "THB",
                                  }).format(
                                    (item.price -
                                      (item.price * item.discount_promotion) /
                                        100) *
                                      item.quantity
                                  )
                                }}.-</span
                              ><span class="price" v-else-if="item.discount"
                                >{{
                                  Intl.NumberFormat("th-TH", {
                                    currency: "THB",
                                  }).format(
                                    (item.price - item.discount) * item.quantity
                                  )
                                }}.-</span
                              >
                              <span class="price" v-else>{{ item.price }}</span>
                              <span class="price-sale">
                                <span
                                  v-if="item.discount_promotion >= 1"
                                  class="line-price-sale"
                                  >{{
                                    Intl.NumberFormat("th-TH", {
                                      currency: "THB",
                                    }).format(item.price * item.quantity)
                                  }}.-</span
                                ><span
                                  v-else-if="item.discount >= 1"
                                  class="line-price-sale"
                                  >{{
                                    Intl.NumberFormat("th-TH", {
                                      currency: "THB",
                                    }).format(item.price * item.quantity)
                                  }}.-</span
                                ></span
                              ></span
                            >
                          </v-col>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
            <v-col id="summary" cols="12" lg="4" style="padding: 20px">
              <v-row>
                <v-col cols="12" class="pb-0">
                  <v-col class="pa-0 head-summary" style="background: #7789c5">
                    <v-container>
                      <v-row>
                        <v-col
                          cols="4"
                          style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          "
                          ><h3>CODE</h3></v-col
                        >
                        <v-col cols="8">
                          <div class="code">
                            <v-text-field style=""></v-text-field>
                          </div>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-col>
                </v-col>
                <v-col cols="12" class="pt-0">
                  <v-col
                    class="pa-0 body-summary"
                    style="background: #fff; border: 1px solid #7789c5"
                  >
                    <v-col>
                      <v-row>
                        <v-col cols="12">
                          <v-row
                            ><v-col cols="6"
                              ><h4 id="text-summary">รวม</h4></v-col
                            >
                            <v-col cols="6">
                              <h4
                                id="text-summary"
                                style="float: right; color: #ffb6d8"
                              >
                                {{ productInCart }}.-
                              </h4></v-col
                            ></v-row
                          >
                        </v-col>
                        <v-col v-if="this.productInCart" cols="12"
                          ><v-row>
                            <v-col cols="6"
                              ><h4 id="text-summary">ค่าจัดส่ง</h4></v-col
                            >
                            <v-col cols="6">
                              <h4
                                id="text-summary"
                                style="float: right; color: #ffb6d8"
                              >
                                {{ vat }}.-
                              </h4></v-col
                            ></v-row
                          ></v-col
                        >
                      </v-row>
                    </v-col>
                    <v-col
                      style="
                        background: #ff5065;
                        border-radius: 0 50px 50px 0;
                        margin-left: -10px;
                      "
                    >
                      <v-row>
                        <v-col
                          cols="6"
                          class="pb-0 pt-0"
                          style="display: flex; align-items: center"
                          ><h4 id="summary-price-text">รวม</h4></v-col
                        >
                        <v-col
                          cols="6"
                          class="pb-0 pt-0"
                          style="display: flex; align-items: center"
                          ><h4 id="summary-price">
                            <span v-if="productInCart">
                              {{
                                Intl.NumberFormat("th-TH", {
                                  style: "currency",
                                  currency: "THB",
                                }).format(allsumaryPrice)
                              }}</span
                            >
                          </h4></v-col
                        >
                      </v-row>
                    </v-col>
                    <v-col
                      class="pa-6"
                      style="display: flex; justify-content: center"
                    >
                      <v-btn
                        @click="scorllDown()"
                        style="
                          border-radius: 0;
                          color: #fff;
                          background: #7789c5;
                          text-transform: capitalize;
                          font-size: 24px;
                        "
                        >Continue</v-btn
                      >
                    </v-col>
                  </v-col>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-col>
        <Address />
      </v-container>
    </v-col>
  </div>
</template>
<script>
import Address from "@/components/checkout/address";
import { mapActions, mapGetters } from "vuex";
export default {
  components: {
    Address,
  },
  data() {
    return {
      dialogConfirm: false,
      productInCart: null,
      vat: 40,
      allsumaryPrice: null,
      dataInCart: [],
    };
  },
  watch: {
    cartdata: function (val) {
      this.summary();
      // console.log(val);
    },
  },
  computed: {
    ...mapGetters({ cartdata: "cart/cartdata" }),
  },
  mounted() {
    // this.getCheckout();
    this.summary();
  },
  methods: {
    ...mapActions({
      updownQuantity: "cart/updownQuantity",
      deleteCart: "cart/deleteCart",
    }),
    scorllDown: function () {
      let scrollHeight = this.$refs.checkout_product.scrollHeight + 200;
      window.scrollTo(0, scrollHeight);
    },
    summary() {
      let sum = 0;
      for (let i = 0; i < this.cartdata.length; i++) {
        if (this.cartdata[i].price_other_product) {
          if (this.cartdata[i].discount_promotion) {
            sum +=
              (this.cartdata[i].price_other_product -
                (this.cartdata[i].price_other_product *
                  this.cartdata[i].discount_promotion) /
                  100) *
              this.cartdata[i].quantity;
          } else if (this.cartdata[i].discount_other_product) {
            sum +=
              (this.cartdata[i].price_other_product -
                this.cartdata[i].discount_other_product) *
              this.cartdata[i].quantity;
          } else {
            sum +=
              this.cartdata[i].price_other_product * this.cartdata[i].quantity;
          }
        } else {
          if (this.cartdata[i].discount_promotion) {
            sum +=
              (this.cartdata[i].price -
                (this.cartdata[i].price * this.cartdata[i].discount_promotion) /
                  100) *
              this.cartdata[i].quantity;
          } else if (this.cartdata[i].discount) {
            sum +=
              (this.cartdata[i].price - this.cartdata[i].discount) *
              this.cartdata[i].quantity;
          } else {
            sum += this.cartdata[i].price * this.cartdata[i].quantity;
          }
        }
      }

      this.productInCart = sum;
      this.allsumaryPrice = this.vat + this.productInCart;
    },
    // getCheckout() {
    //   console.log(this.cartdata);
    // },

    async plusCart(data) {
      const cart = { id: data.cart_id, quantity: data.quantity + 1 };
      const res = await this.updownQuantity(cart);
    },
    async minusCart(data) {
      if (data.quantity <= 1) {
        const res = await this.deleteCart(data);
      } else {
        const cart = { id: data.cart_id, quantity: data.quantity - 1 };
        const res = await this.updownQuantity(cart);
      }
    },
  },
};
</script>
<style>
#quantity-order {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-left: 5px;
}
#quantity-order .v-icon {
  font-size: 24px;
}
@media screen and (max-width: 550px) {
  #quantity-order .v-icon {
    font-size: 14px;
  }
}
#checkout .text-start {
  margin-left: 0;
}
#summary-price-text {
  margin-top: -5px;
  font-size: 40px;
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  color: #fff;
}
#summary-price {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  font-family: "AvenirMediumOblique";
}
#text-summary {
  font-size: 24px;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  color: #7789c5;
}
#summary .code {
  background: #ffffcc;
  height: 35px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
}
#summary .code .v-text-field {
  margin-left: 5px;
  margin-top: -20px;
  padding-top: 15px;
  padding-right: 6px;
}
#summary .head-summary h3 {
  font-size: 1.5em;
  color: #fff;
}
#summary .head-summary {
  height: 75px;
  display: flex;
  align-items: center;
}
/* #checkout-product-reward {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
} */
#checkout-product-reward .head {
  background: #7789c5;
  height: 90px;
  display: flex;
  align-items: center;
  /* margin-top: 10px; */
}
#checkout-product-reward .head .v-icon {
  font-size: 36px;
}
#checkout-product-reward .head h5 {
  font-size: 30px;
}
#choose-color {
  width: 160px;
}
#choose-value {
  width: 80px;
}
#price-and-sale {
  position: relative;
  padding: 0;
  margin-top: -20px;
}
#price-and-sale .price {
  font-size: 3em;
  font-style: italic;
  color: #ff5065;
  display: flex;
  justify-content: center;
}
#price-and-sale .price-sale {
  position: absolute;
  right: 20px;
  top: 0;
  font-style: italic;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
#price-and-sale .line-price-sale {
  position: relative;
}
#price-and-sale .line-price-sale::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ff5065;
  position: absolute;
  transform: rotate(-20deg);
  top: 10px;
  left: -5px;
}
#select-product select {
  border: 1px solid #ff91c4;
  padding: 2px 0 2px 0;
  text-align: center;
  color: #7789c5;
  font-size: 18px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
#select-product .select {
  position: relative;
  background: #fff;
  width: 160px;
}
#select-product .select::after {
  content: "\276F";
  transform: rotate(90deg);
  font-size: 17px;
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  padding: 4px 12px;
  background: #ff91c4;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

#select-product .select-value::after {
  content: "\276F";
  transform: rotate(90deg);
  font-size: 17px;
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  padding: 4px 12px;
  background: #ff91c4;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
#select-product .select-value {
  position: relative;
  background: #fff;
  width: 100px;
  margin-left: 5px;
}

#checkout .to-completed .completed-circle {
  text-align: center;
  margin: 0;
  padding: 18px 0 18px 0;
  background: #ffff;
  box-sizing: border-box;
  width: 75px;
  border-radius: 50%;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #ffb6d8;
}
#checkout .to-completed .completed-circle h5 {
  text-transform: uppercase;
  color: #ffb6d8;
}
#checkout-product-reward hr {
  position: absolute;
  width: 110%;
  left: -8px;
  bottom: 5px;
  border: 1px solid #fff;
}
/* #checkout-product-reward .reward {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #ff91c4;
  height: 60px;
  border-radius: 40px 0 0 40px;
  margin-top: 5px;
} */
#reward-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #ff91c4;
  height: 40px;
  border-radius: 40px 0 0 40px;
  margin-top: 5px;
  padding: 30px 10px 30px 0;
}
#checkout-product-reward img {
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
}

#text-new-arrival {
  background: #ff91c4;
  padding: 2px 8px 0 8px;
  color: #fff;
  font-style: italic;
  font-family: "AvenirMediumOblique" !important;
  font-weight: 100;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: -10px;
}
#checkout-product-detail {
  border-top: 1px solid #7789c5;
  border-right: 1px solid #7789c5;
  border-bottom: 1px solid #7789c5;
  position: relative;
  padding: 30px;
}
#checkout-product-detail h2 {
  font-size: 24px;
  color: #7789c5;
  overflow: hidden;
}
#checkout-product-detail h3 {
  font-size: 14px;
  color: #7789c5;
  font-weight: 400;
  overflow: hidden;
}
#checkout-product-detail h4 {
  font-size: 1.5em;
  color: #7789c5;
  font-weight: 400;
}
#reward-point {
  font-size: 24px !important;
}
#icon-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 36px;
}
#row-reward {
  margin-right: -30px;
}
@media screen and (max-width: 540px) {
  #reward-point {
    font-size: 12px !important;
  }
  #row-reward {
    margin-right: 0;
  }
  #icon-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
  }
  #checkout-product-detail {
    padding: 10px;
  }
  #checkout-product-reward .head {
    margin-top: 20px;
    height: 50px;
  }
  #checkout-product-reward .head .v-icon {
    font-size: 24px;
  }
  #checkout-product-reward .head h5 {
    font-size: 16px;
  }
  #checkout-product-reward .reward-point {
    font-size: 14px !important;
  }
  #reward-right {
    height: 40px;
    border-radius: 40px 0 0 40px;
    margin-top: 5px;
    padding: 10px 0 10px 0;
    margin-right: -30px;
    margin-left: 20px;
  }
  #checkout-product-reward .reward {
    margin-bottom: 5px;
    /* height: 40px; */
  }
  #price-and-sale {
    position: relative;
    padding: 0;
    margin-top: 0;
  }

  /* price */
  #price-and-sale .price {
    font-size: 1.7em;
    font-style: italic;
    color: #ff5065;
    display: flex;
    justify-content: center;
  }
  #price-and-sale .price-sale {
    position: absolute;
    right: 5px;
    top: 0;
    font-style: italic;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
  }
  #price-and-sale .line-price-sale {
    font-size: 14px;
    position: relative;
  }
  #price-and-sale .line-price-sale::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #ff5065;
    position: absolute;
    transform: rotate(-20deg);
    top: 7px;
    left: -5px;
  }

  #choose-color {
    width: 50px;
  }
  #choose-value {
    width: 40px;
  }
  #select-product select {
    padding: 0;
    text-align: left;
    color: #7789c5;
    font-size: 12px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
  }
  #select-product .select {
    position: relative;
    background: #fff;
    width: 70px;
    margin-left: 5px;
  }
  #select-product .select::after {
    content: "\276F";
    transform: rotate(90deg);
    font-size: 10px;
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    padding: 5px 7.5px 5px 7.5px;
    background: #ff91c4;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
  }

  #select-product .select-value::after {
    content: "\276F";
    transform: rotate(90deg);
    position: absolute;
    font-size: 10px;
    color: #fff;
    top: 0;
    right: 0;
    padding: 5px 7px 5px 7.5px;
    background: #ff91c4;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
  }
  #select-product .select-value {
    position: relative;
    background: #fff;
    width: 60px;
    margin-left: 5px;
  }
  #text-new-arrival {
    background: #ff91c4;
    padding: 2px 4px 0 4px;
    color: #fff;
    font-style: italic;
    font-family: "AvenirMediumOblique" !important;
    font-weight: 100;
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: -10px;
  }
  #checkout-product-reward img {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
  }
  #checkout-product-detail h2 {
    font-size: 12px;
    color: #7789c5;
  }
  #checkout-product-detail h3 {
    font-size: 10px;
    color: #7789c5;
    font-weight: 400;
    overflow: hidden;
  }
  #checkout-product-detail h4 {
    font-size: 0.8em;
    color: #7789c5;
    font-weight: 400;
  }
  #checkout-product-reward hr {
    position: absolute;
    width: 100%;
    left: -2.8px;
    bottom: 0px;
    border: 1px solid #fff;
  }
}
</style>
