<template>
  <div>
    <v-col
      style="
        background: #7789c5;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <v-container>
        <v-col
          col="12"
          class="pa-0"
          style="display: flex; justify-content: center;margin-top:50px;"
        >
          <v-col class="page-login-column" cols="12" lg="5" sm="6">
            <v-col cols="12" lg="7" sm="8" class="">
              <v-col
                style="
                  display: flex;
                  justify-content: center;
                  background: #fff;
                  border-radius: 10px;
                "
              >
                <img
                  class="acc-pic"
                  style="display: block"
                  src="~assets/img/accout-normal.png"
                  width="120px"
                  alt=""
                />
              </v-col>
              <Login />
            </v-col>
          </v-col>
        </v-col>
      </v-container>
    </v-col>
  </div>
</template>
<script>
import Login from "@/components/login";
import { validationMixin } from "vuelidate";
import { required, maxLength, email } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  validations: {
    // name: { required, maxLength: maxLength(10) },
    email: { required, email },
    password: { required },
  },

  data: () => ({
    name: "",
    email: "",
    select: null,
    items: ["Item 1", "Item 2", "Item 3", "Item 4"],
    checkbox: false,
    show4: false,
    password: "",
    rules: {
      required: (value) => !!value || "Required.",
      min: (v) => v.length >= 8 || "Min 8 characters",
      emailMatch: () => `The email and password you entered don't match`,
    },
  }),

  computed: {
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("คุณใส่ E-mail ไม่ถูกรูปแบบ");
      !this.$v.email.required && errors.push("จำเป็นต้องใส่ E-mail");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.required && errors.push("จำเป็นต้องใส่รหัสผ่าน");
      return errors;
    },
  },

  methods: {
    async logFace() {
      const res = await this.$auth.loginWith("facebook");
      console.log(res);
    },
    submit() {
      this.$v.$touch();
    },
    clear() {
      this.$v.$reset();
      this.name = "";
      this.email = "";
      this.password = "";
      this.select = null;
      this.checkbox = false;
    },
  },
};
</script>
<style>
#navBarSeoulgood {
  background: rgba(0, 0, 0, 0.3);
  height: 90px;
  top: 0;
  z-index: 50;
  position: fixed;
}
#logo-seoulgood img {
  display: none;
}
#logo-seoulgood .img-switch {
  display: none;
}
#logo-seoulgood .img-switch {
  display: block;
}
#toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #fff;
  transition: 0.2s;
}
#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(10px);
  transition: 0.2s;
}
#cart .switch {
  display: block;
}
#cart .main {
  display: none;
}
#account img {
  display: none;
}
#account .switch {
  display: block;
}
#favorite img {
  display: none;
}
#favorite .switch {
  display: block;
}
#search {
  color: #ffffff !important;
}
#search .v-input__slot:before {
  border-color: #ffffff !important;
}
#search .v-input__icon button {
  border-color: #ffffff !important;
}
#search .iconsearch {
  color: #ffff;
}
#search .v-input__icon button {
  color: #fff;
}
#search label {
  left: 40% !important;
  color: #fff !important;
  font-family: "Avenir" !important;
}
.page-login-column {
  background: #c3d5f5;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  border-radius: 20px;
}
@media screen and (max-width: 550px) {
  .page-login-column {
    margin-bottom: 150px;
  }
}
</style>
