<template>
  <div>
    <NewArrivalOver />
  </div>
</template>
<script>
import NewArrivalOver from "@/components/homepage/new-arrival-over";
export default {
  components: {
    NewArrivalOver,
  },
};
</script>