<template>
  <div>
    <v-col
      style="height:80vh;background:#7789c5;display:flex;justify-content:center;align-items:center;"
    >
      <v-container>
        <v-col
          cols="12"
          style="display:flex;justify-content:center;align-items:center;"
        >
          <v-col
            cols="12"
            lg="8"
            style="background:#ffff;border-radius:10px;box-shadow:0 5px 10px rgba(0,0,0,0.3);"
          >
            <v-row>
              <v-col cols="12" lg="6" style="background:rgba(9, 74, 98 )">
                <h1 id="text-start-register">สมัครสมาชิก Seoulgoods</h1>
              </v-col>
              <v-col cols="12" lg="6" class="pa-4">
                <h2>Register</h2>
                <v-form ref="form" lazy-validation>
                  <v-col>
                    <h3>Username</h3>
                    <v-text-field
                      v-model="register.username"
                      :rules="username"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <h3>Email</h3>
                    <v-text-field
                      v-model="register.email"
                      :rules="emailRules"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <h3>Password</h3>
                    <v-text-field
                      :append-icon="show4 ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="show4 ? 'text' : 'password'"
                      v-model="register.password"
                      @click:append="show4 = !show4"
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <h3>Password Confirm</h3>
                    <v-text-field
                      :append-icon="show5 ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="show5 ? 'text' : 'password'"
                      v-model="register.passwordConfirmation"
                      @click:append="show5 = !show5"
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <v-btn
                      @click="registerCustomer()"
                      style="background:#7789c5;color:#fff;"
                      >สมัครสมาชิก</v-btn
                    >
                  </v-col>
                </v-form>
              </v-col>
            </v-row>
          </v-col>
        </v-col>
      </v-container>
    </v-col>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      show4: false,
      show5: false,
      register: [],
      emailRules: [
        v => !!v || "คุณจำเป็นต้องใส่ E-mail",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid"
      ],
      username: [v => !!v || "คุณจำเป็นต้องใส่ Username"]
    };
  },
  methods: {
    ...mapActions({
      registerCustomers: "member/register/registerCustomers"
    }),
    async registerCustomer() {
      this.$refs.form.validate();
      const data = {
        username: this.register.username,
        email: this.register.email,
        password: this.register.password,
        passwordConfirmation: this.register.passwordConfirmation
      };
      console.log(data);
      const res = await this.registerCustomers(data);
      console.log(res);
    }
  }
};
</script>
<style>
#text-start-register {
  font-size: 32px;
  color: #fff;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}
</style>
