<template>
  <div>
    <v-col style="background: #c3d5f5; padding-top: 160px;min-height:100vh">
      <v-snackbar
        :timeout="timeout"
        v-model="snackbarAddItemToCart"
        color="rgba(0,0,0,0.5)"
        centered
        style="margin-top: 100px"
      >
        <v-col
          cols="12"
          style="display: flex; justify-content: center; align-items: center"
        >
          <v-icon class="mdi-48px" color="success">mdi-check-circle</v-icon>
        </v-col>
        <h5 style="color: #fff; font-weight: 400; text-align: center">
          {{ textalert }}
        </h5>
      </v-snackbar>
      <v-container>
        <v-row>
          <Navigation />
          <v-col
            cols="12"
            lg="9"
            sm="8"
            style="
              background: #ffff;
              border: 1px solid #7789c5;
              margin-top: 10px;
              padding-left:0;
            "
          >
            <v-col style="display: flex; padding: 0">
              <v-col
                cols="6"
                lg="3"
                sm="4"

                class=""
                style="background: #ff91c4; border-radius: 0 20px 20px 0;margin-left:-10px;margin-bottom:10px;"
              >
                <h4 style="font-size:24px;color:#fff;">ที่อยู่ของฉัน</h4>
              </v-col>
              <v-col class="pa-0">
                <v-btn
                  @click="addAdress = true"
                  style="
                    float: right;
                    border-radius: 0;
                    color: #ffff;
                    background: #7789c5;
                  "
                  ><v-icon>mdi mdi-plus</v-icon> เพิ่มที่อยู่</v-btn
                >
                <v-dialog v-model="addAdress" max-width="600">
                  <v-card>
                    <v-form ref="form" v-model="valid" lazy-validation>
                      <v-container>
                        <v-col>
                          <h3>ที่อยู่ใหม่</h3>
                        </v-col>
                        <v-row style="width: 100%" class="pa-6">
                          <v-col cols="12" lg="6" id="address" class="pb-0">
                            <v-text-field
                              v-model="dataAdress.fullname"
                              :rules="nameRules"
                              class="pt-0"
                              label="ชื่อ - นามสกุล"
                              required
                              color="#7789c5"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" lg="6" id="address" class="pb-0">
                            <v-text-field
                              v-model="dataAdress.phone_number"
                              :rules="phoneRulres"
                              counter="10"
                              type="number"
                              class="pt-0 inputPrice"
                              label="เบอร์โทรศัพท์"
                              required
                              color="#7789c5"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" id="address" class="pt-0 pb-0">
                            <v-text-field
                              v-model="dataAdress.address"
                              :rules="addressRules"
                              class="pt-0"
                              label="ที่อยู่"
                              required
                              color="#7789c5"
                            ></v-text-field>
                          </v-col>
                          <v-col
                            cols="12"
                            lg="6"
                            id="address"
                            class="pt-0 pb-0"
                          >
                            <v-text-field
                              v-model="dataAdress.parish"
                              :rules="parishRulres"
                              class="pt-0"
                              label="ตำบล/แขวง"
                              required
                              color="#7789c5"
                            ></v-text-field>
                          </v-col>
                          <v-col
                            cols="12"
                            lg="6"
                            id="address"
                            class="pt-0 pb-0"
                          >
                            <v-text-field
                              v-model="dataAdress.district"
                              :rules="districtRulres"
                              class="pt-0"
                              label="อำเภอ/เขต"
                              required
                              color="#7789c5"
                            ></v-text-field>
                          </v-col>
                          <v-col
                            cols="12"
                            lg="6"
                            class="pt-0 pb-0"
                            style="display: flex; align-items: center"
                          >
                            <h4 style="padding-right: 10px">จังหวัด:</h4>
                            <select
                              v-model="dataAdress.province"
                              style="
                                border: 1px solid rgba(0, 0, 0, 0.3);
                                padding: 7px;
                              "
                            >
                              <option
                                v-for="(item, i) in province"
                                :key="i"
                                :value="item.name_th"
                              >
                                {{ item.name_th }}
                              </option>
                            </select>
                          </v-col>
                          <v-col cols="12" lg="6" id="address">
                            <v-text-field
                              v-model="dataAdress.zipcode"
                              :rules="zipcodeRulres"
                              counter="5"
                              type="number"
                              class="pt-0 inputPrice"
                              label="รหัสไปรษณี"
                              required
                              color="#7789c5"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-form>

                    <v-divider></v-divider>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        text
                        color=""
                        width="100"
                        @click="(addAdress = false), (dataAdress = {})"
                      >
                        ยกเลิก
                      </v-btn>
                      <v-btn
                        width="100"
                        style="
                          border-radius: 0;
                          background: #7789c5;
                          color: #fff;
                        "
                        @click="addAdressNew()"
                      >
                        บันทึก
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-col>
            </v-col>
            <v-divider></v-divider>
            <v-col>
              <v-col cols="12" lg="12">
                <v-row v-for="(item, i) in allAdress" :key="i">
                  <v-col cols="12" class="pa-0"
                    ><v-btn
                      @click="(item.dialog = true), getByIdForUpdate(item)"
                      style="
                        float: right;
                        border-radius: 0;
                        color: #ffff;
                        background: #000;
                        margin-bottom: -50px;
                      "
                      >แก้ไข</v-btn
                    >
                    <v-dialog v-model="item.dialog" max-width="600">
                      <v-card>
                        <v-form
                          ref="formUpdate"
                          v-model="valid"
                          lazy-validation
                        >
                          <v-container>
                            <v-col>
                              <h3>แก้ไขที่อยู่</h3>
                            </v-col>
                            <v-row style="width: 100%" class="pa-6">
                              <v-col cols="12" lg="6" id="address" class="pb-0">
                                <v-text-field
                                  v-model="itemForUpdate.fullname"
                                  @blur="checkValue(itemForUpdate.fullname)"
                                  :rules="nameRules"
                                  class="pt-0"
                                  label="ชื่อ - นามสกุล"
                                  required
                                  color="#7789c5"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" lg="6" id="address" class="pb-0">
                                <v-text-field
                                  v-model="itemForUpdate.phone_nummber"
                                  @blur="
                                    checkValue(itemForUpdate.phone_nummber)
                                  "
                                  :rules="phoneRulres"
                                  counter="10"
                                  type="number"
                                  class="pt-0 inputPrice"
                                  label="เบอร์โทรศัพท์"
                                  required
                                  color="#7789c5"
                                ></v-text-field>
                              </v-col>
                              <v-col cols="12" id="address" class="pt-0 pb-0">
                                <v-text-field
                                  v-model="itemForUpdate.address"
                                  @blur="checkValue(itemForUpdate.address)"
                                  :rules="addressRules"
                                  class="pt-0"
                                  label="ที่อยู่"
                                  required
                                  color="#7789c5"
                                ></v-text-field>
                              </v-col>
                              <v-col
                                cols="12"
                                lg="6"
                                id="address"
                                class="pt-0 pb-0"
                              >
                                <v-text-field
                                  v-model="itemForUpdate.parish"
                                  @blur="checkValue(itemForUpdate.parish)"
                                  :rules="parishRulres"
                                  class="pt-0"
                                  label="ตำบล/แขวง"
                                  required
                                  color="#7789c5"
                                ></v-text-field>
                              </v-col>
                              <v-col
                                cols="12"
                                lg="6"
                                id="address"
                                class="pt-0 pb-0"
                              >
                                <v-text-field
                                  v-model="itemForUpdate.district"
                                  @blur="checkValue(itemForUpdate.district)"
                                  :rules="districtRulres"
                                  class="pt-0"
                                  label="อำเภอ/เขต"
                                  required
                                  color="#7789c5"
                                ></v-text-field>
                              </v-col>
                              <v-col
                                cols="12"
                                lg="6"
                                class="pt-0 pb-0"
                                style="display: flex; align-items: center"
                              >
                                <h4 style="padding-right: 10px">จังหวัด:</h4>
                                <select
                                  v-model="itemForUpdate.province"
                                  @blur="checkValue(itemForUpdate.province)"
                                  style="
                                    border: 1px solid rgba(0, 0, 0, 0.3);
                                    padding: 7px;
                                  "
                                >
                                  <option
                                    v-for="(item, i) in province"
                                    :key="i"
                                    :value="item.name_th"
                                  >
                                    {{ item.name_th }}
                                  </option>
                                </select>
                              </v-col>
                              <v-col cols="12" lg="6" id="address">
                                <v-text-field
                                  v-model="itemForUpdate.zipcode"
                                  @blur="checkValue(itemForUpdate.zipcode)"
                                  :rules="zipcodeRulres"
                                  counter="5"
                                  type="number"
                                  class="pt-0 inputPrice"
                                  label="รหัสไปรษณี"
                                  required
                                  color="#7789c5"
                                ></v-text-field>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-form>

                        <v-divider></v-divider>

                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            text
                            color=""
                            width="100"
                            @click="item.dialog = !item.dialog"
                          >
                            ยกเลิก
                          </v-btn>
                          <v-btn
                            :disabled="disable"
                            width="100"
                            style="
                              border-radius: 0;
                              background: #7789c5;
                              color: #fff;
                            "
                            @click="updateAddress(item)"
                          >
                            บันทึก
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-col>
                  <v-col style="color:#7789c5" cols="12">
                    <v-row>
                      <v-col cols="3" lg="3" class="title-block pa-1">
                        <strong>ชื่อ-นามสกุล</strong>
                      </v-col>
                      <v-col cols="9" lg="9" class="pa-1">
                        <strong>{{ item.fullname }}</strong>
                      </v-col>
                      <v-col cols="3" class="title-block pa-1">
                        <strong>โทรศัพท์</strong>
                      </v-col>
                      <v-col cols="9" lg="9" class="pa-1">
                        <span>{{ item.phone_nummber }}</span>
                      </v-col>
                      <v-col cols="3" class="title-block pa-1">
                        <strong>ที่อยู่</strong>
                      </v-col>
                      <v-col cols="9" lg="9" class="pa-1">
                        <span
                          ><span>{{ item.address }} </span>
                          <span>{{ item.parish }} {{ item.district }}</span>
                          <span
                            >{{ item.province }} {{ item.zipcode }}</span
                          ></span
                        >
                      </v-col>
                    </v-row>
                    <v-divider style="margin: 20px 0"></v-divider>
                  </v-col>
                </v-row>
              </v-col>
            </v-col>
          </v-col>
        </v-row>
      </v-container>
    </v-col>
  </div>
</template>
<script>
import { mapActions } from "vuex";

import Navigation from "@/components/user/navigation";
export default {
  components: {
    Navigation,
  },
  data() {
    return {
      itemForUpdate: {},
      disable: false,
      allAdress: [],
      timeout: 1000,
      textalert: "",
      snackbarAddItemToCart: false,
      dataAdress: {},
      addAdress: false,
      province: [],
      valid: true,
      nameRules: [
        (v) => !!v || "กรุณาใส่ชื่อ - นามสกุล",
        (v) => (v && v.length <= 200) || "ชื่อคุณยาวเกินไป",
      ],
      addressRules: [
        (v) => !!v || "กรุณาใส่บ้านเลขที่,หมู่ หรือชื่อ คอนโด, อพาร์ทเม้นท์",
        (v) => (v && v.length <= 200) || "ยาวเกินไป",
      ],
      parishRulres: [
        (v) => !!v || "กรุณาใส่ตำบล/แขวง",
        (v) => (v && v.length <= 200) || "ยาวเกินไป",
      ],
      districtRulres: [
        (v) => !!v || "กรุณาใส่อำเภอ/เขต",
        (v) => (v && v.length <= 200) || "ยาวเกินไป",
      ],
      zipcodeRulres: [
        (v) => !!v || "กรุณาใส่รหัสไปรษณีย์",
        (v) => (v && v.length <= 5) || "รหัสไปรษณีย์ยาวเกินกำหนด",
        (v) => /^\d+$/.test(v) || "กรุณาใส่รหัสที่ถูกต้อง",
      ],
      phoneRulres: [
        (v) => !!v || "กรุณาใส่เบอร์โทรศัพท์",
        (v) => (v && v.length <= 10) || "เบอร์โทรยาวเกินกำหนด",
        (v) => /^\d+$/.test(v) || "กรุณาใส่รหัสที่ถูกต้อง",
      ],
    };
  },
  mounted() {
    this.getProvince();
    this.callAddress();
  },
  methods: {
    ...mapActions({
      selectProvince: "checkout/selectProvince",
      newAdress: "user/newAdress",
      updateAdress: "user/updateAdress",
      getAdress: "user/getAdress",
      getAdressById: "user/getAdressById",
    }),
    checkValue(data) {
      if (!data) {
        this.disable = true;
      } else {
        this.disable = false;
      }
    },
    async getProvince() {
      this.province = await this.selectProvince();
    },
    async getByIdForUpdate(data) {
      const id = { id: data.id };
      const res = await this.getAdressById(id);
      this.itemForUpdate = res.data;
    },
    async callAddress() {
      const res = await this.getAdress();
      const data = res.data;
      data.map((editDialog) => {
        editDialog.dialog = false;
      });
      this.allAdress = data;
    },
    async updateAddress(data) {
      const dataNewAdress = {
        id: data.id,
        fullname: this.itemForUpdate.fullname,
        address: this.itemForUpdate.address,
        parish: this.itemForUpdate.parish,
        district: this.itemForUpdate.district,
        province: this.itemForUpdate.province,
        zipcode: this.itemForUpdate.zipcode,
        phone_number: this.itemForUpdate.phone_nummber,
      };
      console.log(dataNewAdress);
      const res = await this.updateAdress(dataNewAdress);
      console.log(res);
      if (res.success) {
        this.snackbarAddItemToCart = true;
        this.textalert = res.message;
        this.callAddress();
      } else {
        this.snackbarAddItemToCart = true;
        this.textalert = res.message;
      }
    },
    async addAdressNew() {
      const data = {
        customer_id: this.$auth.user.data.id,
        fullname: this.dataAdress.fullname,
        address: this.dataAdress.address,
        parish: this.dataAdress.parish,
        district: this.dataAdress.district,
        province: this.dataAdress.province,
        zipcode: this.dataAdress.zipcode,
        phone_number: this.dataAdress.phone_number,
      };
      if (this.$refs.form.validate()) {
        if (!this.dataAdress.province) {
          alert("กรุณาเลือกจังหวัด");
        } else {
          const res = await this.newAdress(data);
          if (res.success) {
            this.snackbarAddItemToCart = true;
            this.textalert = res.message;
            this.dataAdress = {};
            this.addAdress = false;
            this.callAddress();
          } else {
            this.snackbarAddItemToCart = true;
            this.textalert = res.message;
          }
        }
      } else {
        this.$refs.form.validate();
      }

      //   this.$refs.form.validate();
    },
  },
};
</script>
<style>
.inputPrice input[type="number"] {
  -moz-appearance: textfield;
}
.inputPrice input::-webkit-outer-spin-button,
.inputPrice input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.title-block {
  display: flex;
  justify-content: flex-end;
}
#address .v-label {
  color: #000 !important;
  font-family: "Prompt", sans-serif;
}
@media screen and (max-width: 550px) {
  .title-block {
    display: none;
  }
}
</style>
