<template>
  <div>
    <v-col style="background: #c3d5f5; padding-top: 160px; ">
      <v-snackbar
        :timeout="timeout"
        v-model="snackbarAddItemToCart"
        color="rgba(0,0,0,0.5)"
        centered
        style="margin-top: 100px"
      >
        <v-col
          cols="12"
          style="display: flex; justify-content: center; align-items: center"
        >
          <v-icon class="mdi-48px" color="success">mdi-check-circle</v-icon>
        </v-col>
        <h5 style="color: #fff; font-weight: 400; text-align: center">
          {{ textalert }}
        </h5>
      </v-snackbar>
      <v-container>
        <v-row>
          <Navigation />
          <v-col
            cols="12"
            lg="9"
            sm="8"
            style="
              background: #ffff;
              border: 1px solid #7789c5;
              margin-top: 10px;
              padding-left: 0;
            "
          >
            <v-col style="padding: 0">
              <v-col
                cols="6"
                lg="3"
                sm="4"
                class=""
                style="
                  background: #ff91c4;
                  border-radius: 0 20px 20px 0;
                  margin-left: -10px;
                  margin-bottom: 10px;
                "
              >
                <h4 style="font-size: 24px; color: #fff">ข้อมูลของฉัน</h4>
              </v-col>
            </v-col>
            <v-divider style="background: #7789c5; margin: 0 10px"></v-divider>
            <v-col class="pa-5">
              <v-col>
                <strong
                  v-if="$auth.user.data"
                  style="color: #ff91c4; font-size: 26px"
                  >ชื่อผู้ใช้ : {{ $auth.user.data.username }}</strong
                >
              </v-col>
              <v-col>
                <v-row>
                  <v-col cols="12" lg="6" class="title-block">
                    <v-text-field
                      v-model="dataProfile.fullname"
                      label="ชื่อ-นามสกุล"
                      type="text"
                    />
                  </v-col>
                  <v-col cols="12" lg="6" class="title-block">
                    <v-text-field
                      v-model="dataProfile.phone_number"
                      label="เบอร์โทรศัพท์"
                      type="text"
                    />
                  </v-col>
                  <v-col cols="12" lg="6" class="title-block">
                    <v-text-field
                      v-model="$auth.user.data.email"
                      disabled
                      label="Email"
                      type="text"
                    />
                  </v-col>
                  <v-col cols="12" lg="6">
                    <h4 style="color: #7789c5; font-size: 26px">เพศ</h4>
                    <v-radio-group
                      v-model="dataProfile.sex"
                      style="margin-top: -10px"
                    >
                      <v-col style="display: flex; align-items: center"
                        ><v-radio
                          class="mr-2"
                          color="#ff91c4"
                          label="ชาย"
                          value="1"
                        ></v-radio>
                        <v-radio
                          class="mr-2"
                          color="#ff91c4"
                          label="หญิง"
                          value="2"
                        ></v-radio>
                        <v-radio
                          class="mr-2 mb-2"
                          color="#ff91c4"
                          label="อื่นๆ"
                          value="3"
                        ></v-radio
                      ></v-col>
                    </v-radio-group>
                  </v-col>
                  <v-col cols="12" class="birthofdath">
                    <strong style="font-size: 26px; color: #7789c5"
                      >วัน/เดือน/ปีเกิด</strong
                    >
                  </v-col>
                  <v-col
                    cols="12"
                    style="display: flex; justify-content: center"
                  >
                    <v-date-picker
                      v-model="date"
                      style="border: 1px solid #7789c5"
                      width="280"
                      class="mt-4"
                      min="1915-01-01"
                      max="2025-03-20"
                    ></v-date-picker>
                  </v-col>
                  <v-col style="display: flex; justify-content: center">
                    <v-btn
                      @click="saveProfile()"
                      style="
                        border-radius: 0;
                        background: #7789c5;
                        color: #fff;
                        font-size: 30px;
                        padding: 25px 50px;
                      "
                      >ยืนยัน</v-btn
                    >
                  </v-col>
                </v-row>
              </v-col>
            </v-col>
            <!-- <v-col>
              <v-col cols="12" lg="8">
                <v-row style="width: 100%">
                  <v-col cols="4" class="title-block">
                    <strong style="color: #ff91c4">ชื่อผู้ใช้</strong>
                  </v-col>
                  <v-col cols="12" sm="8" lg="8">
                    <strong style="color: #ff91c4"></strong>
                  </v-col>
                  <v-col cols="4" class="title-block">
                    <strong style="color: #7789c5">ชื่อ-นามสกุล</strong>
                  </v-col>
                  <v-col cols="12" sm="8" lg="8" class="pt-0">
                    <v-text-field v-model="dataProfile.fullname" type="text" />
                  </v-col>
                  <v-col cols="4" class="title-block">
                    <strong>Email</strong>
                  </v-col>
                  <v-col cols="12" sm="8" lg="8">
                    <strong></strong>
                  </v-col>
                  <v-col cols="4" class="title-block">
                    <strong></strong>
                  </v-col>
                  <v-col cols="12" sm="8" lg="8" class="pt-0">
                    <input
                      placeholder=" เบอร์โทรศัพท์"
                      type="text"
                      style="
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        border-radius: 5px;
                        width: 100%;
                        height: 40px;
                      "
                    />
                  </v-col>
                  <v-col cols="4" class="title-block">
                    <strong>เพศ</strong>
                  </v-col>
                  <v-col cols="2" class="sex-title">
                    <strong>เพศ</strong>
                  </v-col>
                  <v-col cols="8" class="pt-0">
                   
                  </v-col>
                  
                      <v-btn
                        @click="saveProfile()"
                        style="
                          border-radius: 0;
                          background: #7789c5;
                          color: #fff;
                        "
                        >บันทึก</v-btn
                      >
                    </v-col>
                  </v-col>
                </v-row>
              </v-col>
            </v-col> -->
          </v-col>
        </v-row>
      </v-container>
    </v-col>
  </div>
</template>
<script>
import Navigation from "@/components/user/navigation";
import { mapActions, mapGetters } from "vuex";
export default {
  components: {
    Navigation,
  },
  data() {
    return {
      timeout: 1000,
      textalert: "",
      snackbarAddItemToCart: false,
      dataProfile: {
        fullname: "",
        phone_number: "",
        sex: "1",
      },
      date: "2021-12-31",
    };
  },
  mounted() {
    this.getProfile();
  },
  methods: {
    ...mapActions({
      profileUpdate: "user/profileUpdate",
      callProfile: "user/callProfile",
    }),
    async getProfile() {
      const res = await this.callProfile();
      if (res.success) {
        this.dataProfile = {
          fullname: res.data[0].fullname,
          phone_number: res.data[0].phone_number,
          sex: res.data[0].sex.toString(),
        };
        this.date = `${res.data[0].year}-${res.data[0].month}-${res.data[0].day}`;
        console.log(this.dataProfile);
      } else {
        this.dataProfile = {
          fullname: "",
          phone_number: "",
          sex: "1",
        };
      }
      //   console.log(this.dataProfile);
    },
    async saveProfile() {
      const year = this.date.slice(0, 4);
      const month = this.date.slice(5, 7);
      const day = this.date.slice(8, 10);
      const data = {
        customer_id: this.$auth.user.data.id,
        fullname: this.dataProfile.fullname,
        phone_number: this.dataProfile.phone_number,
        sex: parseInt(this.dataProfile.sex),
        day: day,
        month: month,
        year: year,
      };
      //   console.log(data);
      const res = await this.profileUpdate(data);
      if (res.success) {
        this.snackbarAddItemToCart = true;
        this.textalert = res.message;
        this.getProfile();
      }
    },
  },
};
</script>
<style>
.sex-title {
  display: none;
}
.title-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.title-block label {
  color: #7789c5 !important;
}
.birthofdath {
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 600px) {
  .birthofdath {
    display: flex;
    justify-content: flex-start;
  }
  .title-block {
    display: none;
  }
  .sex-title {
    display: flex;
    margin-top: 10px;
  }
}
</style>
