<template>
  <div>
    <v-col style="background: #c3d5f5; padding-top: 160px; min-height: 100vh">
      <v-snackbar
        :timeout="timeout"
        v-model="snackbarAddItemToCart"
        color="rgba(0,0,0,0.5)"
        centered
        style="margin-top: 100px"
      >
        <v-col
          cols="12"
          style="display: flex; justify-content: center; align-items: center"
        >
          <v-icon class="mdi-48px" color="success">mdi-check-circle</v-icon>
        </v-col>
        <h5 style="color: #fff; font-weight: 400; text-align: center">
          {{ textalert }}
        </h5>
      </v-snackbar>
      <v-container>
        <v-row>
          <Navigation />
          <v-col
            cols="12"
            lg="9"
            sm="8"
            style="background: #ffff; border-radius: 10px; margin-top: 10px"
          >
            <v-col
              cols="8"
              lg="3"
              sm="4"
              class=""
              style="
                background: #ff91c4;
                border-radius: 0 20px 20px 0;
                margin-left: -20px;
                margin-bottom: 10px;
              "
            >
              <h4 style="font-size: 24px; color: #fff">รายการสินค้า</h4>
            </v-col>

            <!-- <v-divider class="mb-3" style="background:#7789c5;"></v-divider> -->
            <v-col class="pa-0">
              <v-row
                v-for="(item, i) in dataPayment"
                :key="i"
                style="width: 100%"
              >
                <v-col cols="12" class="pa-0">
                  <h4
                    style="text-align: right; color: #7789c5; font-size: 18px"
                    class="mb-4 mt-4"
                  >
                    หมายเลขสินค้า:
                    <span
                      @click="getSlip(item)"
                      style="text-decoration: underline"
                      >{{ item.order_number }}</span
                    >
                  </h4>
                  <v-dialog v-model="item.dialogOrder" width="500">
                    <v-card>
                      <v-card-title style="background: #7789c5">
                        <h5
                          style="color: #fff; font-size: 30px; font-weight: 400"
                        >
                          ข้อมูลการซื้อ
                        </h5>
                      </v-card-title>

                      <v-card-text>
                        <v-row style="width: 100%; margin-top: 10px">
                          <v-col cols="12" class="pa-0 d-flex justify-center">
                            <img
                              v-if="imageSlip"
                              :src="`/api/v1/slip-img/${imageSlip}`"
                              style="
                                max-width: 300px;
                                max-height: 400px;
                                border: 1px solid #7789c5;
                              "
                              alt=""
                            />
                          </v-col>
                          <v-col class="pb-0 image-slip-input">
                            <v-file-input
                              v-model="imageNew"
                              accept="image/jpeg"
                              label="อัพรูปภาพ"
                              prepend-icon="mdi-camera"
                              truncate-length="15"
                            ></v-file-input>
                          </v-col>
                          <v-col cols="12" class="d-flex justify-center pt-0">
                            <v-btn @click="changeSlip(item)"
                              >เปลี่ยนรูปภาพสลิป</v-btn
                            >
                          </v-col>
                        </v-row>
                      </v-card-text>

                      <v-divider></v-divider>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="primary"
                          text
                          @click="item.dialogOrder = false"
                        >
                          Close
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <h4
                    style="text-align: right; color: #ff91c4; font-size: 18px"
                  >
                    สถาณะสินค้า:
                    <span v-if="item.status == 0" style="color: #ffcc00"
                      >อยู่ระหว่างตรวจสอบ</span
                    >
                    <span v-if="item.status == 1" style="color: #ffcc00"
                      >อยู่ระหว่างตรวจสอบ</span
                    >
                    <span v-if="item.status == 2" style="color: #68dc1c"
                      >ยืนยันการชำระเงินแล้ว</span
                    >
                    <span v-if="item.status == 3" style="color: #68dc1c"
                      >กำลังจัดส่งพัสดุ</span
                    >
                    <span v-if="item.status == 4" style="color: red"
                      >ยกเลิกรายการสินค้า</span
                    >
                  </h4>
                  <v-divider
                    class="mb-4"
                    style="background: #7789c5"
                  ></v-divider>
                </v-col>
                <v-col cols="12" class="pt-0 pb-0">
                  <v-row
                    v-for="(product, i) in item.data"
                    :key="i"
                    style="width: 100%"
                  >
                    <v-col
                      cols="4"
                      class="pa-0"
                      style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      "
                    >
                      <img
                        :src="`/api/v1/product/picture-product/${product.image}`"
                        width="100%"
                        style="max-height: 200px; max-width: 200px"
                        :alt="product.name"
                      />
                    </v-col>
                    <v-col cols="6" style="position: relative">
                      <h4 style="color: #7789c5; font-size: 24px">
                        {{ product.name }}
                        <span v-if="product.note" style="color: red"
                          >[{{ product.note }}]</span
                        >
                      </h4>
                      <span style="color: #7789c5">{{
                        product.description
                      }}</span>
                      <h4 style="color: #7789c5">
                        สี:
                        <span v-if="product.color != 0">{{
                          product.color
                        }}</span
                        ><span v-else>-</span>
                      </h4>
                      <h4 style="color: #7789c5">
                        ตัวเลือก:
                        <span v-if="product.size != 0">{{ product.size }}</span
                        ><span v-else>-</span>
                      </h4>
                      <h4
                        style="
                          font-style: italic;
                          color: #ff91c4;
                          position: absolute;
                        "
                      >
                        X {{ product.quantity }}
                      </h4>
                    </v-col>
                    <v-col
                      cols="2"
                      style="
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                        position: relative;
                      "
                    >
                      <span style="position: relative"
                        ><span
                          class="price-font"
                          v-if="product.discount_promotion"
                          >{{
                            (product.price -
                              (product.price * product.discount_promotion) /
                                100) *
                            product.quantity
                          }}.-</span
                        >
                        <span class="price-font" v-else-if="product.discount"
                          >{{
                            (product.price - product.discount) *
                            product.quantity
                          }}.-</span
                        >
                        <span v-else class="price-font"
                          >{{ product.price * product.quantity }}.-</span
                        >
                        <span style="position: relative"
                          ><span
                            v-if="product.discount_promotion"
                            id="line-price-sale"
                            style="
                              position: absolute;
                              top: -30px;
                              right: -20px;
                              margin-left: -20px;
                            "
                            >{{ parseInt(product.price * product.quantity) }}.-
                          </span>
                          <span
                            v-else-if="product.discount"
                            id="line-price-sale"
                            style="
                              position: absolute;
                              top: -30px;
                              right: -20px;
                              margin-left: -20px;
                            "
                            >{{ parseInt(product.price * product.quantity) }}.-
                          </span></span
                        ></span
                      >
                    </v-col>
                    <v-col cols="12" class="pr-0">
                      <v-divider
                        class="mt-2 mb-2 ml-5"
                        style="background: #7789c5"
                      ></v-divider>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col
                  class="pa-0"
                  cols="12"
                  style="
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                  "
                >
                  <v-col cols="12" lg="4" sm="4">
                    <v-row>
                      <v-col
                        cols="8"
                        style="display: flex; justify-content: flex-end"
                      >
                        <h4 class="font-sumary">ราคาทั้งหมด</h4>
                      </v-col>
                      <v-col
                        cols="4"
                        style="display: flex; justify-content: flex-end"
                      >
                        <h4 class="vat-font" style="color: #ff91c4">
                          {{ item.pricenovat }}.-
                        </h4>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col
                        cols="8"
                        style="
                          display: flex;
                          justify-content: flex-end;
                          padding-top: 0;
                        "
                      >
                        <h4 class="font-sumary">ค่าจัดส่ง</h4>
                      </v-col>
                      <v-col
                        cols="4"
                        style="
                          display: flex;
                          justify-content: flex-end;
                          padding-top: 0;
                        "
                      >
                        <h4 class="vat-font" style="color: #ff91c4">40.-</h4>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-col>
                <v-col
                  class="pa-0"
                  style="
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                  "
                >
                  <v-col
                    cols="8"
                    lg="4"
                    sm="4"
                    class="pa-2"
                    style="
                      background: red;
                      border-radius: 20px 0 0 20px;
                      margin-bottom: 10px;
                      margin-right: -30px;
                      display: flex;
                      align-items: center;
                      position: relative;
                    "
                  >
                    <h4 class="price-text-sumary">รวม</h4>
                    <h4 class="price-number-summary">
                      {{
                        Intl.NumberFormat("th-TH", {
                          currency: "THB",
                        }).format(item.sumPrice)
                      }}.-
                    </h4>
                  </v-col>
                </v-col>
                <v-col cols="12" class="pa-0 pr-5">
                  <v-divider
                    class="mt-2"
                    style="margin-left: 25px; background: #7789c5"
                  ></v-divider>
                </v-col>
              </v-row>
            </v-col>
          </v-col>
        </v-row>
      </v-container>
    </v-col>
  </div>
</template>
<script>
import Navigation from "@/components/user/navigation";
import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    Navigation,
  },
  data() {
    return {
      imageNew: null,
      dataPayment: [],
      imageSlip: "",
      timeout: 1000,
      snackbarAddItemToCart: false,
      textalert: "",
    };
  },
  mounted() {
    this.paymentData();
  },
  methods: {
    ...mapActions({
      getPayment: "payment/getPayment",
      getSlipPic: "payment/getSlipPic",
      changeSlipPic: "payment/changeSlipPic",
    }),
    async changeSlip(data) {
      const dataForChange = {
        order_number: data.order_number,
        image: this.imageNew,
        image_name: this.imageSlip,
      };
      const res = await this.changeSlipPic(dataForChange);
      if (res.success) {
        this.snackbarAddItemToCart = true;
        this.textalert = res.msg;
        this.getSlip(data);
      }
    },
    async getSlip(data) {
      data.dialogOrder = !data.dialogOrder;
      const res = await this.getSlipPic(data);
      if (res.success) {
        this.imageSlip = res.data.slip_image;
      }
    },
    async paymentData() {
      const res = await this.getPayment();
      // console.log(res);
      const data = [];
      if (res.success) {
        res.data.map((edit) => {
          data.push({
            data: JSON.parse(edit.product_order),
            sumPrice: edit.price,
            status: edit.status,
            order_number: edit.order_number,
            dialogOrder: false,
          });
        });
        data.map((novat) => {
          novat.sum = 0;
          for (let x = 0; x < novat.data.length; x++) {
            let price =
              novat.data[x].price * novat.data[x].quantity -
              novat.data[x].discount * novat.data[x].quantity;
            novat.sum += price;
          }
          novat.pricenovat = novat.sum;
        });
        this.dataPayment = data;
        // console.log(this.dataPayment);
      }
    },
  },
};
</script>
<style>
.image-slip-input label {
  color: #000 !important;
}
#line-price-sale {
  color: rgba(0, 0, 0, 0.5);
}
#line-price-sale::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ff5065;
  position: absolute;
  transform: rotate(-20deg);
  top: 10px;
  left: -1px;
}
.price-font {
  font-family: "AvenirMedium";
  font-style: italic;
  font-weight: 400;
  color: red;
  font-size: 2rem;
}
.price-text-sumary {
  font-family: "Prompt", sans-serif;
  font-style: italic;
  font-weight: 400;
  color: #fff;
  font-size: 2.5rem;
}
.price-number-summary {
  position: absolute;
  right: 15px;
  color: #fff;
  font-style: italic;
  font-family: "AvenirMedium";
  font-size: 2.5rem;
}
.font-sumary {
  color: #7789c5;
  font-size: 1.2rem;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
}
.vat-font {
  font-family: "AvenirMedium";
  font-weight: 400;
}
</style>
