<template>
  <div>
    <v-col style="background: #7789c5; padding: 0">
      <v-snackbar
        :timeout="timeout"
        v-model="snackbarAddItemToCart"
        color="rgba(0,0,0,0.5)"
        centered
        style="margin-top: 100px"
      >
        <v-col
          cols="12"
          style="display: flex; justify-content: center; align-items: center"
        >
          <v-icon class="mdi-48px" color="success">mdi-check-circle</v-icon>
        </v-col>
        <h5 style="color: #fff; font-weight: 400; text-align: center">
          {{ textalert }}
        </h5>
      </v-snackbar>
      <v-snackbar
        :timeout="timeout"
        v-model="snackbarAddItemError"
        color="rgba(0,0,0,0.5)"
        centered
        style="margin-top: 100px"
      >
        <v-col
          cols="12"
          style="display: flex; justify-content: center; align-items: center"
        >
          <v-icon class="mdi-48px" color="red">mdi-close-circle</v-icon>
        </v-col>
        <h5 style="color: #fff; font-weight: 400; text-align: center">
          {{ textalert }}
        </h5>
      </v-snackbar>
      <v-container>
        <h2 id="bestsellers">Best Sellers</h2>
        <v-col class="pa-0" style="display: flex; justify-content: center">
          <v-slide-group v-model="model" show-arrows id="slide-bestsellers">
            <template v-slot:prev>
              <v-btn id="btn-prev"><v-icon>mdi-chevron-left</v-icon>PREV</v-btn>
            </template>
            <template v-slot:next>
              <v-btn id="btn-next"
                >NEXT <v-icon>mdi-chevron-right</v-icon></v-btn
              >
            </template>
            <v-slide-item v-for="(item, i) in dataPicked" :key="i">
              <v-card id="card-bestsellers" style="margin-top: 20px">
                <h6 id="rating-best-seller">{{ i + 1 }}</h6>
                <nuxtLink :to="`/product/${item.code_name}`">
                  <v-img
                    v-if="item.imageProductOther.image"
                    :src="`/api/v1/product-other/${item.imageProductOther.image}`"
                  ></v-img>
                  <v-img
                    v-else
                    :src="`/api/v1/product/picture-product/${item.image}`"
                  ></v-img>
                </nuxtLink>
                <!-- <img
                  v-if="item.newarrival_status"
                  style="position: absolute; top: 0; left: 0; width: 70px"
                  src="~assets/img/new/new-arrivals-tag.png"
                /> -->
                <span
                  v-if="item.discount_promotion"
                  style="
                    position: absolute;
                    top: 40px;
                    color: #fff;
                    font-weight: 600;
                    font-size: 14px;
                    font-style: italic;
                    left: -6px;
                    background: #ff3b74;
                    padding: 3px 5px;
                    border-radius: 0 20px 20px 0;
                    z-index: 10;
                    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
                  "
                  >SALE {{ item.discount_promotion }}%</span
                >
                <span
                  v-if="item.message"
                  style="
                    font-size: 16px;
                    color: #fff;
                    margin-left: 3px;
                    position: absolute;
                    right: 0;
                    top: 15px;
                    background: red;
                    padding: 1px 3px 1px 2px;
                  "
                >
                  {{ item.message }}</span
                >
                <v-col class="bestseller-foot-card" style="">
                  <v-container>
                    <v-row>
                      <h2 v-if="item.name.length >= 12">
                        {{ item.name.slice(0, 12) + "..." }}
                      </h2>
                      <h2 v-else>
                        {{ item.name }}
                      </h2>
                      <div
                        style="
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        "
                      ></div>
                      <v-col cols="12" class="pa-0">
                        <span v-if="item.description.length >= 28">{{
                          item.description.slice(0, 28) + "..."
                        }}</span>
                        <span v-else>{{ item.description }}</span>
                      </v-col>
                      <v-row v-if="item.color != 0 || item.size != 0">
                        <v-col v-if="item.color != 0" cols="6" id="selectColor">
                          <div class="select">
                            <select
                              v-model="item.chooseColor"
                              @change="pickedColor(item)"
                            >
                              <option value="0">#เลือกสีสินค้า</option>
                              <option
                                v-for="(color, i) in item.color"
                                :key="i"
                                :value="color"
                              >
                                {{ color }}
                              </option>
                            </select>
                          </div>
                        </v-col>
                        <v-col v-if="item.size != 0" cols="6" id="selectColor">
                          <div class="select">
                            <select
                              v-model="item.chooseSize"
                              @change="pickedColor(item)"
                            >
                              <option value="0">#เลือกไซส์สินค้า</option>
                              <option
                                v-for="(size, i) in item.size"
                                :key="i"
                                :value="size"
                              >
                                {{ size }}
                              </option>
                            </select>
                          </div>
                        </v-col>
                      </v-row>
                      <v-row v-else class="mt-3">
                        <v-col class="mt-6"> </v-col>
                      </v-row>
                      <v-col cols="12">
                        <v-row>
                          <v-col
                            v-if="item.priceOther"
                            id="bestsellerprice"
                            cols="8"
                            class="pa-0"
                          >
                            <span style="position: relative">
                              <strong v-if="item.discount_promotion"
                                >{{
                                  item.priceOther -
                                  (item.priceOther * item.discount_promotion) /
                                    100
                                }}.-</strong
                              >
                              <strong v-else-if="item.discountOther"
                                >{{
                                  item.priceOther - item.discountOther
                                }}.-</strong
                              >
                              <strong v-else>{{ item.priceOther }}.-</strong>
                              <span
                                class="price-sale"
                                style="position: absolute"
                              >
                                <span
                                  class="line-price-sale"
                                  style="color: rgba(0, 0, 0, 0.5)"
                                  v-if="item.discountOther >= 1"
                                  >{{ parseInt(item.priceOther) }}.-</span
                                ></span
                              ></span
                            >
                          </v-col>
                          <v-col
                            v-else
                            id="bestsellerprice"
                            cols="8"
                            class="pa-0"
                          >
                            <span style="position: relative">
                              <strong v-if="item.discount_promotion"
                                >{{
                                  item.price -
                                  (item.price * item.discount_promotion) / 100
                                }}.-</strong
                              >
                              <strong v-else-if="item.discount"
                                >{{ item.price - item.discount }}.-</strong
                              >
                              <strong v-else>{{ item.price }}.-</strong>
                              <span
                                class="price-sale"
                                style="position: absolute"
                              >
                                <span
                                  class="line-price-sale"
                                  style="color: rgba(0, 0, 0, 0.5)"
                                  v-if="item.discount >= 1"
                                  >{{ parseInt(item.price) }}.-</span
                                ></span
                              ></span
                            >
                          </v-col>
                          <v-col
                            cols="4"
                            class="pa-0 d-flex justify-end align-center"
                            id="icon-bestseller"
                          >
                            <v-btn
                              @click="pickedFavorite(item)"
                              icon
                              id="hert-favorite"
                              ><img
                                v-if="item.statusFavorite"
                                src="~assets/img/pink-heart.png"
                                alt="" />

                              <img
                                v-else
                                src="~assets/img/icon-heart.png"
                                alt=""
                            /></v-btn>
                            <v-btn
                              @click="addItemToCart(item)"
                              icon
                              id="hert-favorite"
                              ><img src="~assets/img/icon-cart.png" alt=""
                            /></v-btn>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-col>
                <v-card-text> </v-card-text>
              </v-card>
            </v-slide-item>
          </v-slide-group>
        </v-col>
      </v-container>
    </v-col>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {
      timeout: 1000,
      textalert: "",
      snackbarAddItemToCart: false,
      snackbarAddItemError: false,
      model: null,
      dataPicked: [],
    };
  },
  // watch: {
  //   favoriteData: function (val) {
  //     // this.getPickedBestsellers();
  //   },
  // },
  // computed: {
  //   ...mapGetters({ favoriteData: "cart/favoriteData" }),
  // },
  mounted() {
    this.getPickedBestsellers();
  },
  methods: {
    ...mapActions({
      getBestSellers: "homepage/getBestSellers",
      addItemNewarrivalToCart: "cart/addItemNewarrivalToCart",
      dataProductOther: "product/dataProductOther",
      favoriteProduct: "cart/favoriteProduct",
      favoriteProductPicked: "cart/favoriteProductPicked",
    }),
    async pickedColor(data) {
      //Keep data in dataForSend
      if (data.chooseColor != 0) {
        if (data.chooseColor) {
          data.dataForSend.color = data.chooseColor;
          data.dataForSend.product_id = data.product_id;
        }
      } else {
        data.dataForSend.color = 0;
        data.priceOther = null;
        data.discountOther = null;
        data.discount_promotion = null;
        data.activeAddtoCart = false;
        data.message = null;
        data.imageProductOther = {};
      }
      if (data.chooseSize != 0) {
        if (data.chooseSize) {
          data.dataForSend.size = data.chooseSize;
          data.dataForSend.product_id = data.product_id;
        }
      } else {
        data.dataForSend.size = 0;
        data.priceOther = null;
        data.discountOther = null;
        data.discount_promotion = null;
        data.activeAddtoCart = false;
        data.message = null;
        data.imageProductOther = {};
      }
      if (data.dataForSend.color && data.dataForSend.size) {
        data.dataForSend.twin = true;
      }
      /////////////////////////////
      if (data.dataForSend.color) {
        if (data.size[0] != 0) {
          if (data.dataForSend.twin) {
            const res = await this.dataProductOther(data.dataForSend);
            // console.log(res, "11");
            if (res.success) {
              data.priceOther = res.data.price;
              data.discountOther = res.data.discount;
              data.activeAddtoCart = false;
              data.message = null;
              data.imageProductOther = res.image[0];
              if (res.data.discount_promotion) {
                data.discount_promotion = res.data.discount_promotion;
              }
            } else {
              if (res.data) {
                data.priceOther = res.data.price;
                data.discountOther = res.data.discount;
                data.imageProductOther = [];
                data.message = res.msg;
                data.activeAddtoCart = true;
              } else {
                data.imageProductOther = [];
                data.message = res.msg;
                data.activeAddtoCart = true;
              }
            }
          }
        } else {
          const res = await this.dataProductOther(data.dataForSend);
          // console.log(res, "22");
          if (res.success) {
            data.priceOther = res.data.price;
            data.discountOther = res.data.discount;
            data.activeAddtoCart = false;
            data.message = null;
            data.imageProductOther = res.image[0];
            if (res.data.discount_promotion) {
              data.discount_promotion = res.data.discount_promotion;
            }
          } else {
            if (res.data) {
              data.priceOther = res.data.price;
              data.discountOther = res.data.discount;
              data.imageProductOther = [];
              data.message = res.msg;
              data.activeAddtoCart = true;
            } else {
              data.imageProductOther = [];
              data.message = res.msg;
              data.activeAddtoCart = true;
            }
          }
        }
      } else if (data.dataForSend.size) {
        if (data.color[0] != 0) {
          // console.log(this.optionColor);
        } else {
          const res = await this.dataProductOther(data.dataForSend);
          // console.log(res, "33");
          if (res.success) {
            data.priceOther = res.data.price;
            data.discountOther = res.data.discount;
            data.activeAddtoCart = false;
            data.message = null;
            data.imageProductOther = res.image[0];
            if (res.data.discount_promotion) {
              data.discount_promotion = res.data.discount_promotion;
            }
          } else {
            if (res.data) {
              data.priceOther = res.data.price;
              data.discountOther = res.data.discount;
              data.imageProductOther = [];
              data.message = res.msg;
              data.activeAddtoCart = true;
            } else {
              data.imageProductOther = [];
              data.message = res.msg;
              data.activeAddtoCart = true;
            }
          }
        }
      }
    },
    async pickedFavorite(item) {
      if (this.$auth.loggedIn) {
        const data = {
          customer_id: this.$auth.user.data.id,
          product_id: item.id,
        };
        const res = await this.favoriteProduct(data);
        if (res.success) {
          this.getPickedBestsellers();
        }
      } else {
        this.$router.push("/login");
      }
    },
    async getPickedBestsellers() {
      const res = await this.getBestSellers();
      if (this.$auth.loggedIn) {
        const favorite = await this.favoriteProductPicked();
        res.data.map((edit) => {
          if (favorite) {
            for (let a = 0; a < favorite.length; a++) {
              if (this.$auth.loggedIn) {
                if (edit.id == favorite[a].product_id) {
                  edit.statusFavorite = true;
                }
              }
            }
          }
          edit.dataForSend = {
            color: null,
            size: null,
            twin: false,
            product_id: 0,
          };
          edit.activeAddtoCart = false;
          edit.priceOther = null;
          edit.discountOther = null;
          edit.imageProductOther = {};
          edit.message = null;
          edit.chooseColor = 0;
          edit.chooseSize = 0;
          edit.colorAndSize = [];
          edit.color = [];
          edit.size = [];
          edit.sizeTest = [];
          edit.product_other_id = null;
          for (let i = 0; i < res.product_other.length; i++) {
            if (edit.product_id == res.product_other[i].product_id) {
              edit.product_other_id = res.product_other[i].id;
              if (res.product_other[i].color) {
                if (edit.color.length >= 1) {
                  for (let x = 0; x < edit.color.length; x++) {
                    if (edit.color[x] == res.product_other[i].color) {
                    } else {
                      let found = edit.color.indexOf(
                        res.product_other[i].color
                      );
                      edit.color.splice(found, found);
                      edit.color.push(res.product_other[i].color);
                    }
                  }
                } else {
                  edit.color.push(res.product_other[i].color);
                }
              }
            }
          }
          for (let i = 0; i < res.product_other.length; i++) {
            if (edit.product_id == res.product_other[i].product_id) {
              if (res.product_other[i].size) {
                if (edit.sizeTest.length >= 1) {
                  if (edit.sizeTest != res.product_other[i].size) {
                    let found = edit.sizeTest.indexOf(
                      res.product_other[i].size
                    );
                    edit.sizeTest.splice(found, found);
                    edit.sizeTest.push(res.product_other[i].size);
                  } else {
                  }
                } else {
                  edit.sizeTest.push(res.product_other[i].size);
                }
              }
            }
          }
          edit.size = [...new Set(edit.sizeTest)];
        });
        this.dataPicked = res.data;
      } else {
        res.data.map((edit) => {
          edit.dataForSend = {
            color: null,
            size: null,
            twin: false,
            product_id: 0,
          };
          edit.activeAddtoCart = false;
          edit.priceOther = null;
          edit.discountOther = null;
          edit.imageProductOther = {};
          edit.message = null;
          edit.chooseColor = 0;
          edit.chooseSize = 0;
          edit.colorAndSize = [];
          edit.color = [];
          edit.size = [];
          edit.sizeTest = [];
          edit.product_other_id = null;
          for (let i = 0; i < res.product_other.length; i++) {
            if (edit.product_id == res.product_other[i].product_id) {
              edit.product_other_id = res.product_other[i].id;
              if (res.product_other[i].color) {
                if (edit.color.length >= 1) {
                  for (let x = 0; x < edit.color.length; x++) {
                    if (edit.color[x] == res.product_other[i].color) {
                    } else {
                      let found = edit.color.indexOf(
                        res.product_other[i].color
                      );
                      edit.color.splice(found, found);
                      edit.color.push(res.product_other[i].color);
                    }
                  }
                } else {
                  edit.color.push(res.product_other[i].color);
                }
              }
            }
          }
          for (let i = 0; i < res.product_other.length; i++) {
            if (edit.product_id == res.product_other[i].product_id) {
              if (res.product_other[i].size) {
                if (edit.sizeTest.length >= 1) {
                  if (edit.sizeTest != res.product_other[i].size) {
                    let found = edit.sizeTest.indexOf(
                      res.product_other[i].size
                    );
                    edit.sizeTest.splice(found, found);
                    edit.sizeTest.push(res.product_other[i].size);
                  } else {
                  }
                } else {
                  edit.sizeTest.push(res.product_other[i].size);
                }
              }
            }
          }
          edit.size = [...new Set(edit.sizeTest)];
        });
        this.dataPicked = res.data;
      }
      // console.log(this.dataPicked);
    },
    async addItemToCart(item) {
      if (this.$auth.loggedIn) {
        if (item.product_other_id) {
          if (item.color == 0) {
            if (item.chooseSize == 0) {
              this.snackbarAddItemError = true;
              this.textalert = "กรุณาเลือกไซส์สินค้าก่อน";
            } else {
              const data = {
                customer_id: this.$auth.user.data.id,
                product_id: item.product_id,
                size: item.chooseSize,
                quantity: 1,
              };
              const res = await this.addItemNewarrivalToCart(data);
              if (res.success) {
                this.snackbarAddItemToCart = true;
                this.textalert = res.message;
              } else {
                this.snackbarAddItemError = true;
                this.textalert = res.message;
              }
            }
          } else if (item.color.length >= 1) {
            if (item.chooseColor == 0) {
              this.snackbarAddItemError = true;
              this.textalert = "กรุณาเลือกสีสินค้าก่อน";
            } else {
              if (item.size != 0) {
                if (item.chooseSize == 0) {
                  this.snackbarAddItemError = true;
                  this.textalert = "กรุณาเลือกไซส์สินค้าก่อน";
                } else {
                  const data = {
                    customer_id: this.$auth.user.data.id,
                    product_id: item.product_id,
                    color: item.chooseColor,
                    size: item.chooseSize,
                    quantity: 1,
                  };
                  const res = await this.addItemNewarrivalToCart(data);
                  if (res.success) {
                    this.snackbarAddItemToCart = true;
                    this.textalert = res.message;
                  } else {
                    this.snackbarAddItemError = true;
                    this.textalert = res.message;
                  }
                }
              } else {
                const data = {
                  customer_id: this.$auth.user.data.id,
                  product_id: item.product_id,
                  color: item.chooseColor,
                  quantity: 1,
                };
                const res = await this.addItemNewarrivalToCart(data);
                if (res.success) {
                  this.snackbarAddItemToCart = true;
                  this.textalert = res.message;
                } else {
                  this.snackbarAddItemError = true;
                  this.textalert = res.message;
                }
              }
            }
          }
        } else {
          const data = {
            customer_id: this.$auth.user.data.id,
            product_id: item.product_id,
            quantity: 1,
          };
          const res = await this.addItemNewarrivalToCart(data);
          if (res.success) {
            this.snackbarAddItemToCart = true;
            this.textalert = res.message;
          } else {
            this.snackbarAddItemError = true;
            this.textalert = res.message;
          }
        }
      } else {
        this.$router.push("/login");
      }
    },
  },
};
</script>
<style>
#bestsellerprice .line-price-sale::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ff5065;
  position: absolute;
  transform: rotate(-20deg);
  top: 10px;
  left: -2px;
}
#icon-bestseller {
  font-size: 36px;
}
#slide-bestsellers {
  padding: 0;
  max-width: 880px;
}
#bestsellers {
  text-align: center;
  font-style: italic;
  font-family: "DM Serif Display" !important;
  color: #fff;
  font-size: 130px;
}
.v-slide-group {
  height: 500px;
}
#slide-bestsellers .v-slide-group__next,
#slide-bestsellers .v-slide-group__prev {
  position: absolute;
  z-index: 10;
  width: 100px;
  top: 40%;
  padding: 6px;
  font-style: normal !important;
}
#slide-bestsellers .v-slide-group__prev {
  margin-left: -90px;
}
#slide-bestsellers .v-slide-group__next {
  margin-right: -90px;
}
#card-bestsellers {
  width: 275px;
  height: 0px;
  margin: 0 10px 0 10px;
  border: 1px solid #7789c5;
  position: relative;
}
#card-bestsellers .imgBestSellers {
  height: 100%;
  width: 100%;
}
#card-bestsellers h2 {
  color: #7789c5;
}
#card-bestsellers strong {
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  color: #ff5065;
  font-family: "AvenirMediumOblique" !important;
}
#card-bestsellers span {
  color: #7789c5;
}
#btn-prev {
  background: rgba(255, 145, 196, 0.8);
  border-radius: 0;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  padding: 3px 8px 3px 0;
}
#btn-next {
  background: rgba(255, 145, 196, 0.8);
  border-radius: 0;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  padding: 3px 0 3px 8px;
}
#btn-prev i.v-icon {
  font-size: 48px;
}
#btn-next i.v-icon {
  font-size: 48px;
}
#card-bestsellers .imgBestSellers {
  height: auto;
}
#rating-best-seller {
  position: absolute;
  left: -10px;
  top: -20px;
  font-size: 2em;
  z-index: 10;
  padding: 0 16px 0 16px;
  background: #ff91c4;
  border-radius: 50%;
  color: #ffffcc;
  font-family: "AvenirBlack" !important;
}
@media screen and (max-width: 1024px) {
  #slide-bestsellers .v-slide-group__prev {
    margin-left: 0;
  }
  #slide-bestsellers .v-slide-group__next {
    margin-right: 0;
  }
}
@media screen and (max-width: 820px) {
  #slide-bestsellers {
    padding: 0;
    max-width: 100%;
  }
  #slide-bestsellers .v-slide-group__next {
    margin-right: 6px;
  }
}
.bestseller-foot-card {
  background: rgba(255, 186, 219);
}
@media screen and (max-width: 550px) {
  .bestseller-foot-card {
  background: rgba(255, 186, 219);
  margin-top: 10px;
}
  #card-bestsellers .imgBestSellers {
    height: 200px;
    width: 100%;
  }
  #icon-bestseller {
    font-size: 18px;
  }
  #slide-bestsellers {
    padding: 0;
    max-width: 100%;
  }
  #btn-prev {
    width: 90px;
    background: rgba(255, 145, 196, 0.8);
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    padding: 3px 8px 3px 0;
  }
  #btn-next {
    width: 90px;
    background: rgba(255, 145, 196, 0.8);
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    padding: 3px 0 3px 8px;
  }
  #btn-prev i.v-icon {
    font-size: 24px;
  }
  #btn-next i.v-icon {
    font-size: 24px;
  }
  #slide-bestsellers .v-slide-group__prev {
    margin-left: 0;
  }
  #slide-bestsellers .v-slide-group__next {
    margin-right: 0;
  }
  #card-bestsellers h2 {
    font-size: 16px;
  }
  #card-bestsellers span {
    font-size: 8px;
  }
  #card-bestsellers strong {
    font-weight: 400;
    font-size: 16px;
  }
  #bestsellers {
    text-align: center;
    font-style: italic;
    font-family: "PT Serif" !important;
    color: #fff;
    font-size: 60px;
  }
  #card-bestsellers {
    width: 185px;
    height: 320px;
    margin: 0 5px 0 5px;
  }
  .v-slide-group {
    height: 340px;
  }
}
</style>
