<template>
  <div>
    <v-carousel
      id="carousel"
      delimiter-icon="mdi-circle-outline"
      :show-arrows="false"
      max-height="700"
      height="700"
      hide-delimiter-background
      show-arrows-on-hover
    >
      <v-carousel-item
        v-for="(item, i) in slides"
        :key="i"
        :src="`/homepage/v1/image-carousel/${item.carousel_image}`"
      >
      </v-carousel-item>
    </v-carousel>
    <v-container class="pa-0" id="carousel-text">
      <div id="text-head">
        <h2 style="display: block">Seoul</h2>
        <h2 style="margin-left: 5px; margin-top: -80px">Goods</h2>
      </div>
    </v-container>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      slides: [],
    };
  },
  mounted() {
    this.selectImageCarousel();
  },
  methods: {
    ...mapActions({
      selectImage: "homepage/carousel/selectImage",
    }),
    async selectImageCarousel() {
      const res = await this.selectImage();
      this.slides = res;
      // console.log(res);
    },
  },
};
</script>
<style>
#carousel-text {
  position: relative;
}
@media screen and (min-width: 1420px) {
  #carousel .v-image__image--cover {
    background-size: 100% 100%, cover;
  }
}
#text-head {
  position: absolute;
  bottom: 50px;
  font-size: 100px;
  margin-left: 30px;
  color: #7789c5;
}
#text-head h2 {
  font-style: italic;
  font-family: "DM Serif Display" !important;
}
@media screen and (max-width: 550px) {
  #carousel-text {
  position:inherit;
}
  #text-head {
    font-size: 70px !important;
    top: 200px !important;
    left:-15px !important;
  }
  #carousel {
    height: 500px !important;
  }
  #carousel .v-responsive {
    height: 500px !important;
  }
}
.v-carousel__controls {
  bottom: 10px;
}
#carousel .mdi::before,
.mdi-set {
  font-size: 16px !important;
  color: #7789c5;
}
.theme--dark.v-btn--active:hover::before,
.theme--dark.v-btn--active::before {
  height: 12px;
  width: 12px;
  margin: 8px;
  background-color: #7789c5;
  opacity: 1;
}
</style>
