<template>
  <div>
    <v-col id="featured-section">
      <v-container style="position: relative">
        <img
          id="image-cover-featured"
          class="feature-brand"
          v-if="dataFeature.length > 5"
          style="position: absolute; bottom: 0; right: 0; width: 100%"
          src="~assets/img/feature-test.png"
          alt=""
        />
        <img
          id="image-cover-featured"
          class="switch"
          v-if="dataFeature.length > 5"
          style="position: absolute; bottom: 0; right: 0"
          src="~assets/img/furture.png"
          alt=""
        />
        <h2 id="featured-start">Featured Brand</h2>
        <v-col class="pa-0" id="featured-pc">
          <v-row>
            <v-col
              v-for="(item, i) in dataFeature"
              :key="i"
              id="featured"
              cols="6"
              lg="4"
              style="position: relative"
            >
              <v-col class="imagefeatured1" style="--i: 1">
                <img
                  :src="`/api/v1/feature-img/${item.image_1}`"
                  :style="'--p:' + item.index1"
                  alt=""
                />
              </v-col>
              <v-col class="imagefeatured2" style="--i: 1">
                <img
                  :src="`/api/v1/feature-img/${item.image_2}`"
                  :style="'--p:' + item.index2"
                  alt=""
                />
              </v-col>
            </v-col>
          </v-row>
        </v-col>
      </v-container>
    </v-col>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      dataFeature: [],
    };
  },
  mounted() {
    this.getFeature();
  },
  methods: {
    ...mapActions({
      getFeatureBrand: "homepage/getFeatureBrand",
    }),
    async getFeature() {
      this.dataFeature = await this.getFeatureBrand();
    },
  },
};
</script>
<style>
#featured-section {
  background: #c3d5f5;
  /* background-image: url("./../../assets/img/featured-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh; */
}
#featured {
  padding: 0;
}
#featured-start {
  text-align: center;
  font-style: italic;
  font-family: "PT Serif" !important;
  color: #ffffcc;
  font-size: 130px;
}
#featured .imagefeatured1 {
  position: absolute;
  left: 0;
  transition: 0.2s;
}
#featured .imagefeatured2 img {
  transition: 0.2s;
}
#featured .imagefeatured1 img,
#featured .imagefeatured2 img {
  z-index: var(--p);
  width: 280px;
}
#featured .imagefeatured1 img {
}
#featured .imagefeatured2 img {
  z-index: var(--p);
}
#featured .imagefeatured1,
.imagefeatured2 {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}
/* #featured .imagefeatured1 {
  z-index: 10;
} */
#featured:hover .imagefeatured2 img {
  transition: 0.2s;
  transform: scale(1) translateX(calc(70px * var(--i)));
}
/* #featured .imagefeatured1 {
  max-width: 260px;
} */
#image-cover-featured.switch {
    display: none;
  }
@media screen and (max-width: 820px) {
  #featured:hover .imagefeatured2 img {
    transition: 0.2s;
    transform: scale(1) translateX(calc(60px * var(--i)));
  }
  #featured .imagefeatured1,
  .imagefeatured2 {
    display: flex;
    padding: 10px 0 10px 0;
  }
  #featured-start {
    font-size: 80px;
  }
  #featured .imagefeatured1 img,
  #featured .imagefeatured2 img {
    width: 240px;
  }

  /* #featured-pc {
    display: none;
  } */
}
@media screen and (max-width: 550px) {
  #image-cover-featured {
    display: none;
  }
  #image-cover-featured.switch {
    display: block;
  }
  #featured:hover .imagefeatured2 img {
    transition: 0.2s;
    transform: scale(1) translateX(calc(40px * var(--i)));
  }
  #featured .imagefeatured1 img,
  #featured .imagefeatured2 img {
    width: 160px;
  }
  #featured-start {
    text-align: left;
    font-size: 50px;
  }
  #image-cover-featured {
    width: 100%;
  }
}
@media screen and (max-width: 390px) {
  #featured:hover .imagefeatured2 img {
    transition: 0.2s;
    transform: scale(1) translateX(calc(40px * var(--i)));
  }
  #featured .imagefeatured1 img,
  #featured .imagefeatured2 img {
    width: 160px;
  }
  #featured-start {
    text-align: center;
    font-size: 40px;
  }
  #image-cover-featured {
    width: 100%;
  }
}
</style>
