<template>
  <div>
    <v-col id="review-section" style="background: #7789c5">
      <v-container id="pc-version-mobile">
        <h2 id="review-start">Review</h2>
        <v-slide-group show-arrows>
          <template v-slot:prev>
            <v-btn icon style="background: rgba(255, 145, 196, 0.8)"
              ><v-icon color="#fff" class="mdi-36px"
                >mdi-chevron-left</v-icon
              ></v-btn
            >
          </template>
          <template v-slot:next>
            <v-btn icon style="background: rgba(255, 145, 196, 0.8)">
              <v-icon color="#fff" class="mdi-36px"
                >mdi-chevron-right</v-icon
              ></v-btn
            >
          </template>
          <v-slide-item v-for="(item, n) in dataReview" :key="n">
            <v-col id="review" style="margin: 0 6px">
              <v-col class="image">
                <nuxt-link :to="`/review/main/${item.title_code}`">
                  <v-img
                    :src="`/api/v1/review-image/${item.image}`"
                    style="width: 360px; height: 300px"
                  ></v-img>
                </nuxt-link>
              </v-col>
              <v-col class="review-footer">
                <h2 class="into">REVIEW</h2>
                <v-col class="title">
                  <h2 v-if="item.title.length <= 18">
                    {{ item.title }}
                  </h2>
                  <h2 v-if="item.title.length >= 19">
                    {{ item.title.slice(0, 19) + "..." }}
                  </h2>
                  <h3 v-if="item.description_short.length <= 25">
                    {{ item.description_short }}
                  </h3>
                  <h3 v-if="item.description_short.length >= 26">
                    {{ item.description_short.slice(0, 25) + "..." }}
                  </h3>
                </v-col>
                <v-col
                  style="
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 0;
                  "
                >
                  <span
                    style="
                      color: #fff;
                      font-size: 18px;
                      font-weight: 400;
                      margin-right: 5px;
                    "
                    >41 Lovers</span
                  >
                  <img
                    @click="favorite()"
                    src="~assets/img/mini-heart-pink.png"
                    width="30px"
                    alt=""
                  />
                </v-col>
              </v-col>
            </v-col>
          </v-slide-item>
        </v-slide-group>
      </v-container>
      <v-container id="mobile-version-review" style="padding-right: 0">
        <h2 id="review-start">Review</h2>
        <v-col
          id="mobile-review"
          style="display: flex; position: relative; padding: 0"
        >
          <v-col
            style="position: absolute; display: flex; padding: 0; width: 250px"
          >
            <v-col
              v-for="(item, n) in even"
              :key="n"
              style="display: flex; padding: 6px"
            >
              <v-col id="review" class="pa-0">
                <v-col class="pa-0">
                  <nuxt-link :to="`/review/main/${item.title_code}`">
                    <v-img
                      :src="`/api/v1/review-image/${item.image}`"
                      width="250px"
                      height="200px"
                    ></v-img>
                  </nuxt-link>
                </v-col>
                <v-col class="review-footer pa-0">
                  <v-col
                    class="pa-2 position:relative;height:50px;background:red;"
                  >
                    <h2 class="into">REVIEW</h2>
                  </v-col>
                  <v-col class="title">
                    <h2 v-if="item.title.length <= 18">
                      {{ item.title }}
                    </h2>
                    <h2 v-if="item.title.length >= 19">
                      {{ item.title.slice(0, 19) + "..." }}
                    </h2>
                    <h3 v-if="item.description_short.length <= 25">
                      {{ item.description_short }}
                    </h3>
                    <h3 v-if="item.description_short.length >= 26">
                      {{ item.description_short.slice(0, 25) + "..." }}
                    </h3>
                  </v-col>
                  <v-col
                    class="pa-0 pr-3"
                    style="
                      display: flex;
                      justify-content: flex-end;
                      align-items: center;
                    "
                  >
                    <span
                      style="
                        color: #fff;
                        font-size: 14px;
                        font-weight: 300;
                        margin-right: 5px;
                      "
                      >41 Lovers</span
                    >
                    <v-btn @click="favorite()" icon
                      ><img
                        src="~assets/img/mini-heart3.png"
                        width="25px"
                        alt=""
                    /></v-btn>
                  </v-col>
                </v-col>
              </v-col>
            </v-col>
          </v-col>
          <v-col
            style="
              position: absolute;
              top: 350px;
              display: flex;
              padding: 20px 0 0 0;
              width: 250px;
            "
          >
            <v-col
              v-for="(item, i) in odd"
              :key="i"
              style="display: flex; padding: 6px"
            >
              <v-col id="review" class="pa-0">
                <v-col class="pa-0">
                  <v-img
                    :src="`/api/v1/review-image/${item.image}`"
                    width="250px"
                    height="200px"
                  ></v-img>
                </v-col>
                <v-col class="review-footer pa-0">
                  <v-col
                    class="pa-2 position:relative;height:50px;background:red;"
                  >
                    <h2 class="into">REVIEW</h2>
                  </v-col>
                  <v-col class="title">
                    <h2 v-if="item.title.length <= 18">
                      {{ item.title }}
                    </h2>
                    <h2 v-if="item.title.length >= 19">
                      {{ item.title.slice(0, 19) + "..." }}
                    </h2>
                    <h3 v-if="item.description_short.length <= 25">
                      {{ item.description_short }}
                    </h3>
                    <h3 v-if="item.description_short.length >= 26">
                      {{ item.description_short.slice(0, 25) + "..." }}
                    </h3>
                  </v-col>
                  <v-col
                    class="pa-0 pr-3"
                    style="
                      display: flex;
                      justify-content: flex-end;
                      align-items: center;
                    "
                  >
                    <span
                      style="
                        color: #fff;
                        font-size: 14px;
                        font-weight: 300;
                        margin-right: 5px;
                      "
                      >41 Lovers</span
                    >
                    <v-btn @click="favorite()" icon
                      ><img
                        src="~assets/img/mini-heart3.png"
                        width="25px"
                        alt=""
                    /></v-btn>
                  </v-col>
                </v-col>
              </v-col>
            </v-col>
          </v-col>
        </v-col>
      </v-container>
    </v-col>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      model: null,
      odd: [],
      even: [],
      dataReview: [],
    };
  },
  mounted() {
    this.setDataReview();
  },
  methods: {
    ...mapActions({
      getReview: "review-content/getReview",
    }),
    async setDataReview() {
      const res = await this.getReview();
      this.dataReview = res;
      if (this.dataReview.length > 6) {
        this.dataReview.length = 6;
      }
      // console.log(this.dataReview);
      for (let i = 0; i < res.length; i++) {
        // console.log(res[i]);
        if (i % 2 == 0) {
          // this.dataReview.push(res[i]);
          this.even.push(res[i]);
        } else {
          // console.log("odd");
          this.odd.push(res[i]);
        }
      }
      // console.log(this.dataReview);
    },
    favorite() {
      alert(5555);
    },
  },
};
</script>
<style>
#pc-version-mobile {
  display: block;
}
#mobile-version-review {
  display: none;
}
#mobile-review {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 1000px;
  height: 750px;
}
#review-start {
  text-align: center;
  font-style: italic;
  font-family: "DM Serif Display" !important;
  color: #fff;
  font-size: 130px;
}

#review .review-footer {
  max-width: 360px;
  height: 250px;
  background: #c3d5f5;
  padding-left: 0;
  position: relative;
  z-index: 6;
}
#review .review-footer .into {
  color: #ffffcc;
  background: #ffbadb;
  max-width: 120px;
  text-align: right;
  padding-right: 10px;
  font-size: 20px;
  margin-top: 5px;
  font-family: "AvenirBlack" !important;
}
#review .review-footer .title {
  /* padding:0; */
  text-align: center;
}
#review .review-footer .title h2 {
  margin-bottom: 5px;
  font-size: 24px;
  color: #7789c5;
}
#review .review-footer .title h3 {
  margin-top: 10px;
  font-size: 24px;
  color: #fff;
}
#review .image {
  padding: 0;
  position: relative;
  z-index: 6;
}
#review {
  margin-bottom: 100px;
}
@media screen and (max-width: 550px) {
  #pc-version-mobile {
    display: none;
  }
  #mobile-version-review {
    display: block;
  }
  #review-section {
    padding-right: 0;
  }
  #review .review-footer .into {
    left: 0;
    top: 5px;
    position: absolute;
    color: #ffffcc;
    background: #ffbadb;
    width: 80px;
    padding-right: 2px 5px 2px 0;
    font-size: 12px;
    font-family: "AvenirBlack" !important;
  }
  #review-start {
    text-align: center;
    font-style: italic;
    color: #fff;
    font-size: 60px;
  }
  #review .review-footer .title {
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
  }
  #review .review-footer .title h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #7789c5;
  }
  #review .review-footer .title h3 {
    margin-top: 10px;
    font-size: 17px;
    color: #fff;
  }
  #review .review-footer {
    width: 100%;
    height: 150px;
    background: #c3d5f5;
    padding-left: 0;
    position: relative;
    z-index: 6;
  }
}
</style>
