<template>
  <div>
    <v-col v-if="!$auth.loggedIn" class="pa-0">
      <v-form ref="formlogin" lazy-validation>
        <v-text-field
          v-model="email"
          label="E-mail"
          :rules="emailRules"
          required
          @input="$v.email.$touch()"
          @blur="$v.email.$touch()"
        ></v-text-field>
        <v-text-field
          v-model="password"
          :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show3 ? 'text' : 'password'"
          label="Passsword"
          :rules="passwordRules"
          required
          @click:append="show3 = !show3"
          @keypress.prevent.enter="submit"
        ></v-text-field>
        <h4
          v-if="messageLoginFalse"
          style="font-size: 12px; color: red; font-weight: 100"
        >
          {{ messageLoginFalse }}
        </h4>
        <div style="display: flex; justify-content: center">
          <ul style="color: #fff">
            <!-- <li>
              Forgot
              <nuxtLink to="/forget/password">Email / Password</nuxtLink> ?
            </li> -->
            <li>
              Don't have an acconut ?
              <v-btn @click="dialog = true" style="color: blue" text
                >Sign up</v-btn
              >
            </li>
          </ul>
        </div>
        <v-divider color="#7789C5" class="mt-4 mb-4"></v-divider>

        <v-btn
          style="
            width: 100%;
            border-radius: 0;
            float: right;
            height: 30px;
            background: #7789c5;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 5px;
            margin-top: -5px;
          "
          @click="submit()"
        >
          Log in
        </v-btn>

        <v-btn
          style="
            width: 100%;
            border-radius: 0;
            float: right;
            height: 30px;
            background: #3b5998;
            color: #fff;
            font-size: 16px;
            maring-left: 5px;
            font-weight: 400;
          "
          @click="loginfacebook"
        >
          Log in with facebook
        </v-btn>
      </v-form>
    </v-col>
    <v-col v-if="$auth.loggedIn">
      <v-row>
        <v-col
          cols="12"
          style="display: flex; justify-content: center; align-items: center"
        >
          <h5 v-if="$auth.user.data">{{ $auth.user.data.username }}</h5>
          <h5 v-if="$auth.user.name">{{ $auth.user.name }}</h5>
        </v-col>
        <v-col cols="12">
          <v-row>
            <v-col
              cols="6"
              class="pa-0"
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 5px;
              "
            >
              <v-btn
                style="
                  border-radius: 0;
                  background: #7789c5;
                  color: #fff;
                  margin-right: 2px;
                "
                to="/user/profile"
                >บัญชีของฉัน</v-btn
              >
            </v-col>
            <v-col
              cols="6"
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <v-btn
                style="
                  border-radius: 0;
                  background: #7789c5;
                  color: #fff;
                  margin-left: 2px;
                "
                to="/user/purchase"
                >การซื้อของฉัน</v-btn
              >
            </v-col>
          </v-row>
          <v-col cols="12" style="position: absolute; bottom: 0; right: 0">
            <v-divider
              style="background: #7789c5; margin-bottom: 10px"
            ></v-divider>

            <v-btn
              style="
                border-radius: 0;
                background: #7789c5;
                color: #fff;
                float: right;
              "
              @click="logoutCustomer()"
              >Logout</v-btn
            >
          </v-col>
        </v-col>
      </v-row>
    </v-col>
    <v-row justify="center">
      <v-dialog
        v-model="dialog"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
      >
        <v-card style="background: #c3d5f5">
          <v-toolbar dark color="primary">
            <v-btn icon dark @click="dialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Register Seoul good</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-col cols="12">
            <h2 class="text-sign-up">Sign Up</h2>
          </v-col>
          <v-col
            class="pa-0"
            style="display: flex; justify-content: center; align-items: center"
          >
            <v-col cols="12" lg="6" sm="8" class="pa-0">
              <v-form ref="form" lazy-validation>
                <v-col>
                  <v-text-field
                    label="Username"
                    v-model="register.username"
                    :rules="username"
                    required
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    label="Email"
                    v-model="register.email"
                    :rules="emailRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    label="Password"
                    :rules="passwordRules"
                    :append-icon="show4 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show4 ? 'text' : 'password'"
                    v-model="register.password"
                    @click:append="show4 = !show4"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    label="Password Confirm"
                    :rules="passwordConfirmRules"
                    :append-icon="show5 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show5 ? 'text' : 'password'"
                    v-model="register.passwordConfirmation"
                    @click:append="show5 = !show5"
                  ></v-text-field>
                </v-col>
                <v-col style="display: flex; justify-content: center">
                  <v-btn
                    id="btn-sign-up"
                    @click="registerCustomer()"
                    style="background: #7789c5; color: #fff; font-size: 30px"
                    >Sign up</v-btn
                  >
                </v-col>
              </v-form>
            </v-col>
          </v-col>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required, maxLength, email } from "vuelidate/lib/validators";
import { mapActions } from "vuex";
// import facebookLogin from "facebook-login-vuejs";
export default {
  mixins: [validationMixin],
  validations: {
    // name: { required, maxLength: maxLength(10) },
    email: { required, email },
    password: { required },
  },
  data() {
    return {
      messageLoginFalse: "",
      dialog: false,
      show4: false,
      show5: false,
      register: [],
      emailRules: [
        (v) => !!v || "คุณจำเป็นต้องใส่ E-mail",
        (v) => /.+@.+\..+/.test(v) || "คุณใส่ E-mail ไม่ถูกรูปแบบ",
      ],
      username: [(v) => !!v || "คุณจำเป็นต้องใส่ Username"],
      passwordRules: [
        (v) => !!v || "คุณจำเป็นต้องใส่ Password",
        (v) => (v && v.length >= 8) || "คุณจำเป็นต้องใส่มากกว่า 8 ตัว",
      ],
      passwordConfirmRules: [
        (v) => !!v || "คุณจำเป็นต้องใส่ Password Confirm",
        (v) => (v && v.length >= 8) || "คุณจำเป็นต้องใส่มากกว่า 8 ตัว",
      ],
      email: "",
      select: null,
      name: "",
      items: ["Item 1", "Item 2", "Item 3", "Item 4"],
      checkbox: false,
      show3: false,
      password: "",
      rules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 8 || "Min 8 characters",
        emailMatch: () => `The email and password you entered don't match`,
      },
      checklogfacebook: 0,
    };
  },
  // computed: {
  //   emailErrors() {
  //     const errors = [];
  //     if (!this.$v.email.$dirty) return errors;
  //     !this.$v.email.email && errors.push("คุณใส่ E-mail ไม่ถูกรูปแบบ");
  //     !this.$v.email.required && errors.push("จำเป็นต้องใส่ E-mail");
  //     return errors;
  //   },
  //   passwordErrors() {
  //     const errors = [];
  //     if (!this.$v.password.$dirty) return errors;
  //     !this.$v.password.required && errors.push("จำเป็นต้องใส่รหัสผ่าน");
  //     return errors;
  //   },
  // },
  mounted() {},
  methods: {
    ...mapActions({
      logout: "cart/logout",
      getCart: "cart/getCart",
      registerCustomers: "member/register/registerCustomers",
      favoriteProductPicked: "cart/favoriteProductPicked",
    }),
    async registerCustomer() {
      if (this.$refs.form.validate()) {
        const data = {
          username: this.register.username,
          email: this.register.email,
          password: this.register.password,
          passwordConfirmation: this.register.passwordConfirmation,
        };
        const res = await this.registerCustomers(data);
        // console.log(res);
        this.dialog = false;
        this.register = [];
        if (res) {
          try {
            const response = await this.$auth.loginWith("local", {
              data: {
                email: data.email,
                password: data.password,
              },
            });
            if (response.data.success) {
              await this.getCart();
              await this.favoriteProductPicked();
              this.$router.push("/");
            }
            // console.log(response);
          } catch (err) {
            console.log(err);
          }
        }
      } else {
        this.$refs.form.validate();
      }
      // console.log(res);
    },
    async submit() {
      // console.log(this.$refs.formlogin);
      if (this.$refs.formlogin.validate()) {
        const payload = {
          email: this.email,
          password: this.password,
        };
        try {
          const response = await this.$auth.loginWith("local", {
            data: {
              email: payload.email,
              password: payload.password,
            },
          });
          if (response.data.success) {
            await this.getCart();
            await this.favoriteProductPicked();
            this.messageLoginFalse = "";
            this.$router.push("/");
          } else {
            this.messageLoginFalse =
              "คุณใส่ E-mail ไม่ถูกต้องหรือรหัสผ่านไม่ถูกต้อง";
          }
          // console.log(response);
        } catch (err) {
          // console.log(err);
          this.messageLoginFalse =
            "คุณใส่ E-mail ไม่ถูกต้องหรือรหัสผ่านไม่ถูกต้อง";
        }
      } else {
        this.$refs.formlogin.validate();
      }
    },
    async logoutCustomer() {
      const res = await this.logout();
      if (res.success) {
        await this.$nuxt.$auth.logout();
        this.email = "";
        this.password = "";
        this.$router.push("/");
      }
    },

    loginfacebook() {
      this.$auth.loginWith("facebook");
    },
  },
};
</script>
<style>

.v-text-field .v-input__control .v-input__slot::before,
.v-text-field .v-input__control .v-input__slot::after {
  transition: 0s !important;
}
.v-input__slot {
  transition: 0s !important;
}
.v-text-field .v-input__slot:before {
  border-color: #7789c5 !important;
}
.v-text-field label {
  color: #fff !important;
}
.btn-login {
  border-radius: 0;
  float: right;
  height: 30px;
  background: #7789c5;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.v-label {
  transition: 0s !important;
}
#btn-sign-up {
  padding: 24px 16px;
  font-family: "DM Serif Display" !important;
}
.text-sign-up {
  font-size: 120px;
  text-align: center;
  font-style: italic;
  color: #7789c5;
  font-family: "DM Serif Display" !important;
}
</style>
