<template>
  <v-app light v-if="!loading">
    <HeaderMain />
    <!-- <HeadNav /> -->
    <!-- <HeadNavMobile /> -->
    <!-- <NavigationMobile /> -->
    <v-main>
      <Nuxt />
    </v-main>

    <Footer />
  </v-app>
</template>

<script>
import HeaderMain from "@/components/header-module/main-header";
// import Navigation from "@/components/navigation";
// import HeadNav from "@/components/head-nav";
// import HeadNavMobile from "@/components/head-nav-mobile";
// import NavigationMobile from "@/components/navigation-mobile";
import Footer from "@/components/footer";
import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    // Navigation,
    Footer,
    HeaderMain,
    // NavigationMobile,
    // HeadNav,
    // HeadNavMobile,
  },
  data() {
    return {
      loading: true,
    };
  },
  computed: {
    ...mapGetters(["cartdata"], ["favoriteData"]),
  },
  created() {
    this.$nextTick(function () {
      this.loading = false;
    });
  },
  async mounted() {
    if (this.$store.state.auth.strategy == "local") {
      if (this.$auth.loggedIn) {
        await this.getCart();
      }
    }
    // this.checkRegister();
  },
  mounted() {
    this.getFavoriteProduct();
    this.getCart();
  },
  methods: {
    ...mapActions({
      getCart: "cart/getCart",
      favoriteProductPicked: "cart/favoriteProductPicked",
    }),

    async getFavoriteProduct() {
      if (this.$auth.loggedIn) {
        const data = {
          customer_id: this.$auth.user.data.id,
        };
        const res = await this.favoriteProductPicked(data);
      }
    },
    async checkRegister() {
      if (this.$store.state.auth.strategy == "facebook") {
        const data = this.$store.state.auth.user;
        if (data) {
          if (data.email) {
            const checkRegisterFacebook = await this.$axios.$post(
              "/api/v1/check-register",
              data
            );
            if (checkRegisterFacebook.facebook) {
              const payload = {
                email: data.email,
                password: data.id,
              };
              this.$nuxt.$auth.logout();
              const response = await this.$auth.loginWith("local", {
                data: {
                  email: payload.email,
                  password: payload.password,
                },
              });
              if (response.data.success) {
                await this.getCart();
                await this.getFavoriteProduct();
                this.$router.push("/");
              }
            }
          } else {
            const reData = { name: data.name, email: data.id, id: data.id };
            const checkRegisterFacebook = await this.$axios.$post(
              "/api/v1/check-register",
              reData
            );
            if (checkRegisterFacebook.facebook) {
              const payload = {
                email: data.id,
                password: data.id,
              };
              this.$nuxt.$auth.logout();
              const response = await this.$auth.loginWith("local", {
                data: {
                  email: payload.email,
                  password: payload.password,
                },
              });
              if (response.data.success) {
                await this.getCart();
                await this.getFavoriteProduct();
                this.$router.push("/");
              }
            }
          }
        }
      }
    },
  },
};
</script>
<style>
* {
  cursor: url("./assets/img/cursors.png"), auto;
}
.container {
  max-width: 1200px;
}
</style>
