<template>
  <div>
    <v-col style="background: #000; height: 100vh">
      <v-container>
        <v-col
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
          "
        >
          <form @submit.prevent="onSubmit">
            <input placeholder="title" type="text" v-model="title" />
            <input placeholder="message" type="text" v-model="message" />
            <recaptcha @error="onError" @success="onSuccess" />
            <button type="submit">Submit</button>
          </form>
        </v-col>
      </v-container>
    </v-col>
  </div>
</template>
<script>
export default {
  data() {
    return {
      title: "TTTTT",
      message: "GGGGG",
    };
  },

  methods: {
    async onSubmit() {
      try {
        const token = await this.$recaptcha.getResponse();
        console.log("ReCaptcha token:", token);
        await this.$recaptcha.reset();
      } catch (error) {
        console.log("Login error:", error);
      }
    },
    onSuccess(token) {
      console.log("Succeeded:", token);
    },
    onError(error) {
      console.log("Error happened:", error);
    },
  },
};
</script>
