#checkout {
  background: #c3d5f5;
}
#checkout .text-start {
  color: #ffffcc;
  font-size: 80px;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-style: italic;
  margin-left: 50px;
}

#checkout .to-completed {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
#checkout .order-Checkout {
  display: flex;
}
#checkout .order-Checkout .row {
  position: relative;
}
#checkout .order-Checkout span.active {
  background: #ffb6d8;
  padding: 7px 24px 2px 24px;
  border-radius: 50%;
  font-size: 40px;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: "AvenirBlack";
  font-weight: bold;
}
#checkout .order-Checkout span {
  background: #fff;
  padding: 7px 24px 2px 24px;
  border-radius: 50%;
  font-size: 40px;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
  color: #ffb6d8;
  font-family: "AvenirBlack";
  font-weight: bold;
  border: 1px solid #ffb6d8;
}
#hr-dashed {
  border: 1.8px dashed #ffb6d8;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  position: absolute;
  top: 50%;
  width: 80%;
  right: 20px;
}
#checkout .column-order-completed {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}
#checkout .column-order-completed-3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}
@media screen and (max-width: 540px) {
  #checkout .text-start {
    margin-left: 0;
    text-align: center;
  }
  #checkout .column-order-completed {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  #checkout .column-order-completed-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  #hr-dashed {
    border: 1.6px dashed #ffb6d8;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    position: absolute;
    /* z-index: 10; */
    top: 50%;
    width: 80%;
    left: 10%;
    /* margin:0 10px; */
  }
}
