@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");


/* Roboto */
@font-face {
  font-family: "Roboto-Black";
  src: url("./font/Roboto-Black.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Light";
  src: url("./font/Roboto-Light.ttf") format('truetype');
}
@font-face {
  font-family: "DM Serif Display", serif;
  src: url("./font/DMSerifDisplay-Italic.ttf") format('truetype');
}

@font-face {
  font-family: "Avenir";
  src: url("./font/AvenirLight.ttf") format('truetype');
}
/* font-family: "DM Serif Display", serif !important; */
/* font-family: "IBM Plex Sans Thai", sans-serif; */

@font-face {
  font-family: "AvenirBlack";
  src: url("./font/AvenirBlack.ttf") format('truetype');
}
@font-face {
  font-family: "AvenirMedium";
  src: url("./font/AvenirMedium.ttf") format('truetype');
}
@font-face {
  font-family: "AvenirMediumOblique";
  src: url("./font/AvenirMediumOblique.ttf") format('truetype');
}
@font-face {
  font-family: "HelvethaicaBlk";
  src: url("./font/HelvethaicaBlk.ttf") format('truetype');
}
@font-face {
  font-family: "DBHelvethaicaMonXBd";
  src: url("./font/DBHelvethaicaMonXBd.ttf") format('truetype');
}
* {
  font-family: "Roboto-Light";
  scroll-behavior: smooth;
  /* font-family: 'Prompt', sans-serif; */
}

.container {
  max-width: 1200px;
}
/* PREV AND NEXT BUTTON OF CAROUSEL */
#btn-prev {
  background: rgba(255, 145, 196, 0.8);
  border-radius: 0;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  padding: 3px 8px 3px 0;
}
#btn-next {
  background: rgba(255, 145, 196, 0.8);
  border-radius: 0;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  padding: 3px 0 3px 8px;
}
#btn-prev i.v-icon {
  font-size: 48px;
  margin-right: -15px;
}
#btn-next i.v-icon {
  font-size: 48px;
  margin-left: -15px;
}
.v-slide-group__prev .v-btn__content {
  font-family: "AvenirMedium";
}
.v-slide-group__next .v-btn__content {
  font-family: "AvenirMedium";
}
/* PREV AND NEXT BUTTON OF CAROUSEL */

#navigation-mobile {
  display: none;
}

/* selected-sort */
.search-sort-select select {
  background: rgb(195, 213, 245);
  padding: 0 20px;
  font-size: 24px;
  color: #7789c5;
  width: 250px;
  font-family: "AvenirMedium";
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.search-sort-select .select {
  position: relative;
  background: #fff;
  width: 100%;
}
.search-sort-select .select::after {
  content: "\276F";
  transform: rotate(90deg);
  font-size: 17px;
  position: absolute;
  color: #7789c5;
  top: 2px;
  right: -15px;
  padding: 3px 13.6px;
  background: rgb(195, 213, 245);
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.search-min-price {
  font-family: "AvenirMedium";
  color: #fff;
}
.search-max-price {
  font-family: "AvenirMedium";
  color: #fff;
}
.search-total {
  background: rgb(255, 145, 196);
  padding: 0 12px;
  border-radius: 30px;
  color: #fff;
  font-size: 24px;
  font-family: "AvenirMedium";
}
.search-text {
  font-family: "DBHelvethaicaMonXBd";
  font-style: italic;
  display: flex;
  align-items: center;
  font-size: 80px;
  color: #fff;
}
.search-text h1 {
  font-family: "DBHelvethaicaMonXBd";
  font-style: italic;
  font-size: 80px;
  color: #ffffcc;
}
@media screen and (max-width: 550px) {
  .search-text {
    font-size: 40px;
  }
  .search-text h1 {
    font-size: 40px;
  }
  .search-total {
    padding: 0 12px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
  }
  #nevigation-pc {
    display: none;
  }
  #navigation-mobile {
    display: block;
  }
  .search-sort-select select {
    background: rgb(195, 213, 245);
    padding: 0 6px;
    font-size: 16px;
    color: #7789c5;
    width: 140px;
  }
  .search-sort-select .select::after {
    content: "\276F";
    transform: rotate(90deg);
    font-size: 12px;
    position: absolute;
    color: #7789c5;
    top: 0;
    right: -15px;
    padding: 3px 9px;
    background: rgb(195, 213, 245);
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
  }
}
