<template>
  <div>
    <v-snackbar
      :timeout="timeout"
      v-model="snackbarAddItemToCart"
      color="rgba(0,0,0,0.5)"
      centered
      style="margin-top: 100px"
    >
      <v-col
        cols="12"
        style="display: flex; justify-content: center; align-items: center"
      >
        <v-icon class="mdi-48px" color="success">mdi-check-circle</v-icon>
      </v-col>
      <h5 style="color: #fff; font-weight: 400; text-align: center">
        {{ textalert }}
      </h5>
    </v-snackbar>
    <v-snackbar
      :timeout="timeout"
      v-model="snackbarAddItemError"
      color="rgba(0,0,0,0.5)"
      centered
      style="margin-top: 100px"
    >
      <v-col
        cols="12"
        style="display: flex; justify-content: center; align-items: center"
      >
        <v-icon class="mdi-48px" color="red">mdi-close-circle</v-icon>
      </v-col>
      <h5 style="color: #fff; font-weight: 400; text-align: center">
        {{ textalert }}
      </h5>
    </v-snackbar>
    <v-col id="may-also-like" class="pa-0 mt-11 mb-11">
      <h2>You May also Like.</h2>
      <v-slide-group
        v-model="model"
        show-arrows
        prev-icon="< PREV"
        next-icon="NEXT >"
        id="slide-group-new-arrival"
      >
        <template v-slot:prev>
          <v-btn id="btn-prev-may" style="z-index: 7"
            ><v-icon>mdi-chevron-left</v-icon>PREV</v-btn
          >
        </template>
        <template v-slot:next>
          <v-btn id="btn-next-may"
            >NEXT <v-icon>mdi-chevron-right</v-icon></v-btn
          >
        </template>
        <v-slide-item v-for="(item, i) in dataPicked" :key="i">
          <v-card id="card-may-also-like">
            <!-- <v-img
              :src="`/api/v1/product/picture-product/${item.image}`"
            ></v-img> -->
            <nuxtLink
              :to="`/product/${item.code_name}`"
              style="position: reletive"
            >
              <v-img
                v-if="item.imageProductOther.image"
                :src="`/api/v1/product-other/${item.imageProductOther.image}`"
              ></v-img>
              <v-img
                v-else
                :src="`/api/v1/product/picture-product/${item.image}`"
              ></v-img>
              <span
                v-if="item.discount_promotion"
                style="
                  position: absolute;
                  top: 30px;
                  color: #fff;
                  font-weight: 600;
                  font-size: 14px;
                  font-style: italic;
                  left: -6px;
                  background: #ff3b74;
                  padding: 3px 5px;
                  border-radius: 0 20px 20px 0;
                  z-index: 10;
                  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
                "
                >SALE {{ item.discount_promotion }}%</span
              >
            </nuxtLink>
            <!-- <img
              v-if="item.newarrival_status"
              style="position: absolute; top: 0; left: 0; width: 70px"
              src="~assets/img/new/new-arrivals-tag.png"
            /> -->
            <span
              v-if="item.message"
              style="
                font-size: 16px;
                color: #fff;
                margin-left: 3px;
                position: absolute;
                right: 0;
                top: 15px;
                background: red;
                padding: 1px 3px 1px 2px;
              "
            >
              {{ item.message }}</span
            >
            <v-divider color="#7789c5"></v-divider>
            <v-col class="footer-you-may">
              <v-container>
                <v-row>
                  <h3 v-if="item.name.length >= 18">
                    {{ item.name.slice(0, 18) + "..." }}
                  </h3>
                  <h3 v-else>{{ item.name }}</h3>
                  <v-col cols="12" class="pa-0">
                    <span
                      v-if="item.description.length >= 24"
                      class="description-product"
                      >{{ item.description.slice(0, 24) + "..." }}</span
                    >
                    <span v-else class="description-product">{{
                      item.description
                    }}</span>
                  </v-col>
                  <v-row v-if="item.color != 0 || item.size != 0">
                    <v-col v-if="item.color != 0" cols="6" id="selectColor">
                      <div class="select">
                        <select
                          v-model="item.chooseColor"
                          @change="pickedColor(item)"
                        >
                          <option value="0">#เลือกสีสินค้า</option>
                          <option
                            v-for="(color, i) in item.color"
                            :key="i"
                            :value="color"
                          >
                            {{ color }}
                          </option>
                        </select>
                      </div>
                    </v-col>
                    <v-col v-if="item.size != 0" cols="6" id="selectColor">
                      <div class="select">
                        <select
                          v-model="item.chooseSize"
                          @change="pickedColor(item)"
                        >
                          <option value="0">#เลือกไซส์สินค้า</option>
                          <option
                            v-for="(size, i) in item.size"
                            :key="i"
                            :value="size"
                          >
                            {{ size }}
                          </option>
                        </select>
                      </div>
                    </v-col>
                  </v-row>
                  <v-row v-else class="mt-3">
                    <v-col class="mt-6"> </v-col>
                  </v-row>
                  <v-col cols="12">
                    <v-row>
                      <v-col
                        v-if="item.priceOther"
                        id="bestsellerprice"
                        cols="8"
                        class="pa-0"
                      >
                        <span style="position: relative">
                          <strong v-if="item.discount_promotion"
                            >{{
                              item.priceOther -
                              (item.priceOther * item.discount_promotion) / 100
                            }}.-</strong
                          >
                          <strong v-else-if="item.discountOther"
                            >{{
                              item.priceOther - item.discountOther
                            }}.-</strong
                          >
                          <strong v-else>{{ item.priceOther }}.-</strong>
                          <span class="price-sale" style="position: absolute">
                            <span
                              class="line-price-sale"
                              style="color: rgba(0, 0, 0, 0.5)"
                              v-if="item.discountOther >= 1"
                              >{{ parseInt(item.priceOther) }}.-</span
                            ></span
                          ></span
                        >
                      </v-col>
                      <v-col v-else id="bestsellerprice" cols="8" class="pa-0">
                        <span style="position: relative">
                          <strong v-if="item.discount_promotion"
                            >{{
                              item.price -
                              (item.price * item.discount_promotion) / 100
                            }}.-</strong
                          >
                          <strong v-else-if="item.discount"
                            >{{ item.price - item.discount }}.-</strong
                          >
                          <strong v-else>{{ item.price }}.-</strong>
                          <span class="price-sale" style="position: absolute">
                            <span
                              class="line-price-sale"
                              style="color: rgba(0, 0, 0, 0.5)"
                              v-if="item.discount >= 1"
                              >{{ parseInt(item.price) }}.-</span
                            ></span
                          ></span
                        >
                      </v-col>
                      <v-col
                        cols="4"
                        class="pa-0 d-flex justify-end align-center"
                        id="icon-bestseller"
                      >
                        <v-btn
                          icon
                          @click="pickedFavorite(item)"
                          id="hert-favorite"
                          ><img
                            v-if="item.statusFavorite"
                            width="20px"
                            src="~assets/img/pink-heart.png"
                            alt="" />

                          <img
                            v-else
                            width="20px"
                            src="~assets/img/icon-heart.png"
                            alt=""
                        /></v-btn>
                        <v-btn
                          :disabled="item.activeAddtoCart"
                          @click="addItemToCart(item)"
                          icon
                          id="hert-favorite"
                          ><img
                            src="~assets/img/icon-cart.png"
                            width="20px"
                            alt=""
                        /></v-btn>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-container>
            </v-col>
            <v-card-text> </v-card-text>
          </v-card>
        </v-slide-item>
      </v-slide-group>
    </v-col>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      timeout: 1000,
      textalert: "",
      snackbarAddItemToCart: false,
      snackbarAddItemError: false,
      model: null,
      dataPicked: [],
    };
  },
  mounted() {
    this.getAlsoLike();
  },
  methods: {
    ...mapActions({
      getYouMayAlsoLike: "you_may_also_like/getYouMayAlsoLike",
      addItemNewarrivalToCart: "cart/addItemNewarrivalToCart",
      dataProductOther: "product/dataProductOther",
      favoriteProduct: "cart/favoriteProduct",
      favoriteProductPicked: "cart/favoriteProductPicked",
    }),
    async pickedFavorite(item) {
      if (this.$auth.loggedIn) {
        // console.log(item);
        const data = {
          customer_id: this.$auth.user.data.id,
          product_id: item.id,
        };
        const res = await this.favoriteProduct(data);
        if (res.success) {
          this.getAlsoLike();
        }
      } else {
        this.$router.push("/login");
      }
    },
    async addItemToCart(item) {
      if (this.$auth.loggedIn) {
        if (item.product_other_id) {
          if (item.color == 0) {
            if (item.chooseSize == 0) {
              this.snackbarAddItemError = true;
              this.textalert = "กรุณาเลือกไซส์สินค้าก่อน";
            } else {
              const data = {
                customer_id: this.$auth.user.data.id,
                product_id: item.product_id,
                size: item.chooseSize,
                quantity: 1,
              };
              const res = await this.addItemNewarrivalToCart(data);
              if (res.success) {
                this.snackbarAddItemToCart = true;
                this.textalert = res.message;
              } else {
                this.snackbarAddItemError = true;
                this.textalert = res.message;
              }
            }
          } else if (item.color.length >= 1) {
            if (item.chooseColor == 0) {
              this.snackbarAddItemError = true;
              this.textalert = "กรุณาเลือกสีสินค้าก่อน";
            } else {
              if (item.size != 0) {
                if (item.chooseSize == 0) {
                  this.snackbarAddItemError = true;
                  this.textalert = "กรุณาเลือกไซส์สินค้าก่อน";
                } else {
                  const data = {
                    customer_id: this.$auth.user.data.id,
                    product_id: item.product_id,
                    color: item.chooseColor,
                    size: item.chooseSize,
                    quantity: 1,
                  };
                  const res = await this.addItemNewarrivalToCart(data);
                  if (res.success) {
                    this.snackbarAddItemToCart = true;
                    this.textalert = res.message;
                  } else {
                    this.snackbarAddItemError = true;
                    this.textalert = res.message;
                  }
                }
              } else {
                const data = {
                  customer_id: this.$auth.user.data.id,
                  product_id: item.product_id,
                  color: item.chooseColor,
                  quantity: 1,
                };
                const res = await this.addItemNewarrivalToCart(data);
                if (res.success) {
                  this.snackbarAddItemToCart = true;
                  this.textalert = res.message;
                } else {
                  this.snackbarAddItemError = true;
                  this.textalert = res.message;
                }
              }
            }
          }
        } else {
          const data = {
            customer_id: this.$auth.user.data.id,
            product_id: item.product_id,
            quantity: 1,
          };
          const res = await this.addItemNewarrivalToCart(data);
          if (res.success) {
            this.snackbarAddItemToCart = true;
            this.textalert = res.message;
          } else {
            this.snackbarAddItemError = true;
            this.textalert = res.message;
          }
        }
      } else {
        this.$router.push("/login");
      }
    },
    async pickedColor(data) {
      //Keep data in dataForSend
      if (data.chooseColor != 0) {
        if (data.chooseColor) {
          data.dataForSend.color = data.chooseColor;
          data.dataForSend.product_id = data.product_id;
        }
      } else {
        data.dataForSend.color = 0;
        data.priceOther = null;
        data.discountOther = null;
        data.discount_promotion = null;
        data.activeAddtoCart = false;
        data.message = null;
        data.imageProductOther = {};
      }
      if (data.chooseSize != 0) {
        if (data.chooseSize) {
          data.dataForSend.size = data.chooseSize;
          data.dataForSend.product_id = data.product_id;
        }
      } else {
        data.dataForSend.size = 0;
        data.priceOther = null;
        data.discountOther = null;
        data.discount_promotion = null;
        data.activeAddtoCart = false;
        data.message = null;
        data.imageProductOther = {};
      }
      if (data.dataForSend.color && data.dataForSend.size) {
        data.dataForSend.twin = true;
      }
      /////////////////////////////
      if (data.dataForSend.color) {
        if (data.size[0] != 0) {
          if (data.dataForSend.twin) {
            const res = await this.dataProductOther(data.dataForSend);
            // console.log(res, "11");
            if (res.success) {
              data.priceOther = res.data.price;
              data.discountOther = res.data.discount;
              data.activeAddtoCart = false;
              data.message = null;
              data.imageProductOther = res.image[0];
              if (res.data.discount_promotion) {
                data.discount_promotion = res.data.discount_promotion;
              }
            } else {
              if (res.data) {
                data.priceOther = res.data.price;
                data.discountOther = res.data.discount;
                data.imageProductOther = [];
                data.message = res.msg;
                data.activeAddtoCart = true;
              } else {
                data.imageProductOther = [];
                data.message = res.msg;
                data.activeAddtoCart = true;
              }
            }
          }
        } else {
          const res = await this.dataProductOther(data.dataForSend);
          // console.log(res, "22");
          if (res.success) {
            data.priceOther = res.data.price;
            data.discountOther = res.data.discount;
            data.activeAddtoCart = false;
            data.message = null;
            data.imageProductOther = res.image[0];
            if (res.data.discount_promotion) {
              data.discount_promotion = res.data.discount_promotion;
            }
          } else {
            if (res.data) {
              data.priceOther = res.data.price;
              data.discountOther = res.data.discount;
              data.imageProductOther = [];
              data.message = res.msg;
              data.activeAddtoCart = true;
            } else {
              data.imageProductOther = [];
              data.message = res.msg;
              data.activeAddtoCart = true;
            }
          }
        }
      } else if (data.dataForSend.size) {
        if (data.color[0] != 0) {
          // console.log(this.optionColor);
        } else {
          const res = await this.dataProductOther(data.dataForSend);
          // console.log(res, "33");
          if (res.success) {
            data.priceOther = res.data.price;
            data.discountOther = res.data.discount;
            data.activeAddtoCart = false;
            data.message = null;
            data.imageProductOther = res.image[0];
            if (res.data.discount_promotion) {
              data.discount_promotion = res.data.discount_promotion;
            }
          } else {
            if (res.data) {
              data.priceOther = res.data.price;
              data.discountOther = res.data.discount;
              data.imageProductOther = [];
              data.message = res.msg;
              data.activeAddtoCart = true;
            } else {
              data.imageProductOther = [];
              data.message = res.msg;
              data.activeAddtoCart = true;
            }
          }
        }
      }
    },
    async getAlsoLike() {
      const res = await this.getYouMayAlsoLike();
      const favorite = await this.favoriteProductPicked();

      res.data.map((edit) => {
        if (this.$auth.loggedIn) {
          for (let a = 0; a < favorite.length; a++) {
            if (edit.id == favorite[a].product_id) {
              edit.statusFavorite = true;
            }
          }
        }
        edit.dataForSend = {
          color: null,
          size: null,
          twin: false,
          product_id: 0,
        };
        edit.activeAddtoCart = false;
        edit.priceOther = null;
        edit.discountOther = null;
        edit.imageProductOther = {};
        edit.message = null;
        edit.chooseColor = 0;
        edit.chooseSize = 0;
        edit.colorAndSize = [];
        edit.color = [];
        edit.size = [];
        edit.sizeTest = [];
        edit.product_other_id = null;
        for (let i = 0; i < res.product_other.length; i++) {
          if (edit.product_id == res.product_other[i].product_id) {
            edit.product_other_id = res.product_other[i].id;
            if (res.product_other[i].color) {
              if (edit.color.length >= 1) {
                for (let x = 0; x < edit.color.length; x++) {
                  if (edit.color[x] == res.product_other[i].color) {
                  } else {
                    let found = edit.color.indexOf(res.product_other[i].color);
                    edit.color.splice(found, found);
                    edit.color.push(res.product_other[i].color);
                  }
                }
              } else {
                edit.color.push(res.product_other[i].color);
              }
            }
          }
        }
        for (let i = 0; i < res.product_other.length; i++) {
          if (edit.product_id == res.product_other[i].product_id) {
            if (res.product_other[i].size) {
              if (edit.sizeTest.length >= 1) {
                if (edit.sizeTest != res.product_other[i].size) {
                  let found = edit.sizeTest.indexOf(res.product_other[i].size);
                  edit.sizeTest.splice(found, found);
                  edit.sizeTest.push(res.product_other[i].size);
                } else {
                }
              } else {
                edit.sizeTest.push(res.product_other[i].size);
              }
            }
          }
        }
        edit.size = [...new Set(edit.sizeTest)];
      });
      this.dataPicked = res.data;
      // console.log(this.dataPicked);
    },
  },
};
</script>

<style>
#slide-group-new-arrival.v-slide-group {
  height: 100%;
}
.footer-you-may {
  height: 100px;
}
#selectColor select {
  width: 100%;
  border: 1px solid #7789c5;
  color: #7789c5;
  font-size: 15px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
#selectColor .select {
  position: relative;
  background: #fff;
  width: 100%;
}

#selectColor .select::after {
  content: "\276F";
  transform: rotate(90deg);
  font-size: 14px;
  position: absolute;
  color: #fff;
  top: 0;
  right: -10px;
  /* margin-top: 0.5667px; */
  padding: 2px 8.9px;
  background: #7789c5;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
/* You May also like CSS */
#card-may-also-like .v-image__image {
  height: 100%;
  width: 100%;
}
#card-may-also-like {
  width: 275px;
  height: 420px;
  margin: 0 10px 0 10px;
  border-radius: 0 0 20px 20px;
  border: 1px solid #7789c5;
  position: relative;
}

#card-may-also-like h3 {
  color: #7789c5;
}
#card-may-also-like span {
  color: #7789c5;
}
#card-may-also-like strong {
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  color: #ff5065;
  font-family: "AvenirMediumOblique";
}
/* You May also like CSS */
#may-also-like h2 {
  font-family: "DM Serif Display" !important;
  font-style: italic;
  color: #ffffcc;
  font-size: 5em;
}
#btn-prev-may {
  background: rgba(255, 145, 196, 0.8);
  border-radius: 0;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  padding: 3px 8px 3px 0;
}
#btn-next-may {
  background: rgba(255, 145, 196, 0.8);
  border-radius: 0;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  padding: 3px 0 3px 8px;
}
@media screen and (max-width: 1250px) {
  #btn-prev-may i.v-icon {
    font-size: 24px;
    margin-right: -5px;
  }
  #btn-next-may i.v-icon {
    font-size: 24px;
    margin-left: -5px;
  }
  #btn-next-may {
    background: rgba(255, 145, 196, 0.8);
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 1px 0 1px 8px;
    width: 50px;
    height: 30px;
  }
  #btn-prev-may {
    background: rgba(255, 145, 196, 0.8);
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 1px 8px 1px 0;
    width: 50px;
    height: 30px;
  }
}
@media screen and (max-width: 540px) {
  #may-also-like h2 {
    font-style: italic;
    color: #ffffcc;
    font-size: 2.5em;
  }
  #selectColor {
    padding-left: 5px;
  }
  #selectColor select {
    width: 95%;
    border: 1px solid #7789c5;
    color: #7789c5;
    font-size: 10px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
  }
  #selectColor .select {
    position: relative;
    background: transparent;
    width: 100%;
  }

  #selectColor .select::after {
    content: "\276F";
    transform: rotate(90deg);
    font-size: 10px;
    position: absolute;
    color: #fff;
    top: 0;
    right: -10px;
    margin-top: 5.5px;
    padding: 0px 6px;
    background: #7789c5;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
  }
}

@media screen and (max-width: 390px) {
  #card-may-also-like {
    width: 240px;
    height: 380px;
    margin: 0 10px 0 10px;
    border-radius: 0 0 20px 20px;
    border: 1px solid #7789c5;
    position: relative;
  }
}
</style>
