<template>
    <div>
       <div style="background:#7789c5;width:100%;height:100vh;display:flex;justify-content:center;align-items:center;">
            <h1 style="color:#fff;">กรุณารอสักครู่..........</h1>
       </div>
    </div>
</template>