<template>
  <v-col id="address-checkout" ref="address-checkout">
    <v-snackbar
      :timeout="timeout"
      v-model="snackbarAddItemToCart"
      color="rgba(0,0,0,0.5)"
      centered
      style="margin-top: 100px"
    >
      <v-col
        cols="12"
        style="display: flex; justify-content: center; align-items: center"
      >
        <v-icon class="mdi-48px" color="success">mdi-check-circle</v-icon>
      </v-col>
      <h5 style="color: #fff; font-weight: 400; text-align: center">
        {{ textalert }}
      </h5>
    </v-snackbar>
    <v-col cols="12" class="second-order"
      ><span class="active">2</span>
      <h2 class="text-second">Address</h2>
    </v-col>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-row>
        <v-col cols="12" lg="6">
          <v-col
            cols="12"
            style="padding: 0; border: 1px solid #7789c5; background: #fff"
          >
            <v-row style="width: 100%">
              <v-col cols="6" lg="4" class="sign mt-6">
                <h4 style="color: #fff">ที่อยู่ในการจัดส่ง</h4>
              </v-col>
              <v-col
                cols="6"
                lg="8"
                class="d-flex align-center justify-end alin"
              >
                <v-btn
                  @click="dialogAddress = true"
                  style="
                    color: #fff;
                    background: #7789c5;
                    border-radius: 0;
                    font-size: 16px;
                  "
                  >เพิ่มที่อยู่</v-btn
                >
              </v-col>
            </v-row>
            <v-col>
              <v-dialog v-model="dialogAddress" width="500">
                <v-card
                  id="add-address"
                  style="border: 2px solid #7789c5; border-radius: 0"
                >
                  <v-col></v-col>
                  <v-col cols="6" lg="4" class="sign" style="">
                    <h4 style="color: #fff; font-size: 24px">เพิ่มที่อยู่</h4>
                  </v-col>
                  <v-form ref="formAddAddress" v-model="valid" lazy-validation>
                    <v-card-text>
                      <v-col cols="12" class="pb-0 pt-0" id="fullname-address">
                        <v-text-field
                          label="ชื่อ - นามสกุล"
                          v-model="address.fullname"
                          required
                          :rules="nameRules"
                          color="#7789c5"
                        ></v-text-field
                      ></v-col>
                      <v-col cols="12" class="pb-0 pt-0" id="fullname-address">
                        <v-text-field
                          v-model="address.address"
                          required
                          :rules="addressRules"
                          label="ที่อยู่"
                          color="#7789c5"
                        ></v-text-field
                      ></v-col>
                      <v-col cols="12" class="pb-0 pt-0" id="fullname-address">
                        <v-row>
                          <v-col cols="12" lg="6">
                            <v-text-field
                              v-model="address.parish"
                              required
                              :rules="parishRulres"
                              label="ตำบล/แขวง"
                              color="#7789c5"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" lg="6">
                            <v-text-field
                              v-model="address.district"
                              required
                              :rules="districtRulres"
                              label="อำเภอ/เขต"
                              color="#7789c5"
                            ></v-text-field> </v-col></v-row
                      ></v-col>
                      <v-col cols="12" class="pb-0 pt-0">
                        <v-row>
                          <v-col cols="12" lg="6" id="select-province">
                            <h4>จังหวัด</h4>
                            <div class="select">
                              <select
                                v-model="address.province"
                                id="choose-color"
                              >
                                <option
                                  v-for="(item, i) in province"
                                  :key="i"
                                  :value="item.name_th"
                                >
                                  {{ item.name_th }}
                                </option>
                              </select>
                            </div>
                          </v-col>
                          <v-col cols="12" lg="6">
                            <v-col>
                              <v-row style="width: 100%"
                                ><v-col class="pa-0" cols="6">
                                  <h4 style="color: #7789c5">รหัสไปรษณี</h4>
                                </v-col>
                                <v-col
                                  class="pa-0"
                                  cols="6"
                                  style="margin-top: -14px"
                                >
                                  <v-text-field
                                    type="number"
                                    v-model="address.zipcode"
                                    required
                                    counter="5"
                                    maxlength="5"
                                    class="inputPrice"
                                    :rules="zipcodeRulres"
                                    color="#7789c5"
                                    style="padding: 0"
                                  ></v-text-field> </v-col
                              ></v-row>
                            </v-col>
                          </v-col>
                        </v-row>
                      </v-col>
                      <v-col cols="12" class="pb-0 pt-0" id="fullname-address">
                        <v-text-field
                          v-model="address.phone_number"
                          required
                          counter="10"
                          class="inputPrice"
                          :rules="phoneRulres"
                          label="เบอร์โทรศัพท์"
                          color="#7789c5"
                        ></v-text-field
                      ></v-col>
                    </v-card-text>
                  </v-form>

                  <v-divider></v-divider>
                  <v-layout justify-center class="mt-2 mb-6">
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        width="100"
                        style="
                          border-radius: 0;
                          background: #7789c5;
                          color: #fff;
                          font-size: 20px;
                          margin-right: 10px;
                        "
                        @click="addAdressNew()"
                      >
                        ยืนยัน
                      </v-btn>
                      <v-btn
                        text
                        style="
                          border-radius: 0;
                          background: #7789c5;
                          color: #fff;
                          font-size: 20px;
                          margin-left: 10px;
                        "
                        width="100"
                        @click="(dialogAddress = false), (address = {})"
                      >
                        ยกเลิก
                      </v-btn>
                    </v-card-actions>
                  </v-layout>
                </v-card>
              </v-dialog>
            </v-col>
            <v-col
              v-for="(item, i) in dataAddress"
              :key="i"
              col="12"
              id="address-picked"
              style=""
              @click="(item.picked = !item.picked), pickedAdress(item)"
            >
              <v-col
                :style="`border: 1px solid ${
                  item.picked ? 'green' : '#ff91c4'
                };position:relative;`"
              >
                <v-checkbox
                  v-model="item.picked"
                  color="green"
                  style="position: absolute; right: 0; top: -15px"
                  @click="(item.picked = !item.picked), pickedAdress(item)"
                ></v-checkbox>
                <h3 style="color: #7789c5">ชื่อ: {{ item.fullname }}</h3>
                <h3 style="color: #7789c5">โทรศัพท์:{{ item.phone_number }}</h3>
                <h3 style="color: #7789c5">
                  ที่อยู่: {{ item.address }} {{ item.parish }}
                  {{ item.district }} {{ item.province }} {{ item.zipcode }}
                </h3>
              </v-col>
            </v-col>
            <v-col cols="12" id="select-slip">
              <h4>สลิปโอนเงิน</h4>
              <v-col
                id="fullname-address"
                style="
                  padding: 0;
                  display: flex;
                  justify-content: flex-start;
                  align-items: flex-start;
                "
              >
                <v-file-input
                  v-model="address.image"
                  @change="onFileChange"
                  show-size
                  accept="image/jpeg"
                  required
                  :rules="imageSlipRulres"
                  label="File input"
                  prepend-icon="mdi-camera"
                  truncate-length="15"
                  style="padding: 0; margin-top: -8px"
                ></v-file-input>
              </v-col>
            </v-col>
            <v-col v-if="imagePreviewURL" class="pa-0">
              <v-col style="display: flex; justify-content: center">
                <img
                  :src="imagePreviewURL"
                  alt=""
                  style="
                    max-width: 100%;
                    width: 250px;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                  "
                />
              </v-col>
            </v-col>
          </v-col>
        </v-col>
        <v-col cols="12" lg="6">
          <v-col class="pa-0">
            <v-col id="head-payment">
              <h4>PAYMENT</h4>
            </v-col>
          </v-col>
          <v-col
            id="body-payment"
            class="pa-0"
            style="background: #fff; border: 1px solid #7789c5"
          >
            <v-col
              style="
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <v-col cols="9" lg="6" class="pa-0">
                <!-- <v-col cols="12" class="pl-0 pr-0" style="display: flex">
                  <v-icon color="#ff91c4" class="mr-2 mdi-36px"
                    >mdi-check-circle-outline</v-icon
                  >
                  <h4>Credit / Debit Card</h4>
                </v-col> -->
                <v-col cols="12" class="pl-0 pr-0">
                  <v-row style="width: 100%">
                    <v-col
                      cols="12"
                      style="display: flex; justify-content: center"
                    >
                      <v-icon
                        @click="showBank = !showBank"
                        color="#ff91c4"
                        class="mr-2 mdi-36px"
                        >mdi-check-circle-outline</v-icon
                      >
                      <h4 @click="showBank = !showBank">Online Banking</h4>
                    </v-col>
                    <v-col
                      v-show="showBank"
                      cols="12"
                      style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                      "
                    >
                      <img
                        src="~assets/img/bank/k-bank.png"
                        width="100px"
                        alt=""
                      />
                      <h5 style="font-size: 16px" class="ml-2">
                        035-1-39972-8
                      </h5>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="12" class="pl-0 pr-0">
                  <v-row style="width: 100%">
                    <v-col
                      cols="12"
                      style="display: flex; justify-content: center"
                    >
                      <v-icon
                        @click="showQRCODE = !showQRCODE"
                        color="#ff91c4"
                        class="mr-2 mdi-36px"
                        >mdi-check-circle-outline</v-icon
                      >
                      <h4 @click="showQRCODE = !showQRCODE">QR Code</h4>
                    </v-col>
                    <v-col
                      v-show="showQRCODE"
                      cols="12"
                      style="display: flex; justify-content: center"
                    >
                      <img src="~assets/img/qrcodetest.jpg" alt="" />
                    </v-col>
                  </v-row>
                </v-col>
              </v-col>
            </v-col>
            <v-divider color="#7789c5" class="mr-6 ml-6"></v-divider>
            <v-col cols="12" class="pl-6 pr-6">
              <v-row>
                <v-col cols="6">
                  <h5>Apply Coupon</h5>
                </v-col>
                <v-col cols="6">
                  <v-icon color="#7789c5" style="float: right"
                    >mdi-greater-than</v-icon
                  >
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" class="pl-6 pr-6">
              <v-row>
                <v-col cols="6">
                  <h5 style="font-size: 1.4em; color: #ff91c4">Cart Totals</h5>
                </v-col>
                <v-col cols="6">
                  <h6 id="summary-price-last-step">
                    {{
                      Intl.NumberFormat("th-TH", {
                        style: "currency",
                        currency: "THB",
                      }).format(allsumaryPrice)
                    }}
                  </h6>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" class="pl-6 pr-6 pt-0 pb-6">
              <v-btn
                @click="placeOrder()"
                style="
                  text-transform: none;
                  background: #7789c5;
                  color: #fff;
                  border-radius: 0;
                  width: 100%;
                "
                >Place Order</v-btn
              >
            </v-col>
          </v-col>
        </v-col>
      </v-row>
    </v-form>
  </v-col>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      showQRCODE: false,
      showBank: false,
      timeout: 1000,
      textalert: "",
      snackbarAddItemToCart: false,
      idAddress: 0,
      max: 5,
      imagePreviewURL: null,
      address: {},
      valid: true,
      dialogAddress: false,
      nameRules: [
        (v) => !!v || "กรุณาใส่ชื่อ - นามสกุล",
        (v) => (v && v.length <= 200) || "ชื่อคุณยาวเกินไป",
      ],
      addressRules: [
        (v) => !!v || "กรุณาใส่บ้านเลขที่,หมู่ หรือชื่อ คอนโด, อพาร์ทเม้นท์",
        (v) => (v && v.length <= 200) || "ยาวเกินไป",
      ],
      parishRulres: [
        (v) => !!v || "กรุณาใส่ตำบล/แขวง",
        (v) => (v && v.length <= 200) || "ยาวเกินไป",
      ],
      districtRulres: [
        (v) => !!v || "กรุณาใส่อำเภอ/เขต",
        (v) => (v && v.length <= 200) || "ยาวเกินไป",
      ],
      zipcodeRulres: [
        (v) => !!v || "กรุณาใส่รหัสไปรษณีย์",
        (v) => (v && v.length <= 5) || "รหัสไปรษณีย์ยาวเกินกำหนด",
        (v) => /^\d+$/.test(v) || "กรุณาใส่รหัสที่ถูกต้อง",
      ],
      phoneRulres: [
        (v) => !!v || "กรุณาใส่เบอร์โทรศัพท์",
        (v) => (v && v.length <= 10) || "เบอร์โทรยาวเกินกำหนด",
        (v) => /^\d+$/.test(v) || "กรุณาใส่รหัสที่ถูกต้อง",
      ],
      emailRules: [
        (v) => !!v || "จำเป็นต้องใส่อีเมล์",
        (v) => /.+@.+\..+/.test(v) || "ใส่รูปแบบ E-mail ให้ถูก",
      ],
      imageSlipRulres: [(v) => !!v || "จำเป็นต้องมีสลิปโอนเงิน"],
      productInCart: null,
      vat: 40,
      allsumaryPrice: null,
      province: [],
      dataAddress: [],
    };
  },
  watch: {
    cartdata: function (val) {
      this.summary();
      // console.log(val);
    },
  },
  computed: {
    ...mapGetters({ cartdata: "cart/cartdata" }),
  },
  mounted() {
    this.summary();
    this.getProvince();
    this.getAddress();
  },
  methods: {
    ...mapActions({
      selectProvince: "checkout/selectProvince",
      callAddress: "checkout/callAddress",
      checkout: "cart/checkout",
      newAdress: "user/newAdress",
    }),
    async addAdressNew() {
      const data = {
        customer_id: this.$auth.user.data.id,
        fullname: this.address.fullname,
        address: this.address.address,
        parish: this.address.parish,
        district: this.address.district,
        province: this.address.province,
        zipcode: this.address.zipcode,
        phone_number: this.address.phone_number,
      };
      if (this.$refs.formAddAddress.validate()) {
        if (!data.province) {
          alert("กรุณาเลือกจังหวัด");
          // console.log(555);
        } else {
          const res = await this.newAdress(data);
          if (res.success) {
            this.snackbarAddItemToCart = true;
            this.textalert = res.message;
            this.address = {};
            this.dialogAddress = false;
            this.getAddress();
          } else {
            this.snackbarAddItemToCart = true;
            this.textalert = res.message;
          }
        }
      } else {
        this.$refs.formAddAddress.validate();
      }
    },
    onFileChange(payload) {
      //const file = payload.target.files[0]; // use it in case of normal HTML input
      const file = payload; // in case vuetify file input
      if (file) {
        this.imagePreviewURL = URL.createObjectURL(file);
        URL.revokeObjectURL(file); // free memory
      } else {
        this.imagePreviewURL = null;
      }
    },
    async getProvince() {
      this.province = await this.selectProvince();
    },
    async getAddress() {
      if (this.$auth.loggedIn) {
        const res = await this.callAddress();
        res.data.map((edit) => {
          edit.picked = false;
        });
        this.dataAddress = res.data;
        // console.log(this.dataAddress);
      }
    },
    pickedAdress(data) {
      if (data.picked) {
        for (let i = 0; i < this.dataAddress.length; i++) {
          if (data.id == this.dataAddress[i].id) {
            this.idAddress = data.id;
          } else {
            this.dataAddress[i].picked = false;
          }
        }
      } else {
        this.idAddress = 0;
        // console.log(this.idAddress);
      }
    },
    async placeOrder() {
      if (this.idAddress) {
        if (this.$refs.form.validate()) {
          const order = [];
          for (let i = 0; i < this.cartdata.length; i++) {
            if (this.cartdata[i].product_other_id) {
              order.push({
                product_id: this.cartdata[i].product_id,
                product_other_id: this.cartdata[i].product_other_id,
                name: this.cartdata[i].name,
                description: this.cartdata[i].description,
                color: this.cartdata[i].colorAndSize[0].color || null,
                size: this.cartdata[i].colorAndSize[0].size || null,
                quantity: this.cartdata[i].quantity,
                price: this.cartdata[i].price_other_product,
                discount: this.cartdata[i].discount_other_product,
                discount_promotion: this.cartdata[i].discount_promotion || null,
                image: this.cartdata[i].image,
              });
            } else {
              order.push({
                product_id: this.cartdata[i].product_id,
                name: this.cartdata[i].name,
                description: this.cartdata[i].description,
                quantity: this.cartdata[i].quantity,
                price: this.cartdata[i].price,
                discount: this.cartdata[i].discount,
                discount_promotion: this.cartdata[i].discount_promotion || null,
                image: this.cartdata[i].image,
              });
            }
          }
          const data = {
            customer_id: this.$auth.user.data.id,
            status: 0,
            address: this.idAddress,
            image: this.address.image,
            product_order: JSON.stringify(order),
            sumPrice: this.allsumaryPrice,
          };
          const res = await this.checkout(data);
          if (res.success) {
            this.$router.push(`/successfuly/${res.order_number}`);
          }
        }
      } else {
        alert("กรุณาเลือกที่อยู่");
      }
    },
    summary() {
      let sum = 0;
      for (let i = 0; i < this.cartdata.length; i++) {
        if (this.cartdata[i].price_other_product) {
          if (this.cartdata[i].discount_promotion) {
            sum +=
              (this.cartdata[i].price_other_product -
                (this.cartdata[i].price_other_product *
                  this.cartdata[i].discount_promotion) /
                  100) *
              this.cartdata[i].quantity;
          } else if (this.cartdata[i].discount_other_product) {
            sum +=
              (this.cartdata[i].price_other_product -
                this.cartdata[i].discount_other_product) *
              this.cartdata[i].quantity;
          } else {
            sum +=
              this.cartdata[i].price_other_product * this.cartdata[i].quantity;
          }
        } else {
          if (this.cartdata[i].discount_promotion) {
            sum +=
              (this.cartdata[i].price -
                (this.cartdata[i].price * this.cartdata[i].discount_promotion) /
                  100) *
              this.cartdata[i].quantity;
          } else if (this.cartdata[i].discount) {
            sum +=
              (this.cartdata[i].price - this.cartdata[i].discount) *
              this.cartdata[i].quantity;
          } else {
            sum += this.cartdata[i].price * this.cartdata[i].quantity;
          }
        }
      }

      this.productInCart = sum;
      this.allsumaryPrice = this.vat + this.productInCart;
    },
  },
};
</script>
<style>
.inputPrice input[type="number"] {
  -moz-appearance: textfield;
}
.inputPrice input::-webkit-outer-spin-button,
.inputPrice input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#summary-price-last-step {
  color: #ff5065;
  float: right;
  font-size: 3em;
  font-family: "AvenirMediumOblique";
  font-weight: 400;
}
#price-sale-last-step {
  float: right;
}
/* #price-and-sale .price {
  font-size: 3em;
  font-style: italic;
  color: #ff5065;
  display: flex;
  justify-content: center;
} */
#price-sale-last-step .price-sale {
  font-style: italic;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
#price-sale-last-step .line-price-sale {
  position: relative;
}
#price-sale-last-step .line-price-sale::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #ff5065;
  position: absolute;
  transform: rotate(-20deg);
  top: 13px;
  left: -5px;
}
#body-payment h4 {
  color: #7789c5;
}
#body-payment h5 {
  font-weight: 400;
}
#head-payment {
  background: #7789c5;
}
#head-payment h4 {
  color: #fff;
}
#select-province {
  display: flex;
}
#select-province h4 {
  color: #7789c5;
  margin-right: 5px;
}
#select-slip h4 {
  color: #7789c5;
  margin-right: 10px;
}
#select-slip {
  display: flex;
}
#select-slip select {
  border: 1px solid #ff91c4;
  width: 120px;
  padding: 2px 0 2px 0;
  text-align: center;
  color: #7789c5;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
#select-slip .select {
  position: relative;
  background: #fff;
  width: 140px;
}
#select-slip .select::after {
  content: "\276F";
  transform: rotate(90deg);
  font-size: 17px;
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  padding: 2px 11px;
  background: #ff91c4;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

/**** *****/
#select-province select {
  width: 160px;
  border: 1px solid #ff91c4;
  padding: 2px 0 2px 0;
  text-align: center;
  color: #7789c5;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
#select-province .select {
  position: relative;
  background: #fff;
  width: 180px;
}
#select-province .select::after {
  content: "\276F";
  transform: rotate(90deg);
  font-size: 17px;
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  /* margin-top:-1px; */
  padding: 2px 9.5px;
  background: #ff91c4;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
#address-checkout h4 {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
#add-address .sign {
  background: #fdc7e0;
  border-radius: 0 40px 40px 0;
}
#address-checkout .sign {
  background: #fdc7e0;
  border-radius: 0 40px 40px 0;
}
#fullname-address .v-label {
  color: #7789c5 !important;
  font-family: "Prompt", sans-serif;
}
#address-checkout .second-order span.active {
  background: #ffb6d8;
  padding: 7px 24px 2px 24px;
  border-radius: 50%;
  font-size: 40px;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: "AvenirBlack";
  font-weight: bold;
}
#address-checkout {
  padding: 0;
}
#address-checkout .second-order {
  display: flex;
  align-items: center;
}
#address-checkout .text-second {
  color: #ffffcc;
  font-size: 80px;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-style: italic;
}
@media screen and (max-width: 550px) {
  #summary-price-last-step {
    color: #ff5065;
    float: right;
    font-size: 1.5em;
    font-family: "AvenirMediumOblique";
    font-weight: 400;
  }
}
</style>
