<template>
  <div>
    <div
      class="bg-review"
      :style="{ backgroundImage: `url(${backgroundImagePath})` }"
    >
      <v-col style="min-height: 160vh">
        <v-container class="pa-0 pt-8" style="margin-top: 100px">
          <h2>
            <span class="review-text">Review</span>
            <v-icon color="#fff">mdi-chevron-left</v-icon>
            <span class="review-name"> {{ dataReview.title }} </span>
          </h2>
          <v-col class="pb-0">
            <v-col cols="12" style="background: rgb(195, 213, 245); padding: 0">
              <v-row style="width: 100%">
                <v-col
                  cols="3"
                  lg="1"
                  sm="1"
                  class="pt-2 pb-2 pl-0 pr-0"
                  style="display: flex; justify-content: center"
                >
                  <img
                    src="~assets/img/accout-normal.png"
                    width="50px"
                    style="background: #fff; border-radius: 5px; padding: 5px"
                    alt=""
                  />
                </v-col>
                <v-col cols="4" lg="6" sm="6" class="pl-0">
                  <h2 v-if="dataReview" class="review-username">
                    {{ dataReview.fullname }}
                  </h2>
                </v-col>
                <v-col cols="5" lg="5" sm="5" class="review-star">
                  <v-rating
                    v-model="dataReview.rating"
                    readonly
                    half-icon="mdi-star-half-full"
                    full-icon="mdi-star"
                    half-increments
                    background-color="#FFD700"
                    color="#FFD700"
                    large
                  ></v-rating>
                </v-col>
              </v-row>
            </v-col>
          </v-col>
          <v-col cols="12" class="pr-0 pl-6 mt-6">
            <v-row style="width: 100%">
              <v-col cols="12" lg="5" sm="5" class="pa-0">
                <img
                  class="img-review"
                  v-if="dataReview"
                  :src="`/api/v1/review-image/${dataReview.image_review}`"
                />
              </v-col>
              <v-col
                cols="12"
                lg="7"
                sm="7"
                class="pl-0 footer-review"
                style="background: #c3d5f5; position: relative"
              >
                <v-col cols="12" class="pa-0" style="display: flex">
                  <span style="position: absolute; bottom: 2px; right: 10px"
                    ><span style="color: #fff">1925 Lovers</span>
                    <v-btn icon
                      ><img src="~assets/img/icon-heart.png" width="30" alt=""
                    /></v-btn>
                  </span>
                </v-col>
                <h3
                  style="
                    position: absolute;
                    top: 30px;
                    left: 0;
                    background: #ffbadb;
                    color: #ffffcc;
                    padding: 0 5px 0 30px;
                  "
                >
                  REVIEW
                </h3>
                <v-col class="mt-10 data-review">
                  <h1 class="text-title-review">{{ dataReview.title }}</h1>
                  <h2
                    class="text-description-short-review"
                    style="word-wrap: break-word"
                  >
                    {{ dataReview.title_sub }}
                  </h2>
                  <span
                    v-if="dataReview.description_review"
                    style="color: #7789c5; word-wrap: break-word"
                    >{{ dataReview.description_review }}</span
                  >
                </v-col>
              </v-col>
            </v-row>
          </v-col>
          <v-col class="pa-2 pt-0">
            <v-col
              cols="12"
              style="background: rgb(195, 213, 245); margin-top: 10px"
            >
              <v-row style="width: 100%">
                <v-col cols="2" lg="2" sm="2" class="pt-2 pb-2 pl-2 pr-0">
                  <nuxt-Link :to="`/product/${dataReview.code_name}`">
                    <img
                      class="review-image-product"
                      :src="`/api/v1/product/picture-product/${dataReview.image}`"
                      style=""
                      alt=""
                    />
                  </nuxt-Link>
                </v-col>
                <v-col
                  v-if="dataReview"
                  cols="6"
                  lg="6"
                  sm="6"
                  class="pl-1 pt-0"
                >
                  <h2 class="review-name-product">
                    {{ dataReview.brands_name }}
                  </h2>
                  <span class="review-pc">
                    <h5
                      class="review-product-name-and-description"
                      style="word-wrap: break-word"
                    >
                      {{ dataReview.name }}
                    </h5>
                    <h5
                      class="review-product-name-and-description"
                      style="word-wrap: break-word"
                    >
                      {{ dataReview.description }}
                    </h5>
                  </span>
                  <span class="review-mobile">
                    <h5
                      class="review-product-name-and-description"
                      style="word-wrap: break-word"
                      v-if="dataReview.description"
                    >
                      <span v-if="dataReview.name.length > 25">{{
                        dataReview.name.slice(0, 25) + "..."
                      }}</span>
                    </h5>
                    <h5
                      class="review-product-name-and-description"
                      style="word-wrap: break-word"
                      v-if="dataReview.description"
                    >
                      <span v-if="dataReview.description.length > 25">{{
                        dataReview.description.slice(0, 25) + "..."
                      }}</span>
                    </h5>
                  </span>
                </v-col>
                <v-col v-else cols="6" lg="6" sm="6" class="pl-1 pt-0">
                  <h2 class="review-name-product">Brands...</h2>
                  <h5 class="review-product-name-and-description">ชื่อ...</h5>
                  <h5 class="review-product-name-and-description">
                    รายละเอียดสินค้า...
                  </h5>
                </v-col>
                <v-col cols="4" lg="4" sm="4" class="review-product-price pr-1">
                  <span v-if="dataReview">
                    <span
                      v-if="dataReview.discount_promotion >= 1"
                      style="position: relative"
                    >
                      <span class="price">
                        {{
                          Intl.NumberFormat("th-TH", {
                            currency: "THB",
                          }).format(
                            dataReview.price -
                              (dataReview.price *
                                dataReview.discount_promotion) /
                                100
                          )
                        }}.-
                      </span>
                      <span class="price-sale" v-if="dataReview"
                        ><span
                          class="line-price-sale"
                          v-if="dataReview.discount_promotion >= 1"
                          >{{
                            Intl.NumberFormat("th-TH", {
                              currency: "THB",
                            }).format(dataReview.price)
                          }}.-</span
                        >
                        <span
                          class="line-price-sale"
                          v-else-if="dataReview.discount >= 1"
                          >{{
                            Intl.NumberFormat("th-TH", {
                              currency: "THB",
                            }).format(dataReview.price)
                          }}.-</span
                        >
                      </span>
                    </span>
                    <span v-else-if="dataReview.discount >= 1">
                      <span class="price">
                        {{
                          Intl.NumberFormat("th-TH", {
                            currency: "THB",
                          }).format(dataReview.price - dataReview.discount)
                        }}.-
                      </span>
                      <span class="price-sale" v-if="dataReview"
                        ><span
                          class="line-price-sale"
                          v-if="dataReview.discount_promotion >= 1"
                          >{{
                            Intl.NumberFormat("th-TH", {
                              currency: "THB",
                            }).format(dataReview.price)
                          }}.-</span
                        >
                        <span
                          class="line-price-sale"
                          v-else-if="dataReview.discount >= 1"
                          >{{
                            Intl.NumberFormat("th-TH", {
                              currency: "THB",
                            }).format(dataReview.price)
                          }}.-</span
                        >
                      </span>
                    </span>

                    <span class="price" v-else>{{ dataReview.price }}.-</span>
                  </span>
                </v-col>
              </v-row>
            </v-col>
          </v-col>
          <MayAlsoLike />
        </v-container>
      </v-col>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";
import MayAlsoLike from "@/components/product/mayAlsoLike";
import backgroundImagePath from "~/assets/img/bg-review.jpg";
export default {
  components: {
    MayAlsoLike,
    naveBar: "",
  },
  data() {
    return {
      backgroundImagePath,
      dataReview: {},
      fullname: "",
    };
  },
  watch: {},
  mounted() {
    // this.setDataReview();
    this.getDataReviewSingle();
  },
  methods: {
    ...mapActions({
      getReviewCustommerSingle: "review-content/getReviewCustommerSingle",
    }),
    async getDataReviewSingle() {
      const data = { code_name: this.$route.params.name };
      const res = await this.getReviewCustommerSingle(data);
      this.dataReview = res;
      // console.log(this.dataReview.description_review.length);
    },
  },
};
</script>
<style>
#logo-main {
  display: none;
}
#logo-switch {
  display: block;
}
#toggle-icon {
  display: none;
}
#toggle-icon-fff {
  display: block;
}

#searchMobile .v-input input {
  color: #fff !important;
  padding: 0;
  margin-bottom: -15px;
}
#navBarSeoulgoodMobile {
  background: rgba(0, 0, 0, 0.3);
  height: 70px;
  top: 0;
  z-index: 10;
  position: fixed;
}
#search label {
  left: 40% !important;
  color: #fff !important;
  font-family: "Avenir" !important;
}
#search .v-input__slot:before {
  border-color: #fff;
}
#search .active .v-input__slot:before {
  border-color: #ffffff !important;
}
#search .v-input__icon button {
  color: #fff;
}
#search .active .v-input__icon button {
  border-color: #ffffff !important;
}
#searchMobile .iconsearch {
  color: #fff;
  margin-top: 15px;
  margin-left: 10px;
}
#searchMobile .active .iconsearch {
  color: #ffff;
}
#icon-nevigation {
  display: none;
}
#icon-nevigation-switch {
  margin-top: -5px;
  display: block;
}
#searchMobile label {
  font-size: 12px !important;
  margin-left: 40%;
  color: #fff !important;
  font-family: "Avenir" !important;
}
#searchMobile .active .v-input__slot:before {
  border-color: #fff;
}
.img-review {
  width: 100%;
}
.text-title-review {
  color: #7789c5;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 500;
}
.text-description-short-review {
  color: #fff;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 500;
}
.bg-review {
  background-size: 100% 100%;
}
.review-text {
  font-size: 2em;
  color: #fff;
  font-family: "DM Serif Display";
  font-style: italic;
}
.review-name {
  font-size: 1.2em;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
#navBarSeoulgood {
  background: rgba(0, 0, 0, 0.3);
  height: 90px;
  top: 0;
  z-index: 50;
  position: fixed;
}
#logo-seoulgood img {
  display: none;
}
#logo-seoulgood .img-switch {
  display: none;
}
#logo-seoulgood .img-switch {
  display: block;
}
#toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #fff;
  transition: 0.2s;
}
#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(10px);
  transition: 0.2s;
}
#cart .switch {
  display: block;
}
#cart .main {
  display: none;
}
#account img {
  display: none;
}
#account .switch {
  display: block;
}
#favorite img {
  display: none;
}
#favorite .switch {
  display: block;
}
#search {
  color: #ffffff !important;
}
#search .v-input__slot:before {
  border-color: #ffffff !important;
}
#search .v-input__icon button {
  border-color: #ffffff !important;
}
#search .iconsearch {
  color: #ffff;
}
#search .v-input__icon button {
  color: #fff;
}
#search label {
  left: 40% !important;
  color: #fff !important;
  font-family: "Avenir" !important;
}
.review-image-product {
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
}
.review-product-name-and-description {
  font-size: 16px;
}
.review-name-product {
  font-size: 36px;
  color: #fff;
  font-family: "DBHelvethaicaMonXBd";
  margin-bottom: -10px;
}
@media screen and (min-width: 1024px) {
  .img-review {
    width: 100%;
  }
  .footer-review {
    margin-bottom: 7px;
  }
  .review-image-product {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
  }
}
@media screen and (max-width: 970px) {
  .review-image-product {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
  }
}
@media screen and (max-width: 740px) {
  .review-image-product {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    width: 80px;
  }
}
@media screen and (max-width: 800px) {
  .img-review {
    width: 100%;
    height: 100%;
  }
}
.review-username {
  color: #ffffcc;
  font-family: "AvenirBlack";
}
.review-star {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
}
.data-review {
  padding: 30px;
}
.review-product-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.review-product-price .price {
  font-size: 3em;
  font-style: italic;
  color: #ff5065;
}
.review-product-price .line-price-sale::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ff5065;
  position: absolute;
  transform: rotate(-20deg);
  top: 10px;
  left: -5px;
}
.review-product-price .price-sale {
  position: absolute;
  right: -30px;
  font-style: italic;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
.review-mobile {
  display: none;
}

@media screen and (max-width: 550px) {
  .review-name-product {
    margin-top: -10px;
    margin-left: 3px;
  }
  .review-mobile {
    display: block;
  }
  .review-pc {
    display: none;
  }
  .review-product-name-and-description {
    font-size: 10px;
    margin-left: 3px;
  }
  .review-product-price .price {
    font-size: 1.5em;
    font-style: italic;
    color: #ff5065;
  }
  .review-product-price .line-price-sale::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #ff5065;
    position: absolute;
    transform: rotate(-20deg);
    top: 10px;
    left: -5px;
  }
  .review-product-price .price-sale {
    position: absolute;
    right: -30px;
    font-style: italic;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
  }
  .review-image-product {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    width: 50px;
  }
  .data-review {
    padding: 10px;
  }
  .review-star {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 5px;
  }
  .review-star .v-icon {
    font-size: 26px !important;
    padding: 0;
  }
  .review-username {
    color: #ffffcc;
    font-family: "AvenirBlack";
    font-size: 16px;
  }
  .bg-review {
    background-size: 100% 100%;
  }
  .review-text {
    font-size: 1.5em;
    color: #fff;
    font-family: "DM Serif Display";
    font-style: italic;
  }
  .review-name {
    font-size: 1em;
    color: #fff;
    font-family: "Roboto", sans-serif;
  }
}
</style>