<template>
  <div>
    <v-col
      style="
        min-height: 100vh;
        background: #7789c5;
        display: flex;
        justify-content: center;
      "
    >
      <v-container class="review-container">
        <h2 class="review-text-all">Review</h2>
        <v-col cols="12" class="pa-0">
          <v-btn
            v-if="$auth.loggedIn"
            to="/review/write_review"
            style="background: #ffbadb"
            class="review-write-review"
            ><img
              src="~assets/img/review/pencil-review.png"
              width="30px"
              style="margin-left: -10px"
              alt="review-seoulgoods"
            />
            Write a Review</v-btn
          >
          <v-btn
            v-else
            to="/login"
            style="background: #ffbadb"
            class="review-write-review"
            ><img
              src="~assets/img/review/pencil-review.png"
              width="30px"
              style="margin-left: -10px"
              alt="review-seoulgoods"
            />
            Write a Review</v-btn
          >
        </v-col>
        <v-row class="mt-1">
          <v-col
            v-for="(item, i) in dataReview"
            :key="i"
            cols="12"
            lg="4"
            sm="4"
          >
            <div style="height: 300px">
              <nuxt-Link :to="`/review/${item.code_name}`">
                <img
                  :src="`/api/v1/review-image/${item.image}`"
                  width="100%"
                  height="300px"
                  alt=""
                />
              </nuxt-Link>
            </div>
            <div
              style="
                height: 200px;
                background: rgb(195, 213, 245);
                position: relative;
              "
            >
              <span
                style="
                  position: absolute;
                  top: 15px;
                  left: 0;
                  background: #ffbadb;
                  color: #ffffcc;
                  padding: 0 5px 0 30px;
                  font-weight: bold;
                "
              >
                REVIEW
              </span>
              <div
                class="review-description"
                style="padding-top: 40px; text-align: center"
              >
                <h2 v-if="item.title.length <= 18">
                  {{ item.title }}
                </h2>
                <h2 v-if="item.title.length >= 19">
                  {{ item.title.slice(0, 19) + "..." }}
                </h2>
                <h3 v-if="item.title_sub.length <= 25">
                  {{ item.title_sub }}
                </h3>
                <h3 v-if="item.title_sub.length >= 26">
                  {{ item.title_sub.slice(0, 25) + "..." }}
                </h3>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-col>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      dataReview: [],
    };
  },
  mounted() {
    this.setDataReview();
  },
  methods: {
    ...mapActions({
      getReviewCustomer: "review-content/getReviewCustomer",
    }),
    async setDataReview() {
      const res = await this.getReviewCustomer();
      this.dataReview = res;
      // console.log(res);
      if (this.dataReview.length > 6) {
        this.dataReview.length = 6;
      }
    },
    favorite() {},
  },
};
</script>
<style>
.review-description h2 {
  margin-bottom: 5px;
  font-size: 24px;
  color: #7789c5;
}
.review-description h3 {
  margin-top: 10px;
  font-size: 24px;
  color: #fff;
}
.review-container {
  margin-top: 100px;
}
.review-text-all {
  text-align: center;
  color: #fff;
  font-size: 100px;
  font-style: italic;
  font-family: "DM Serif Display" !important;
}
.review-write-review {
  border-radius: 0;
}
.review-write-review .v-btn__content {
  color: #fff;
  font-family: "Roboto-Light";
  font-weight: bold;
  text-transform: none;
}
</style>