<template>
  <div>
    <v-snackbar
      :timeout="timeout"
      v-model="snackWrite"
      color="rgba(0,0,0,0.5)"
      centered
      style="margin-top: 100px"
    >
      <v-col
        cols="12"
        style="display: flex; justify-content: center; align-items: center"
      >
        <v-icon class="mdi-48px" color="success">mdi-check-circle</v-icon>
      </v-col>
      <h5 style="color: #fff; font-weight: 400; text-align: center">
        {{ textalert }}
      </h5>
    </v-snackbar>
    <v-col
      style="
        min-height: 100vh;
        background: #7789c5;
        display: flex;
        justify-content: center;
      "
    >
      <v-container class="container-wraite">
        <v-form ref="form">
          <div style="display: flex; align-items: flex-end">
            <h2 class="review-text-write">
              Review
              <v-icon
                color="#fff"
                style="margin-top: 15px; margin-left: -15px; font-size: 30px"
                >mdi-chevron-left</v-icon
              >
              <span style="font-size: 16px; margin-left: -20px"
                >#Write a review</span
              >
            </h2>
          </div>
          <v-col cols="12" style="background: rgb(195, 213, 245); padding: 0">
            <v-row style="width: 100%">
              <v-col
                cols="3"
                lg="1"
                sm="1"
                class="pt-2 pb-2 pl-0 pr-0"
                style="display: flex; justify-content: center"
              >
                <img
                  src="~assets/img/accout-normal.png"
                  width="60px"
                  style="background: #fff; border-radius: 5px; padding: 5px"
                  alt=""
                />
              </v-col>
              <v-col cols="4" lg="6" sm="6" class="pl-0">
                <h2 v-if="fullname" class="review-username">{{ fullname }}</h2>
                <h2 v-else class="review-username">ยังไม่ล็อคอิน</h2>
              </v-col>
              <v-col cols="5" lg="5" sm="5" class="review-star">
                <v-rating
                  v-model="dataWrite.rating"
                  half-icon="mdi-star-half-full"
                  full-icon="mdi-star"
                  half-increments
                  background-color="#FFD700"
                  color="#FFD700"
                  large
                ></v-rating>
              </v-col>
            </v-row>
          </v-col>
          <v-col class="mt-6">
            <v-row>
              <v-col cols="12" lg="5" sm="5" class="pa-0">
                <div class="review-up-img" style="position: relative">
                  <img
                    v-if="imagePreviewURL"
                    :src="imagePreviewURL"
                    width="100%"
                    alt=""
                  />
                  <img
                    v-else
                    src="~assets/img/back-write-review.png"
                    width="100%"
                    alt=""
                  />
                  <v-icon
                    @click="
                      (imagePreviewURL = null),
                        (showInput = !showInput),
                        (dataWrite.image = null)
                    "
                    v-show="!showInput"
                    style="position: absolute; top: 10px; right: 10px"
                    >mdi-close</v-icon
                  >
                  <v-file-input
                    v-show="showInput"
                    v-model="dataWrite.image"
                    :rules="imageRules"
                    @change="onFileChange"
                    accept="image/jpeg, image/png,"
                    truncate-length="15"
                    small-chips
                    style="
                      position: absolute;
                      top: 35%;
                      width: 200px;
                      left: 35%;
                    "
                    label="Add Photo"
                    prepend-icon="mdi-plus"
                  ></v-file-input>
                </div>
              </v-col>
              <v-col cols="12" lg="7" sm="7" class="review-data mb-2">
                <span
                  style="
                    position: absolute;
                    top: 25px;
                    left: 0;
                    background: #ffbadb;
                    color: #ffffcc;
                    padding: 0 5px 0 30px;
                    font-weight: bold;
                  "
                >
                  REVIEW
                </span>
                <v-col col="12" style="margin-top: 50px">
                  <v-text-field
                    v-model="dataWrite.title"
                    counter="100"
                    :rules="titleRules"
                    class="title-write-review"
                    label="#หัวข้อรีวิว"
                    clearable
                  ></v-text-field>
                  <v-text-field
                    v-model="dataWrite.title_sub"
                    counter="120"
                    :rules="titleSubRules"
                    class="title-write-review"
                    label="#หัวข้อย่อย"
                    clearable
                  ></v-text-field>
                  <v-textarea
                    v-model="dataWrite.description"
                    counter="300"
                    :rules="descriptionRules"
                    auto-grow
                    class="review-textarea"
                    clear-icon="mdi-close-circle"
                    label="#ข้อความ"
                    value=""
                  ></v-textarea>
                </v-col>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" style="display: flex; justify-content: flex-end">
            <div style="position: relative; width: 350px">
              <v-text-field
                v-model="review_search"
                filled
                class="review-search-product"
                label="ค้นหาสินค้า"
                append-icon="mdi-magnify"
              ></v-text-field>
              <div
                v-if="review_search"
                style="
                  width: 350px;
                  background: rgba(0, 0, 0, 0.2);
                  position: absolute;
                  top: 60px;
                  z-index: 10;
                "
              >
                <div
                  v-for="(item, i) in filteredProduct"
                  :key="i"
                  class="product-search"
                  @click="chooseProduct(item)"
                >
                  <v-col cols="3" class="pa-1 pt-3">
                    <img src="~assets/img/product-04.jpg" width="100%" alt="" />
                  </v-col>
                  <v-col cols="10" class="pa-1"
                    ><h5 style="color: #fff; font-size: 14px">
                      {{ item.name.slice(0, 25) }}
                    </h5>
                    <h5 style="color: #fff; font-size: 10px">
                      {{ item.description.slice(0, 35) }}
                    </h5>
                  </v-col>
                </div>
              </div>
            </div>
          </v-col>
          <v-col cols="12" style="background: rgb(195, 213, 245)">
            <v-row style="width: 100%">
              <v-col cols="2" lg="2" sm="2" class="pt-2 pb-2 pl-2 pr-0">
                <img
                  v-if="showProduct"
                  class="review-image-product"
                  :src="`/api/v1/product/picture-product/${productPick.image}`"
                  style=""
                  alt=""
                />
                <img
                  v-else
                  class="review-image-product"
                  src="~assets/img/back-write-review.png"
                  style=""
                  alt=""
                />
              </v-col>
              <v-col
                v-if="showProduct"
                cols="6"
                lg="6"
                sm="6"
                class="pl-1 pt-0"
              >
                <h2 class="review-name-product">
                  {{ productPick.name_brands }}
                </h2>
                <h5 class="review-product-name-and-description">
                  {{ productPick.name.slice(0, 18) }}
                </h5>
                <h5 class="review-product-name-and-description">
                  {{ productPick.description.slice(0, 18) }}
                </h5>
              </v-col>
              <v-col v-else cols="6" lg="6" sm="6" class="pl-1 pt-0">
                <h2 class="review-name-product">Brands...</h2>
                <h5 class="review-product-name-and-description">ชื่อ...</h5>
                <h5 class="review-product-name-and-description">
                  รายละเอียดสินค้า...
                </h5>
              </v-col>
              <v-col cols="4" lg="4" sm="4" class="review-product-price">
                <span v-if="showProduct">
                  <span
                    v-if="productPick.discount_promotion >= 1"
                    style="position: relative"
                  >
                    <span class="price">
                      {{
                        Intl.NumberFormat("th-TH", {
                          currency: "THB",
                        }).format(
                          productPick.price -
                            (productPick.price *
                              productPick.discount_promotion) /
                              100
                        )
                      }}.-
                    </span>
                    <span class="price-sale" v-if="showProduct"
                      ><span
                        class="line-price-sale"
                        v-if="productPick.discount_promotion >= 1"
                        >{{
                          Intl.NumberFormat("th-TH", {
                            currency: "THB",
                          }).format(productPick.price)
                        }}.-</span
                      >
                      <span
                        class="line-price-sale"
                        v-else-if="productPick.discount >= 1"
                        >{{
                          Intl.NumberFormat("th-TH", {
                            currency: "THB",
                          }).format(productPick.price)
                        }}.-</span
                      >
                    </span>
                  </span>
                  <span v-else-if="productPick.discount >= 1">
                    <span class="price">
                      {{
                        Intl.NumberFormat("th-TH", {
                          currency: "THB",
                        }).format(productPick.price - productPick.discount)
                      }}.-
                    </span>
                    <span class="price-sale" v-if="showProduct"
                      ><span
                        class="line-price-sale"
                        v-if="productPick.discount_promotion >= 1"
                        >{{
                          Intl.NumberFormat("th-TH", {
                            currency: "THB",
                          }).format(productPick.price)
                        }}.-</span
                      >
                      <span
                        class="line-price-sale"
                        v-else-if="productPick.discount >= 1"
                        >{{
                          Intl.NumberFormat("th-TH", {
                            currency: "THB",
                          }).format(productPick.price)
                        }}.-</span
                      >
                    </span>
                  </span>

                  <span class="price" v-else>{{ productPick.price }}.-</span>
                </span>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" style="display: flex; justify-content: center">
            <div
              :style="
                checkcaptcha
                  ? 'border:1px solid red'
                  : 'border:1px solid rgba(0,0,0,0)'
              "
            >
              <recaptcha @success="captchaSuccess" />
            </div>
          </v-col>
          <v-col
            cols="12"
            style="display: flex; justify-content: center; align-items: center"
          >
            <v-btn @click="writeReview()" class="review-write-btn">
              ตกลง
            </v-btn>
            <v-btn
              @click="
                (dataWrite = {}),
                  (imagePreviewURL = null),
                  (showInput = 1),
                  $router.push('/review')
              "
              class="review-write-btn"
            >
              ยกเลิก
            </v-btn>
          </v-col>
        </v-form>
      </v-container>
    </v-col>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      tokenCaptcha: null,
      checkcaptcha: false,
      timeout: 1000,
      snackWrite: false,
      textalert: "",
      showInput: 1,
      product_for_search: [],
      review_search: "",
      productSearch: [],
      productPick: {},
      showProduct: 0,
      fullname: "",
      dataWrite: {},
      imagePreviewURL: null,
      titleRules: [
        (v) => !!v || "ยังไม่ใส่หัวข้อ",
        (v) => (v && v.length <= 100) || "หัวข้อยาวเกินไป",
      ],
      imageRules: [(v) => !!v || "ยังไม่เลือกรูปภาพ"],
      titleSubRules: [
        (v) => !!v || "ยังไม่ใส่หัวข้อย่อย",
        (v) => (v && v.length <= 120) || "หัวข้อย่อยยาวเกินไป",
      ],
      descriptionRules: [
        (v) => !!v || "ยังไม่ใส่รายละเอียด",
        (v) => (v && v.length <= 300) || "รายละเอียดยาวเกินไป",
      ],
    };
  },
  computed: {
    filteredProduct: function () {
      const productReview = this.product_for_search.filter((product) => {
        return product.name
          .toLowerCase()
          .match(this.review_search.toLowerCase());
      });
      if (this.review_search) {
        if (productReview.length > 4) {
          productReview.length = 4;
        }
      }
      return productReview;
    },
  },
  mounted() {
    this.productBeforeSearch();
    this.getName();
    this.checkLogin();
  },
  methods: {
    ...mapActions({
      searchProduct: "navigation/searchProduct",
      getProductReview: "review-content/getProductReview",
      getFullName: "review-content/getFullName",
      createReview: "review-content/createReview",
    }),
    onFileChange(payload) {
      const file = payload;
      if (file) {
        this.imagePreviewURL = URL.createObjectURL(file);
        URL.revokeObjectURL(file);
        this.showInput = 0;
      } else {
        this.imagePreviewURL = null;
      }
    },
    captchaSuccess(token) {
      this.tokenCaptcha = token;
    },
    async writeReview() {
      const data = {
        title: this.dataWrite.title,
        title_sub: this.dataWrite.title_sub,
        description: this.dataWrite.description,
        image: this.dataWrite.image,
        rating: this.dataWrite.rating,
        customer_id: this.$auth.user.data.id,
        product_id: this.productPick.id,
      };
      if (this.$auth.loggedIn) {
        if (this.$refs.form.validate()) {
          if (!data.rating) {
            alert("ยังไม่ได้เลือกระดับดาว");
          } else if (!data.product_id) {
            alert("ยังไม่ได้เลือกสินค้าที่จะรีวิว");
          } else if (!this.tokenCaptcha) {
            this.checkcaptcha = true;
            alert("คุณยังไม่ได้กดยืนยันว่าไม่ใช่โปรแกรมอัตโนมัติ!!");
          } else {
            const res = await this.createReview(data);
            if (res.success) {
              this.snackWrite = true;
              this.textalert = res.message;
              this.dataWrite = {};
              this.imagePreviewURL = null;
              this.showInput = 1;
              this.checkcaptcha = false;
              this.tokenCaptcha = null;
              await this.$recaptcha.reset();
            }
          }
        } else {
          this.$refs.form.validate();
        }
      } else {
        alert("ยังไม่ล็อคอิน");
      }
      // console.log(data);
    },
    async getName() {
      const data = { id: this.$auth.user.data.id };
      const res = await this.getFullName(data);
      this.fullname = res.data;
    },
    checkLogin() {
      if (!this.$auth.loggedIn) {
        this.$router.push("/login");
      }
    },
    async chooseProduct(item) {
      if (this.$auth.loggedIn) {
        const res = await this.getProductReview(item);
        if (res.success) {
          this.productPick = res.data;
          this.review_search = "";
          this.showProduct = 1;
        } else {
          alert("ระบบมีปัญหา");
        }
      } else {
        alert("กรุณาล็อคอินก่อน");
      }
      // if (this.productPick) {
      //   console.log(this.productPick);
      // }
    },
    async productBeforeSearch() {
      const res = await this.searchProduct();
      this.product_for_search = res;
    },
    async searchReviewProduct() {
      const productReview = this.product_for_search.filter((product) => {
        return product.name
          .toLowerCase()
          .match(this.review_search.toLowerCase());
      });
      if (productReview) {
        productReview.length = 4;
        this.productSearch = productReview;
      }
    },
  },
};
</script>
<style>
.review-write-btn {
  border-radius: 0;
  margin: 10px;
  width: 300px;
  height: 50px !important;
  background: #ffbadb !important;
}
.review-write-btn .v-btn__content {
  font-family: "DBHelvethaicaMonXBd";
  font-size: 60px;
  color: #fff;
}
.review-product-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.review-product-price .price {
  font-size: 3em;
  font-style: italic;
  color: #ff5065;
}
.review-product-price .price-sale {
  position: relative;
}
.review-product-price .line-price-sale::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ff5065;
  position: absolute;
  transform: rotate(-20deg);
  top: 10px;
  left: -5px;
}
.review-product-price .price-sale {
  position: absolute;
  right: -30px;
  font-style: italic;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
.product-search {
  display: flex;
  border-bottom: 1px solid #fff;
}
.product-search:hover {
  background: rgba(0, 0, 0, 0.8);
}
.review-search-product {
  width: 350px;
}
.review-image-product {
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
}
.review-product-name-and-description {
  font-size: 24px;
}
.review-name-product {
  font-size: 36px;
  color: #fff;
  font-family: "DBHelvethaicaMonXBd";
}
.review-textarea .v-label {
  color: #7789c5 !important;
  margin-left: 6px;
}
.review-data {
  position: relative;
  background: rgb(195, 213, 245);
}
.review-up-img .v-text-field__slot .v-label {
  color: #7789c5 !important;
  font-size: 20px;
  font-weight: bold;
}
.review-up-img .v-icon {
  color: #7789c5;
}
.review-up-img .v-input__control .v-input__slot:before {
  border-color: #fff !important;
  width: 0;
}
.container-wraite {
  margin-top: 100px;
}
.review-text-write {
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-style: italic;
  font-family: "DM Serif Display";
}
.review-username {
  color: #ffffcc;
  font-family: "AvenirBlack";
}
.review-star {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
}
.title-write-review .v-text-field__slot .v-label {
  color: #7789c5 !important;
  font-family: "DM Serif Display";
}
@media screen and (max-width: 960px) {
  .review-up-img .v-text-field__slot .v-label {
    color: #7789c5 !important;
    font-size: 14px;
    font-weight: bold;
  }
  .review-image-product {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
  }
  .review-write-btn {
    border-radius: 0;
    margin: 10px;
    width: 150px;
    height: 30px !important;
    background: #ffbadb !important;
  }
  .review-write-btn .v-btn__content {
    font-family: "DBHelvethaicaMonXBd";
    font-size: 40px;
    color: #fff;
  }
}
@media screen and (max-width: 550px) {
  .review-up-img .v-text-field__slot .v-label {
    color: #7789c5 !important;
    font-size: 20px;
    font-weight: bold;
  }
  .review-product-price .price {
    font-size: 1.5em;
    font-style: italic;
    color: #ff5065;
  }
  .review-product-price .line-price-sale::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #ff5065;
    position: absolute;
    transform: rotate(-20deg);
    top: 10px;
    left: -5px;
  }
  .review-product-price .price-sale {
    position: absolute;
    right: -30px;
    font-style: italic;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
  }
  .review-image-product {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    width: 50px;
  }
  .review-name-product {
    font-size: 26px;
    margin-bottom: -10px;
    color: #fff;
    font-family: "DBHelvethaicaMonXBd";
  }
  .review-product-name-and-description {
    font-size: 14px;
  }
  .container-wraite {
    padding: 0;
  }
  .review-username {
    color: #ffffcc;
    font-family: "AvenirBlack";
    font-size: 16px;
  }
  .review-star {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 5px;
  }
  .review-star .v-icon {
    font-size: 26px !important;
    padding: 0;
  }
  /* v-icon .mdi-star */
}
</style>