<template>
  <v-col cols="12" lg="3" sm="4" id="main-user">
    <v-col class="pc-user-account pa-0" style="border: 1px solid #7789c5">
      <v-col
        style="
          display: flex;
          padding: 15px 10px;
          background: #7789c5;
          color: #fff;
        "
      >
        <h3 v-if="$auth.user.data.username.length >= 10">
          Username: {{ $auth.user.data.username.slice(0, 10) + "..." }}
        </h3>
        <h3 v-else>Username: {{ $auth.user.data.username }}</h3>
      </v-col>
      <v-col style="padding: 0; background: #fff; padding-bottom: 20px">
        <v-col style="display: flex; align-items: center"
          ><img src="~assets/img/account-pink.png" width="30px" alt="" />
          <h3 style="color: #ff91c4">บัญชีของฉัน</h3>
        </v-col>
        <v-col class="pt-0" style="padding-left: 35px">
          <v-col class="pa-0"
            ><nuxt-link to="/user/profile" style="color: #7789c5">
              <h4>ประวัติ</h4></nuxt-link
            >
          </v-col>
          <v-col class="pl-0 pr-0">
            <nuxt-link to="/user/address" style="color: #7789c5">
              <h4>ที่อยู่</h4></nuxt-link
            >
          </v-col>
        </v-col>
        <v-col style="display: flex; align-items: center"
          ><img src="~assets/img/cart-pink.png" width="30px" alt="" />
          <nuxt-link to="/user/purchase"
            ><h3 style="color: #ff91c4">การซื้อของฉัน</h3></nuxt-link
          >
        </v-col>
      </v-col>
    </v-col>
    <!-- <v-col class="mobile-user-account pa-0">
      <v-row style="width: 100%">
        <v-col cols="4">
          <nuxt-link to="/user/profile"
            ><img src="~assets/img/profile.png" width="100%" alt=""
          /></nuxt-link>
        </v-col>
        <v-col cols="4">
          <nuxt-link to="/user/address"
            ><img src="~assets/img/address.png" width="100%" alt=""
          /></nuxt-link>
        </v-col>
        <v-col cols="4" style="display: flex; justify-content: center">
          <nuxt-link to="/user/purchase"
            ><img
              src="~assets/img/ck.png"
              style="max-width: 150px; max-height: 110px"
              alt=""
          /></nuxt-link>
        </v-col>
      </v-row>
    </v-col> -->
  </v-col>
</template>
<style>
#main-user {
}
#main-user .pc-user-account {
  display: block;
}
#main-user .mobile-user-account {
  display: none;
  width: 100%;
  /* height: 80px; */
}
@media screen and (max-width: 550px) {
  #main-user .mobile-user-account {
    display: block;
  }

  /* #main-user .pc-user-account {
    display: none;
  } */
  #main-user {
    height: 100%;
    padding: 0;
  }
}
</style>
