<template>
  <div>
    <v-col style="background:#7789c5;padding:0;">
      <v-container>
        <v-col
          cols="12"
          style="display:flex;justify-content:center;align-items:center;height:80vh;"
        >
          <v-col cols="12" lg="8">
            <v-col
              class="pa-0"
              style="display:flex;justify-content:center;align-items:center;"
            >
              <img
                src="~assets/img/circle-correct.png"
                width="70px"
                height="70px"
                alt=""
              />
            </v-col>
            <v-col
              class="pa-0"
              style="display:flex;justify-content:center;align-items:center;"
            >
              <h2 id="payment-successfuly-text">Payment Successful!</h2>
            </v-col>
            <v-col
              col="12"
              class="pa-0"
              style="display:flex;justify-content:center;align-items:center;"
            >
              <v-col cols="12" lg="6" class="pa-0">
                <v-col id="payment-successfuly-head" class="pa-0"> </v-col>
                <v-col id="payment-successfuly-body" class="pa-0">
                  <v-col
                    cols="12"
                    class="pa-0"
                    style="display:flex;justify-content:center;align-items:center;"
                  >
                    <img
                      src="~assets/img/heart.png"
                      width="70px"
                      height="70px"
                      alt=""
                      style="margin-top:-35px;"
                    />
                  </v-col>
                  <v-col class="pa-0"
                    ><h2 id="payment-successfuly-text-thankyou">
                      Thank You
                    </h2>
                    <h2 id="payment-successfuly-text-thankyou-foryou">
                      For Your Order
                    </h2>
                    <h4 id="payment-successfuly-text-last">
                      ขอบคุณที่มาช้อปกับ Seoulgoods
                    </h4>
                    <h4 id="payment-successfuly-text-last">
                      ทางเราจะทำการจัดส่งให้โดยเร็วที่สุด :)
                    </h4>
                  </v-col>
                  <v-col cols="9" lg="8" id="sign" class="pa-1 mt-2">
                    <h4>Order Number: {{ $route.params.ordernumber }}</h4>
                  </v-col>
                  <v-col class="12" id="last-step-relly">
                    <v-btn to="/">Go Shopping</v-btn>
                    <v-btn :to="`/user/purchase/`" style="margin-top:10px;"
                      >View My Order</v-btn
                    >
                  </v-col>
                </v-col>
              </v-col>
            </v-col>
          </v-col>
        </v-col>
      </v-container>
    </v-col>
  </div>
</template>
<style>
#last-step-relly .v-btn {
  text-transform: none;
  background: #7789c5;
  color: #fff;
  border-radius: 0;
  width: 100%;
}
#last-step-relly .v-btn__content {
  font-family: "Prompt", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
#sign {
  background: #ff91c4;
  border-radius: 0 40px 40px 0;
  margin-left: -10px;
}
#sign h4 {
  font-weight: 400;
  color: #ffffcc;
}
#payment-successfuly-text-thankyou {
  font-size: 3em;
  color: #7789c5;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-style: italic;
  text-align: center;
}
#payment-successfuly-text-last {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  color: #7789c5;
}
#payment-successfuly-text-thankyou-foryou {
  margin-top: -20px;
  color: #ff91c4;
  font-size: 2em;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-style: italic;
  text-align: center;
}
#payment-successfuly-head {
  background: #c3d5f5;
  height: 60px;
}
#payment-successfuly-body {
  background: #fff;
}
#payment-successfuly-text {
  font-size: 3em;
  color: #ffffcc;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-style: italic;
}
@media screen and (max-width: 540px) {
  #payment-successfuly-text {
    font-size: 2.2em;
    color: #ffffcc;
    font-family: "DM Serif Display";
    font-weight: 400;
    font-style: italic;
  }
}
</style>
